@{
    ViewBag.Title = "APP Report";
}

<div class="row">
    <div class="col-sm-12">
        
        <form class="form-inline" id="SearchForm" method="post">
            <div class="form-group">
                <div data-date-format="yyyy-mm-dd" class="input-daterange input-group">
                    <input type="datetime" id="StartTime" name="StartTime" class="form-control" placeholder="开始日期" />
                    <span class="input-group-addon">
                        <i class="fa fa-exchange"></i>
                    </span>
                    <input type="datetime" id="EndTime" name="EndTime" class="form-control" placeholder="结束日期" />
                </div>
                <div class="form-group">
                    <select id="appCate" class="form-control" name="appCate" data-placeholder="Please Select App">
                        <option value="" selected="selected">Please Choose APP</option>
                        @foreach(var item in ViewBag.Apps)
                        {
                            <option value="@item.WeixinAppId">@item.AppName</option>
                        }
                    </select>
                </div>
                <a href="#" class="btn btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
            </div>
            <div class="form-group pull-right">
                <button type="button" class="btn btn-sm btn-success" id="btnExport">
                    <i class="fa fa-download"></i>输出
                </button>
            </div>
        </form>

        <div class="widget-box">
            <div class="widget-content nopadding">

                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width: 10%; text-align: center;">@T("Id")</th>
                            <th style="width: 30%; text-align: center;">@T("日期")</th>
                            <th style="width: 30%">@T("APP名称")</th>
                            <th style="width: 15%">@T("访问人数")</th>
                            <th style="width: 15%">@T("访问次数")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>

@section scripts_Foot
{
    <script type="text/javascript">

        $(document).ready(function () {


            $("#btnSearch").on('click', function () {
                checkdate();
            });
            $("#btnExport").on('click', function () {
                checkdate();
            });

            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": { "url": "GetList" },
                "deferLoading": 0,
                "aoColumns": [
                    {
                        "mData": "Id",
                        "bSortable": false,
                        "sClass": "sTdCheckbox"

                    },
                    {
                        "mData": "AccessDate",
                        "bSearchable": false,
                        "bSortable": false
                    },
                    { "mData": "AppName" },
                    { "mData": "AccessPerson" },
                    { "mData": "AccessCount" }
                ],

                "columnDefs": jQuery.extend(true, datatableSetting.columnDefs, [
                    {
                        "targets": 0,
                        "render": function (data, type, full, meta) {
                            return full.Id;
                            
                        }
                    }
                ]),


                fnDrawCallback: function () {

                    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                    $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                    $('.gotopage').click(function () {
                        var gopage = (/^[0-9]+$/).test($('#go_page').val()) ? $('#go_page').val() : "1";
                        $('.data-table').dataTable().api().page(parseInt(gopage) - 1).draw(false)
                    })
                }
            }));


            LEAP.Common.MainPop.options.afterShowModal = function () {

            };

            LEAP.Common.MainPop.options.afterBindData = function (o) {
                if (o == null || o.ArticleStatus == null || o.ArticleStatus == 'Saved') {
                    $('#labelSubmit').hide();
                    $('#btnSave').prop('disabled', false);
                } else {
                    $('#labelSubmit').show();
                    $('#btnSave').prop('disabled', true);
                    var timeout = setTimeout(function () {
                        $('span.msg').hide();
                    }, 3000);
                }

            };
            //datepicker plugin
            $('.input-daterange').datepicker({
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'yyyy/mm/dd',
                minDate: -10,
                maxDate: "+1M +10D",
                todayBtn: "linked",
                clearBtn: true
            });
                
        });

        function checkdate() {
            var start = $("#StartTime").val();
            var end = $("#EndTime").val();
            if (start == null || start.length == 0) {
                artDialog.alert("起始日期不能为空");
                return false;
            }
            if (end == null || end.length == 0) {
                artDialog.alert("截止日期不能为空");
                return false;
            }

            var startime = new Date(start);
            var endtime = new Date(end);
            if (startime.getTime() > endtime.getTime()) {
                artDialog.alert("截止日期不能早于起始日期。");
                return false;
                //Math.floor(date3 / (24 * 3600 * 1000))
            } else if (Math.floor((endtime.getTime() - startime.getTime()) / (24 * 3600 * 1000)) > 60) {
                artDialog.alert("间隔时间不能超过两个月。");
                return false;
            }
            return true;
        }

        function BeforeExport() {
            return checkdate();
        }

        function BeforeSearch() {
            return checkdate();
        }
    </script>
}




