@using Infrastructure.Web.Domain.Entity;
<!--Action boxes-->

<div class="row">
    <div class="col-sm-12">

        <form class="form-inline" id="SearchForm">
            <div class="form-group">
                <input class="form-control" type="text" id="search_condition" name="search_condition" placeholder=" 用户名 / 真实姓名 / 邮箱">
                <a href="#" class="btn btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
            </div>
            <div class="form-group pull-right">
                <a href="#" class="btn btn-success btn-sm" id="btnAdd" data-toggle="tooltip" data-placement="top" title="增加">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </form>

        <div class="clearfix"></div>

        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered table-hover data-table">
                    <thead>
                        <tr>
                            <th>@T("用户名")</th>
                            <th>@T("真实姓名")</th>
                            <th>@T("邮箱")</th>
                            <th style="width: 8%;">@T("操作")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="ModalTable" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">Please fill the followings</h4>
            </div>

            <div class="modal-body">
                <form action="Post" id="ff" method="get" class="form-horizontal" datasource="Get">
                    <input type="hidden" id="ID" name="ID" value="0" />

                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户名:</label>
                        <div class="col-sm-9">
                            <input type="text" name="UserName" class="form-control" placeholder="UserName" data-bind="value: UserName"
                                validate="{required:true}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">密码:</label>
                        <div class="col-sm-9">
                            <input type="password" name="PasswordHash" class="form-control" placeholder="Password" data-bind="value: PasswordHash"
                                validate="{required:true}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">真实姓名:</label>
                        <div class="col-sm-9">
                            <input type="text" name="UserTrueName" class="form-control" placeholder="Employee Name" data-bind="value: UserTrueName"
                                validate="{required:true}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">邮箱:</label>
                        <div class="col-sm-9">
                            <input type="text" name="Email" class="form-control" placeholder="Email" data-bind="value: Email"
                                validate="{required:true}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">权限:</label>
                        <div class="col-sm-9">
                            <select multiple="" class="select2 tag-input-style" name="strRoles" id="strRoles" data-placeholder="Choose a Role..." data-bind="value: strRoles">
                                @foreach (SysRole a in ViewBag.Roles)
                                {
                                    <option value="@a.Id">@a.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>

                <button class="btn btn-sm btn-primary" data-action="save">
                    <i class="ace-icon fa fa-check"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>



@section scripts_Foot
{
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
        var popMenu;
        var IdCur;

        $(document).ready(function () {
            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": {
                    "url": "GetList"
                },
                "paging": true,
                "info": false,
                "aoColumns": [
                    { "mData": 'UserName' },
                    { "mData": 'UserTrueName' },
                    { "mData": 'Email' },
                    { "mData": "Operation" }
                ],
                "columnDefs": [
                {
                    "targets": 3,
                    "render": function (data, type, full, meta) {
                        return '<a href="#" onclick="LEAP.Common.MainPop.ShowUpdateInfo(\'' + full.Id + '\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:4px;" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>' +
                            '<a href="#" onclick="LEAP.Common.MainPop.RowClick(\'' + full.Id + '\',2);return false;" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="tooltip" data-placement="top" title="删除">' +
                            '<i class="fa fa-trash-o"></i></a>';
                    }
                }],
                fnDrawCallback: function () {

                    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                    $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                    $('.gotopage').click(function () {
                        var gopage = (/^[0-9]+$/).test($('#go_page').val()) ? $('#go_page').val() : "1";
                        $('.data-table').dataTable().api().page(parseInt(gopage) - 1).draw(false)
                    })
                }
            }));
            //inital select2
            $('.select2').css("width", "362px").select2({ allowClear: true });
        });
    </script>
}

