@using System.Web.WebPages.Html
@using Innocellence.WeChatMeeting.Domain.ViewModel;
@using Innocellence.WeChatMeeting.Domain.Entity;
@using Innocellence.WeChat.Domain.Common;
@using Infrastructure.Web.Domain.Service;

@model Innocellence.WeChatMeeting.Domain.ViewModel.MeetingView

@section easyui_css
{
    <link rel="stylesheet" href="~/styles/EasyUI/easyui.css" type="text/css" />

}
<style>
    .groups {
        margin-bottom: 20px;
    }

    .btnGroup {
        position: absolute;
        bottom: -10px;
        right: -36px;
        width: 80px;
        line-height: 20px;
        font-size: 13px;
        text-align: center;
    }
    .timeGroup {
        padding: 15px 0;
    }
    .timeGroup div:first-child{
        margin-bottom:2px;
    }
    .addBtn {
        padding: 4px 8px;
        margin: 2px 0 20px 15px;
        border: 1px solid #d06764;
        text-align: center;
        display: block;
        color: #d06764;
        background: #ffffff;
        cursor: pointer;
        outline: none;
    }

    .bot_btn {
        width: 100%;
        float:left;
    }
    .bot_btn .addBtn {
        float:right;
        width:200px;
    }
    .add1, .del1 {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #ffffff;
        text-align: center;
        line-height: 20px;
        background: #2577e3;
        display: inline-block;
        cursor: pointer;
    }
    .control-label span {
        font-size:13px;
    }
</style>



@{


    <script src="/Scripts/wechatab/lib/layer/layer.js"></script>
    <script src="/Scripts/wechatab/dist/wechatab.js"></script>
    <script src="/Scripts/jsviews.min.js"></script>
    <script src="/Scripts/p.list.bind.js"></script>
    <script src="/Scripts/pages.js"></script>
    <script src="/Scripts/jquery.colorbox.js"></script>
    <script src="/Scripts/fileupload/powerWebUpload.js"></script>


    Script.Include("~/Plugins/Innocellence.WechatMain/Scripts/jquery.ui.widget.js");
    Script.Include("~/Plugins/Innocellence.WechatMain/Scripts/jquery.iframe-transport.js");
    Script.Include("~/Plugins/Innocellence.WechatMain/Scripts/jquery.fileupload.js");
    Style.Include("~/Plugins/Innocellence.WechatMain/Scripts/jquery.fileupload.css");

    <link href="~/Plugins/Innocellence.WechatMain/Content/FileManage.css" rel="stylesheet" />
}
<!-- 配置文件 -->
<script type="text/javascript" src="/Scripts/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/Scripts/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="/Scripts/wechatab/lib/layer/layer.js"></script>
<script type="text/javascript" src="/Scripts/wechatab/dist/wechatab.js"></script>



<div id="ModalTable">

    <form action="Post" id="ff" method="get" class="form-horizontal">

        <input type="hidden" id="ID" name="ID" value="@Model.Id" />
        <input type="hidden" id="AppId" name="AppId" value="@ViewBag.AppId" />
        <input type="hidden" id="IsCorp" name="IsCorp" value="@ViewBag.IsCorp" />
        <input type="hidden" id="WeChatID" name="WeChatID" value="@ViewBag.WeChatID" />
        <input type="hidden" id="SaveFullName" name="SaveFullName" />
        <input type="hidden" id="FileName" name="FileName" />
        <input type="hidden" id="TargetFilePath" name="TargetFilePath" />
        <input type="hidden" id="PersonArray" name="PersonArray" value="@Model.PersonArray" />
        <input type="hidden" id="timeslot" name="timeslot" value="@Model.TimeSlot" />


        <div class="row-fluid sortable" style="width:99%;">
            <div class="box span12">
                <label class="col-sm-2 control-label">邀请人员</label>
                <div class="box-content" style="margin-left:19%;margin-bottom:20px;">
                    <div id="wechatab"></div>
                </div>
            </div>
        </div>
        <div>
            <label class="col-sm-2 control-label">会议主题<br><span>(100字以内)</span></label>
            <div class="col-sm-10" style="margin-bottom:20px;">
                <input type="text" name="Title" class="form-control" placeholder="Title" value="@Model.Title" style="margin-left:10px;width:99%;"
                       validate="{required:true,maxlength:150,messages:{required:'Please set a title for this meeting.', maxlength:'This title is too long.'}}" />
            </div>
        </div>

        <div>
            <label class="col-sm-2 control-label">会议地点<br><span>(255字以内)</span></label>
            <div class="col-sm-10" style="margin-bottom:20px;">
                <input type="text" name="Location" class="form-control" placeholder="Location" value="@Model.Location" style="margin-left:10px;width:99%;"
                       validate="{required:true,maxlength:100,messages:{required:'Please set a location for this meeting.', maxlength:'This title is too long.'}}" />
            </div>
        </div>


        <div class="clearfix"></div>
        <input type="hidden" id="hid_meet_start0" />
        <input type="hidden" id="hid_meet_end0" />
        <input type="hidden" id="hid_start_time0" />
        <input type="hidden" id="hid_end_time0" />
        <div class="groups">
            <div class="group">
                <div class="timeGroup" data-tag="0">
                    <div class="clearfix">
                        <label class="col-sm-2 control-label">会议时间</label>
                        <div class="col-sm-6 " style="position: relative;">
                            <div class="form-inline">
                                <input readonly="readonly" type="text" id="sdTime0" class="input-append date date-picker" name="StartDateTime0" placeholder="开始时间" style="margin-left:10px;width:45%;" />
                                →
                                <input readonly="readonly" type="text" id="edTime0" class="input-append date date-picker" name="EndDateTime0" placeholder="结束时间" style="width:45%;" />
                            </div>
                            <div class="btnGroup">
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <label class="col-sm-2 control-label">签到时间</label>
                        <div class="col-sm-6 ">
                            <div class="form-inline">
                                <input readonly="readonly" type="text" id="ssTime0" class="input-append date date-picker" name="SignStartTime0" placeholder="开始时间" style="margin-left:10px;width:45%;" />
                                →
                                <input readonly="readonly" type="text" id="seTime0" class="input-append date date-picker" name="SignEndTime0" placeholder="结束时间" style="width:45%;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bot_btn">
                <div class="addBtn" />+添加其它可用会议时间
            </div>
        </div>



        <div>
            <label class="col-sm-2 control-label">会议主持人<br><span>(500字以内)</span></label>
            <div class="col-sm-10" style="margin-bottom:20px;">
                <input type="text" name="Owner" class="form-control" placeholder="Owner" value="@Model.Owner" style="margin-left:10px;width:99%;"
                       validate="{required:true,maxlength:20,messages:{required:'Please set a owner for this meeting.', maxlength:'This title is too long.'}}" />

            </div>
        </div>









        @*<div>
                <label class="col-sm-2 control-label">是否需要报名</label>

                <div class="col-sm-10" style="margin-bottom:10px;">
                    <input type="hidden" name="IsSignUp" id="IsSignUp" value="@Model.IsSignUp.ToString()" />
                    @if (Model.IsSignUp.HasValue && Model.IsSignUp.Value == true)
                    {
                    <input type="checkbox" name="IsSignUpBox" class="ace ace-switch ace-switch-2 form-control" checked="checked" />
                    }
                    else if (Model.IsSignUp.HasValue && Model.IsSignUp.Value == false)
                    {
                    <input type="checkbox" name="IsSignUpBox" class="ace ace-switch ace-switch-2 form-control" />
                    }
                    else
                    {
                    <script type="text/javascript">
                                    $(function () {
                                        $('#IsSignUp').val("True");
                                    })
                    </script>
                    <input type="checkbox" name="IsSignUpBox" class="ace ace-switch ace-switch-2 form-control" checked="checked" />
                    }
                    <span class="lbl mt10"></span>
                </div>
            </div>*@


        <div>
            <label class="col-sm-2 control-label">资料上传</label>
            <div class="col-sm-10" style="margin-bottom:20px;">
                <div class="float-right js_create">
                    <a style="cursor:pointer;margin-right:10px;" class="btn btn-white btn-primary " data-toggle="modal" data-placement="top"
                       title="资料上传" id="UploadBtn" data-target="#FileUploadModal">
                        <i class="fa fa-image"></i>&nbsp;资料上传
                    </a>
                </div>

                <ul style="margin-left:10px;" id="filelist"></ul>

                <ul style="margin-left:10px;">
                    @foreach (Innocellence.WeChatMeeting.Domain.Entity.MeetingFile item in ViewBag.MeetingFileList)
                    {

                        <li style="cursor:pointer;" id="@item.Id">@item.FileName<i class="fa fa-trash-o" style="margin-left:10px;" onclick="Del(@item.Id)"></i></li>
                    }
                </ul>
            </div>
        </div>


        <div class="modal fade" id="FileUploadModal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modal-title">文件</h4>
                    </div>
                    <div class="modal-body">
                        <div id="picUploader" class="wu-example">
                            <input id="file-upload-input" class="form-control upload-input" type="file" name="file"
                                   onchange="" />
                            <input id="file-upload-input-hidden" type="hidden" />
                            <div id="file-progress-bar" class="progress" style="margin-bottom: 0px;margin-top:5px;">
                                <div class="bar progress-bar" style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div>
            <label class="col-sm-2 control-label">会议内容</label>

            <div class="col-sm-10" style="width:82%;margin-left:18%;margin-bottom:20px;">
                <script type="text/plain" id="myEditor" name="Content" style="height: 640px; width: 100%">
                    @Html.Raw(Model.Content)
                </script>
            </div>
        </div>

        <div class="row" style="margin: 15px 0 0;">
            @*<button type="submit" id="btnSubmit" class="btn btn-success pull-right">保存</button>*@
            <button type="button" id="btnPreview_trigger" class="btn btn-warning pull-right" data-target="#previewModal" data-toggle="modal" style="margin-right: 8px;cursor:pointer;">推送</button>
            <div class="clearfix"></div>
        </div>


    </form>

</div>


@section scripts_Foot
{
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script type="text/javascript">
        //实例化编辑器
        var ue = UE.getEditor('myEditor', {
            allowDivTransToP: false, //阻止div标签自动转换为p标签
            toolbars: [
                    [
                    'source', //源代码
                    'undo', //撤销
                    'redo', //重做
                    'bold', //加粗
                    'indent', //首行缩进
                    'italic', //斜体
                    'underline', //下划线
                    'subscript', //下标
                    'fontborder', //字符边框
                    'superscript', //上标
                    'unlink', //取消链接
                    'link', //超链接
                    'cleardoc', //清空文档
                    'fontfamily', //字体
                    'fontsize', //字号
                    'paragraph', //段落格式
                    //'simpleupload', //单图上传
                    'insertimage', //多图上传
                    //'emotion', //表情
                    'spechars', //特殊字符
                    //'insertvideo', //视频
                    'help', //帮助
                    'justifyleft', //居左对齐
                    'justifyright', //居右对齐
                    'justifycenter', //居中对齐
                    'justifyjustify', //两端对齐
                    'forecolor', //字体颜色
                    'backcolor', //背景色
                    'insertorderedlist', //有序列表
                    'insertunorderedlist', //无序列表
                    'fullscreen'//全屏

                    ]
            ],
            initialFrameHeight: 380,
            autoHeightEnabled: false,
            autoFloatEnabled: true,
            enableAutoSave: false,
            wordCountMsg: '{#count}',
            //maximumWords:2000,       //允许的最大字符数
            //wordCountMsg: '{#count}/剩余{#leave}',   //当前已输入 {#count} 个字符，您还可以输入 个字符
            //wordOverFlowMsg: '<span style="color:red;">你输入的字符个数已经超出最大允许值，服务器可能会拒绝保存！</span>',    //<span style="color:red;">你输入的字符个数已经超出最大允许值，服务器可能会拒绝保存！</span>
            elementPathEnabled: false

        });

        var validator = $('#ff').validate();
        var uploader;
        var j=0;
        var i=1;

        $(function () {
            if ($('#IsCorp').val() == 1) {
                $('#wechatab').WeChatAddressBook({ appId: @ViewBag.AppId });
            }
            else {
                $('#wechatab').WeChatAddressSelection({ appId: @ViewBag.AppId });
            }

            $('#btnSubmit').attr('disabled', false);

            LEAP.Common.MainPop.options.fnAfrerPostError = function () { $('#btnSubmit').attr('disabled', false); };

            $('#ff').submit(function () {
                if (!validator.form()) { return false; }
                $('#btnSubmit').attr('disabled', true);



            });


            //$('input[name=IsSignUpBox]').click(function () {
            //    if ($(this).is(":checked")) {
            //        $('#IsSignUp').val("True");
            //        $(this).attr('checked', true);
            //        $("#signup").show();
            //    } else {
            //        $('#IsSignUp').val("False");
            //        $(this).attr('checked', false);
            //        $("#signup").hide();
            //    }
            //});





        });



        //添加会议时间段

        $(function () {


            var array = $("#timeslot").val();
            if (array != "") {

                $.each(JSON.parse(array), function (index, item) {

                    var con = item.Type.substring(4, item.Type.length);
                    if (con == "0") {
                        $("input[name='StartDateTime0']").val(item.StartDateTime);
                        $("input[name='EndDateTime0']").val(item.EndDateTime);
                        $("input[name='SignStartTime0']").val(item.SignStartTime);
                        $("input[name='SignEndTime0']").val(item.SignEndTime);

                        $("#hid_meet_start0").val(item.StartDateTime);
                        $("#hid_meet_end0").val(item.EndDateTime);
                        $("#hid_start_time0").val(item.SignStartTime);
                        $("#hid_end_time0").val(item.SignEndTime);
                    }
                    else {

                        timeHtml(con, item, "");

                        i = parseInt(con) + 1;
                        j = parseInt(con);

                    }
                    mstart(con);
                    mend(con);
                    signStart(con);
                    signEnd(con);
                });
            }




            var $body = $('body');

            $body.on('click', '.addBtn', function () {
                var stime = $("input[name='StartDateTime" + j + "']").val();
                var etime = $("input[name='EndDateTime" + j + "']").val();


                if (stime == "") {
                    layer.msg("请填写会议开始时间");
                }
                else if (etime == "") {
                    layer.msg("请填写会议结束时间");
                }
                else {
                    if (i <= 49) {
                        timeHtml("", "", i);

                        mstart(i);
                        mend(i);
                        signStart(i);
                        signEnd(i);


                        i = i + 1;
                        j = j + 1;


                    }
                    else {
                        layer.msg("您最多可以添加50个会议时间段");
                    }
                }

            });


            mstart(j);
            mend(j);
            signStart(j);
            signEnd(j);




            $body.off('click', '.del1', function () {
                $(this).closest('.timeGroup').remove();
            }).on('click', '.del1', function () {
                $(this).closest('.timeGroup').remove();
            });




        })



        function timeHtml(con, item, i) {
            var str1 = "";
            if (i == "") {
                str1 = '<div class="timeGroup" data-tag="' + con + '" ><div class="clearfix">' +
              
                    '<label class="col-sm-2 control-label">会议时间</label><div class="col-sm-6 " style="position: relative;"><div class="form-inline">' +
                    '<input readonly="readonly" type="text" class="input-append date date-picker" name="StartDateTime' + con + '" placeholder="开始时间" value="' + item.StartDateTime + '" style="margin-left:10px;width:45%;" /> → ' +
                    '<input readonly="readonly" type="text" class="input-append date date-picker" name="EndDateTime' + con + '" placeholder="结束时间"  value="' + item.EndDateTime + '" style="width:45%;" />' +
                    '</div>' +
                    '<div class="btnGroup"><span class="del1">-</span></div>' +
                    '</div></div>' +
                    '<div class="clearfix"><label class="col-sm-2 control-label">签到时间</label><div class="col-sm-6 ">' +
                    ' <div class="form-inline" style="">' +
                    ' <input readonly="readonly" type="text" class="input-append date date-picker" name="SignStartTime' + con + '" placeholder="开始时间" value="' + item.SignStartTime + '" style="margin-left:10px;width:45%;" /> → ' +
                    '<input readonly="readonly" type="text"  class="input-append date date-picker" name="SignEndTime' + con + '" placeholder="结束时间" value="' + item.SignEndTime + '" style="width:45%;" />' +
                    '  </div></div></div></div><input type="hidden" id="hid_meet_start' + con + '" /><input type="hidden" id="hid_meet_end' + con + '" /><input type="hidden" id="hid_start_time' + con + '" /><input type="hidden" id="hid_end_time' + con + '" />';

                $('.group').append(str1);

                $("#hid_meet_start"+con+"").val(item.StartDateTime);
                $("#hid_meet_end"+con+"").val(item.EndDateTime);
                $("#hid_start_time"+con+"").val(item.SignStartTime);
                $("#hid_end_time"+con+"").val(item.SignEndTime);
            }
            else {
                str1 = '<div class="timeGroup" data-tag="' + i + '" ><div class="clearfix">' +
                            
                                '<label class="col-sm-2 control-label">会议时间</label><div class="col-sm-6 " style="position: relative;"><div class="form-inline">' +
                                '<input readonly="readonly" type="text"  class="input-append date date-picker" name="StartDateTime' + i + '" placeholder="开始时间" value="" style="margin-left:10px;width:45%;" /> → ' +
                                '<input readonly="readonly" type="text"  class="input-append date date-picker" name="EndDateTime' + i + '" placeholder="结束时间"  value="" style="width:45%;" />' +
                                '</div>' +
                                '<div class="btnGroup"><span class="del1">-</span></div>' +
                                '</div></div>' +
                                '<div class="clearfix"><label class="col-sm-2 control-label">签到时间</label><div class="col-sm-6 ">' +
                                ' <div class="form-inline" style="">' +
                                ' <input readonly="readonly" type="text" class="input-append date date-picker" name="SignStartTime' + i + '" placeholder="开始时间" value="" style="margin-left:10px;width:45%;" /> → ' +
                                '<input readonly="readonly" type="text" class="input-append date date-picker" name="SignEndTime' + i + '" placeholder="结束时间" value="" style="width:45%;" />' +
                                '  </div></div></div></div>';
                $('.group').append(str1);


            }
            str1 = "";

            startTime = "";
            endTime = "";
            signStartTime = "";
            signEndTime = "";
        }




        $(document).ready(function () {


            LEAP.Common.MainPop.options.fnAfterSuccess = function () {
                if ('@ViewBag.AppId' != '') {
                    window.location.href = 'Index?appid=@ViewBag.AppId';
                } else {
                    window.location.href = 'Index';
                }
            };

            $('.datetimepicker .table-condensed th.prev').html("«");
            $('.datetimepicker .table-condensed th.next').html("»");


            //编辑时显示发送人
            var personArray= $("#PersonArray").val();
            if(personArray!="")
            {

                var groupArr= JSON.parse(personArray);

                var outSide = "";
                // var breadCre = "";

                $.each(groupArr, function (i) {

                    var image;
                    switch (groupArr[i].Type) {
                        case "Group":
                            image = "/Scripts/wechatab/assets/images/icon1.png";
                            break;
                        case "Person":
                            image = "/Scripts/wechatab/assets/images/icon2.jpg";
                            break;
                        case "Tag":
                            image = "/Scripts/wechatab/assets/images/icon3.png";
                            break;
                        default:
                            image = "/Scripts/wechatab/assets/images/icon1.png";
                    }
                    outSide += "<span data-gtype=" + groupArr[i].Type + " data-gid=" + groupArr[i].WeixinId + "><img src='" + image + "'>" + groupArr[i].WeixinName + "<i class='ace-icon glyphicon glyphicon-remove'></i></span>";

                });

                $(".Showspan").html(outSide);
                $("#mainGroup").val(personArray);
                $("#groupArr").val(personArray);


            }
            else
            {
                $("#mainGroup").val('');
            }


        });












        //获取系统当前时间
        //var myDate = new Date();
        //var currentTime=  myDate.getTime();

        var startTime;
        var endTime;
        var signStartTime;
        var signEndTime;




        //会议开始时间
        function mstart(i){
            $("input[name='StartDateTime"+i+"']").datetimepicker({
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'yyyy-mm-dd hh:ii',
                minDate: -10,
                maxDate: "+1M +10D",
                todayBtn: "linked",
                clearBtn: true,
                startDate:new Date()

            }).on('changeDate',function(ev){
                startTime = ev.date.valueOf();
                $("input[name='SignStartTime"+i+"']").val(ChangeDateFormat(startTime));

                if(endTime<startTime && endTime!="" && endTime!=undefined){
                    layer.msg("会议开始时间不能晚于会议结束时间");
                    $("input[name='StartDateTime"+i+"']").val('');
                    $("input[name='SignStartTime"+i+"']").val('');
                }

                var hid_meet_end=$("#hid_meet_end"+i+"").val();

                if(endTime=="" && hid_meet_end!="" && hid_meet_end!=undefined)
                {

                    hid_meet_end = new Date(Date.parse(hid_meet_end.replace(new RegExp("-","gm"),"/")));
                    hid_meet_end = hid_meet_end.getTime();
                    if(hid_meet_end<startTime)
                    {
                        layer.msg("会议开始时间不能晚于会议结束时间");
                        $("input[name='StartDateTime"+i+"']").val('');
                        //$("input[name='SignStartTime"+i+"']").val('');
                        
                       
                        $("input[name='SignStartTime"+i+"']").val($("#hid_meet_start"+i+"").val());
                        //$("input[name='StartDateTime"+i+"']").val($("#hid_meet_start"+i+"").val());

                    }
                    else{
                        $("input[name='SignStartTime"+i+"']").val($("#hid_meet_start"+i+"").val());
                    }
                }


                //if(startTime<signStartTime)
                //{
                //    layer.msg("会议开始时间不能早于签到开始时间");
                //    $("input[name='StartDateTime']").val('');
                //}
                //if(startTime<signEndTime)
                //{
                //    layer.msg("会议开始时间不能早于签到结束时间");
                //    $("input[name='StartDateTime']").val('');
                //}

            });
        }


        //会议结束时间
        function mend(i){
            $("input[name='EndDateTime"+i+"']").datetimepicker({
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'yyyy-mm-dd hh:ii',
                minDate: -10,
                maxDate: "+1M +10D",
                todayBtn: "linked",
                clearBtn: true,
                startDate:new Date()
            }).on('changeDate',function(ev){
                endTime = ev.date.valueOf();
                $("input[name='SignEndTime"+i+"']").val(ChangeDateFormat(endTime));

                if(endTime<startTime && startTime!="" && startTime!=undefined){
                    layer.msg("会议结束时间不能早于会议开始时间");
                    $("input[name='EndDateTime"+i+"']").val('');
                    $("input[name='SignEndTime"+i+"']").val('');
                }


                var hid_meet_start=$("#hid_meet_start"+i+"").val();

                if(startTime=="" && hid_meet_start!="" && hid_meet_start!=undefined)
                {
                    hid_meet_start = new Date(Date.parse(hid_meet_start.replace(new RegExp("-","gm"),"/")));
                    hid_meet_start = hid_meet_start.getTime();
                    if(endTime<hid_meet_start)
                    {
                        layer.msg("会议结束时间不能早于会议开始时间");
                        $("input[name='EndDateTime"+i+"']").val('');
                        //$("input[name='SignEndTime"+i+"']").val('');
                        //$("input[name='EndDateTime"+i+"']").val($("#hid_meet_end"+i+"").val());
                        $("input[name='SignEndTime"+i+"']").val($("#hid_meet_end"+i+"").val());
                    }
                    else{
                        $("input[name='SignEndTime"+i+"']").val($("#hid_meet_end"+i+"").val());
                    }
                }

                //if(endTime<signStartTime)
                //{
                //    layer.msg("会议结束时间不能早于签到开始时间");
                //    $("input[name='EndDateTime']").val('');
                //}
                //if(endTime<signEndTime)
                //{
                //    layer.msg("会议结束时间不能早于签到结束时间");
                //    $("input[name='EndDateTime']").val('');
                //}

            });

        }





        //签到开始时间
        function signStart(i){
            $("input[name='SignStartTime"+i+"']").datetimepicker({
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'yyyy-mm-dd hh:ii',
                minDate: -10,
                maxDate: "+1M +10D",
                todayBtn: "linked",
                clearBtn: true,
                startDate:new Date()

            }).on('changeDate',function(ev){
                signStartTime = ev.date.valueOf();

                if(signEndTime<signStartTime && signEndTime!="" && signEndTime!=undefined){
                    layer.msg("签到开始时间不能晚于签到结束时间");
                    $("input[name='SignStartTime"+i+"']").val('');
                }

                var set=$("input[name='SignEndTime"+i+"']").val();

                set = new Date(Date.parse(set.replace(/-/g, "/")));
                set = set.getTime();

                if(set<signStartTime && set!="" && set!=undefined){
                    layer.msg("签到开始时间不能晚于签到结束时间");
                    $("input[name='SignStartTime"+i+"']").val('');
                }


                var hid_end_time=$("#hid_end_time"+i+"").val();


                if(signEndTime==undefined && hid_end_time!="" && hid_end_time!=undefined)
                {
                    hid_end_time = new Date(Date.parse(hid_end_time.replace(/-/g, "/")));
                    hid_end_time = hid_end_time.getTime();

                    if(hid_end_time<signStartTime && signStartTime!="" && signStartTime!=undefined)
                    {
                        layer.msg("签到开始时间不能晚于签到结束时间");
                        $("input[name='SignStartTime"+i+"']").val('');
                    }
                }
                //if(startTime<signStartTime)
                //{
                //    layer.msg("签到开始时间不能晚于会议开始时间");
                //    $("input[name='SignStartTime']").val('');
                //}
            });
        }

        //签到结束时间
        function signEnd(i){
            $("input[name='SignEndTime"+i+"']").datetimepicker({
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'yyyy-mm-dd hh:ii',
                minDate: -10,
                maxDate: "+1M +10D",
                todayBtn: "linked",
                clearBtn: true,
                startDate:new Date()
            }).on('changeDate',function(ev){
                signEndTime = ev.date.valueOf();
                if(signEndTime<signStartTime && signStartTime!="" && signStartTime!=undefined){
                    layer.msg("签到结束时间不能早于签到开始时间");
                    $("input[name='SignEndTime"+i+"']").val('');
                }

                var sst=$("input[name='SignStartTime"+i+"']").val();
                sst = new Date(Date.parse(sst.replace(/-/g, "/")));
                sst = sst.getTime();

                if(signEndTime<sst && sst!="" && sst!=undefined){
                    layer.msg("签到结束时间不能早于签到开始时间");
                    $("input[name='SignEndTime"+i+"']").val('');
                }

                var hid_start_time=$("#hid_start_time"+i+"").val();

                if(signStartTime==undefined && hid_start_time!="" && hid_start_time!=undefined)
                {
                    hid_start_time = new Date(Date.parse(hid_start_time.replace(/-/g, "/")));
                    hid_start_time = hid_start_time.getTime();

                    if(signEndTime<hid_start_time)
                    {
                        layer.msg("签到结束时间不能早于签到开始时间");
                        $("input[name='SignEndTime"+i+"']").val('');
                    }
                }


                //if(endTime<signEndTime)
                //{
                //    layer.msg("签到结束时间不能晚于会议结束时间");
                //    $("input[name='SignEndTime']").val('');
                //}

            });

        }






        function  ChangeDateFormat(time)
        {
            if(time!=null){
                var date = new Date(time);
                Y = date.getFullYear() + '-';
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var h = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                return date.getFullYear() + "-" + month + "-" + currentDate+" "+ h + ":" + minute;
            }
            return "";
        }




        //邀请人员(必需)json for PeopleGroup
        var groupOrPeople = function groupOrPeople() {
            var _group = JSON.parse($('#mainGroup').val());
            var _peo = [];
            var _gru = [];
            var _peoName = [];
            var _gruName = [];
            var _tag = [];
            var _tagName = [];
            $.each(_group, function(item) {
                if (_group[item].Type == "Group") {
                    _gru.push(_group[item].WeixinId);
                    _gruName.push(_group[item].WeixinName);
                } else if (_group[item].Type == "Person") {
                    _peo.push(_group[item].WeixinId);
                    _peoName.push(_group[item].WeixinName);
                } else {
                    _tag.push(_group[item].WeixinId);
                    _tagName.push(_group[item].WeixinName);
                }
            });
            return {
                groups: {
                    group: _gru,
                    groupName: _gruName
                },
                persons: {
                    person: _peo,
                    personName: _peoName
                },
                tags: {
                    tag: _tag,
                    tagName: _tagName
                }
            };
        };

        //验证
        var msgText_V = function () {


            var selectedGroup = $('#mainGroup').val();
            if (selectedGroup == "" || selectedGroup.length <= 2) {
                layer.msg('请选择邀请人员', { offset: 0 });
                return false;
            }

            var title = $("input[name='Title']").val();
            if (title == null || title.trim().length <= 0) {
                layer.msg('请填写会议主题', { offset: 0 });
                $("input[name='Title']").focus();
                return false;
            }
            if (title.trim().length > 100) {
                layer.msg('会议主题不能超过100个字', { offset: 0 });
                $("input[name='Title']").focus();
                return false;
            }


            var location=$("input[name='Location']").val();
            if (location == null || location.trim().length <= 0) {
                layer.msg('请填写会议地点', { offset: 0 });
                $("input[name='Location']").focus();
                return false;
            }
            if (location.trim().length > 255) {
                layer.msg('会议地点不能超过255个字', { offset: 0 });
                $("input[name='Location']").focus();
                return false;
            }

            var starttime=$("input[name='StartDateTime"+j+"']").val();
            if(starttime!=undefined)
            {
                if (starttime == null || starttime.trim().length <= 0) {
                    layer.msg('请填写会议开始时间', { offset: 0 });
                    $("input[name='StartDateTime"+j+"']").focus();
                    return false;
                }
            }

            var endtime=$("input[name='EndDateTime"+j+"']").val();
            if(endtime!=undefined){
                if (endtime == null || endtime.trim().length <= 0) {
                    layer.msg('请填写会议结束时间', { offset: 0 });
                    $("input[name='EndDateTime"+j+"']").focus();
                    return false;
                }
            }

            var owner=$("input[name='Owner']").val();
            if (owner == null || owner.trim().length <= 0) {
                layer.msg('请填写会议主持人', { offset: 0 });
                $("input[name='Owner']").focus();
                return false;
            }
            if (owner.trim().length > 50) {
                layer.msg('会议主持人不能超过50个字', { offset: 0 });
                $("input[name='Owner']").focus();
                return false;
            }

            var content=ue.getContent();

            if (content == null || content.trim().length <= 0) {
                layer.msg('请填写会议内容', { offset: 0 });
                return false;
            }



            return{ title:title,
                location:location,
                starttime:starttime,
                endtime:endtime,
                owner:owner,
                content:content
            };
        };



        var textJson = function (_text) {
            var _groupArr = groupOrPeople(); //返回people和group的数组
            var arry=[];
            var timeArray=[];
            var glength=$(".timeGroup").length;
            for(i=0;i<glength;i++)
            {
                var num=$(".timeGroup").eq(i).attr("data-tag");
                arry={StartDateTime:$("input[name='StartDateTime"+num+"']").val(),EndDateTime:$("input[name='EndDateTime"+num+"']").val(),
                    SignStartTime:$("input[name='SignStartTime"+num+"']").val(),SignEndTime:$("input[name='SignEndTime"+num+"']").val(),Type:"meet"+num+""};

                timeArray.push(arry);
            }

            var _main = [];
            _main = [{SendToPerson: _groupArr.persons.person, SendToGroup: _groupArr.groups.group, SendToPersonName: _groupArr.persons.personName,
                SendToGroupName: _groupArr.groups.groupName,SendToTag: _groupArr.tags.tag,SendToTagName: _groupArr.tags.tagName,Title:$("input[name='Title']").val(),
                Location:$("input[name='Location']").val(),TimeSlot:JSON.stringify(timeArray),
                owner:$("input[name='Owner']").val(),Content:ue.getContent(),Id:$("#ID").val(),EnterpriseAppId:$("#AppId").val(),EnterpriseCorpId:$("#IsCorp").val(),
                SaveFullName: $("#SaveFullName").val(),FileName: $("#FileName").val(),
                TargetFilePath: $("#TargetFilePath").val(),UploadFileType:"file",PersonArray:$('#mainGroup').val()}];
            return _main;

        };

        //保存并发送
        $('#btnPreview_trigger').click(function() {
            var _text = msgText_V();
            var _textJson = textJson(_text);
            if(_text){
                $.ajax({
                    url: "/WeChatMeeting/Meeting/AddMeeting",
                    type: "post",
                    data: JSON.stringify(_textJson),
                    contentType: "application/json",
                    success: function success(data) {
                        if(data.results.Data == 200)
                        {
                            window.location.href = 'Index?appid=@ViewBag.AppId';
                        }                       
                    },
                    complete: function complete(data) {

                    }
                });

            }
        });



        //删除
        function Del(fileid)
        {
            if(confirm("确认要删除？")){
                $.ajax({
                    url: "/WeChatMeeting/Meeting/DelFile",
                    type: "post",
                    data: { "id": fileid},
                    success: function success(data) {

                        $("#"+fileid).hide();

                    },
                    complete: function complete(data) {

                    }
                });
            }
            else
            {
                window.event.returnValue = false;
            }
        }





        var fullnames=[];
        var filenames=[];
        var filepaths=[];

        $(document).ready(function () {


            $("#file-upload-input").change(function (obj) {

                if (obj.value != "") {
                    $('#file-upload-input').fileupload({
                        dataType: 'json',
                        url: "/WeChatMeeting/Meeting/uploadfile?type=file",
                        self: obj,
                        replaceFileInput: false,
                        add: function (e, data) {
                            var goUpload = true;
                            var uploadFile = data.files[0];
                            if (!(/\.(txt|pdf|zip|doc|ppt|xls|docx|pptx|xlsx|jpg|gif|png)$/i).test(uploadFile.name)) {
                                layer.msg('只能上传txt,pdf,zip,doc,ppt,xls,docx,pptx,xlsx,jpg,gif,png格式！');
                                goUpload = false;
                                $('#file-upload-input').val("");
                            }
                            if (goUpload && uploadFile.size > 2e7) { // 20mb
                                alert('大小: 不超过20M');
                                goUpload = false;
                                $('#file-upload-input').val("");
                            }
                            if (goUpload) {
                                data.submit();

                                filenames.push(uploadFile.name);
                                $("#FileName").val(filenames);

                            }
                        },
                        done: function (e, data) {

                            fullnames.push(data.result.serverFileName);
                            filepaths.push(data.result.targetFilePath);

                            $("#SaveFullName").val(fullnames);
                            $("#TargetFilePath").val(filepaths);



                            var shtml="";
                            for (var i = 0; i < filenames.length; i++) {

                                shtml+="<li>"+filenames[i]+"<i class='fa fa-trash-o' style='margin-left:10px;cursor:pointer' onclick='removeFile()'></i></li>";
                            }


                            $("#filelist").html(shtml);


                        },
                        progressall: function (e, data) {
                            var progress = parseInt(data.loaded / data.total * 100, 10);
                            $("#file-progress-bar .bar").css('width', progress + '%');
                            $("#file-progress-bar .bar").text(progress + '%');
                        },
                    });
                }
            });
            $("#file-upload-input").fileupload();




        });

        //删除文件(未保存到数据库)
        function removeFile()
        {
            if(confirm("确认要删除？")){
                if(filenames.length>-1)
                {
                    filenames.splice(0,1);
                    fullnames.splice(0,1);
                    filepaths.splice(0,1);

                    var shtml="";
                    for (var i = 0; i < filenames.length; i++) {

                        shtml+="<li>"+filenames[i]+"<i class='fa fa-trash-o' style='margin-left:10px;cursor:pointer' onclick='removeFile()'></i></li>";
                    }

                    $("#filelist").html(shtml);

                    $("#FileName").val(filenames);
                    $("#SaveFullName").val(fullnames);
                    $("#TargetFilePath").val(filepaths);

                }
            }
            else{
                window.event.returnValue = false;
            }


        }


    </script>
}