@using Innocellence.WeChat.Domain.ModelsView;
@using Innocellence.WeChat.Domain.Entity;
@model Innocellence.WeChat.Domain.ModelsView.MessageView

<div class="row">
    <div class="col-sm-12">
        <div>
            <form class="form-inline" id="SearchForm" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <input class="form-control" type="text" name="txtArticleTitle" placeholder="Title">
                    </div>
                    <div data-date-format="yyyy-mm-dd" class="input-append date date-picker" style="display: inline-block;">
                        <div class="input-group">
                            <input type="datetime" name="txtDate" class="form-control" placeholder="发布时间" />
                            <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                        </div>
                    </div>
                    <div class="form-group">

                        <select id="appCate" class="form-control" name="appCate" data-placeholder="Please Select App" >

                             <option value="" selected="selected" disabled="disabled" style="display:none;">Please Choose APP</option>
                             @foreach(var item in ViewBag.Apps)
                             {
                                 if(item.WeixinAppId==ViewBag.AppId.ToString()){
                                    <option value="@item.WeixinAppId" selected="selected">@item.AppName</option>
                                  }else{
                                    <option value="@item.WeixinAppId">@item.AppName</option>
                                  }
                             }
                        </select>
                    </div>
                    <a href="javascript:void(0);" class="btn  btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
                </div>
                <div class="form-group" style="float: right;">
                    <a href="GlobalMessageEdit" id="addBtn" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="增加">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
            </form>
        </div>
        <div class="widget-box">
            <div class="widget-content nopadding">

                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width: 5%; text-align: center;">@T("ID")</th>
                            <th style="width: 40%">@T("Title")</th>
                            <th style="width: 4%">@T("Read Count")</th>
                            <th style="width: 4%">@T("Thumb Count")</th>
                            <th style="width: 13%">@T("Publish Date")</th>
                            <th style="width: 15%">@T("Status")</th>
                            <th style="width: 7%">@T("Operation")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>

@section scripts_Foot
{
<script>
    var uploader;
    $(document).ready(function () {

        LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {

            "ajax": { "url": "GetList?where=" + JSON.stringify({ Rules: [{ Field: 'AppId', Value: $('#appCate').val() }] }) },
            "aoColumns": [
              {
                  "mData": "Id",
                  "bSortable": false,
                  "sClass": "sTdCheckbox"
              },
              {
                  "mData": "Title",
                  "bSearchable": false,
                  "bSortable": false
              },
              { "mData": "ReadCount" },
              { "mData": "ThumbsUpCount"},
              { "mData": "PublishDate" },
              { "mData": "Status" },
              { "mDate": "Operation", "bSortable": false }
            ],
            "columnDefs": jQuery.extend(true, datatableSetting.columnDefs, [
            {
                "targets": 5,
                "render": function (data, type, full, meta) {
                    if (data == "Published") {
                        return "<span class=\"col-md-8\">Published</span><span class=\"btn btn-danger btn-xs pull-right\" onclick=\"javascript:ChangeStatus('" + full.Id + "','" + full.AppId + "',this,'ChangeStatus')\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"Cancel Publish\"><i class=\"fa fa-cloud-download\"></span>";
                    } else if (data == "Saved") {
                        return "<span class=\"col-md-8\">Saved</span><span class=\"btn btn-success btn-xs pull-right\" onclick=\"javascript:ChangeStatus('" + full.Id + "','" + full.AppId + "',this,'ChangeStatus')\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"Publish\"><i class=\"fa fa-cloud-upload\"></i></span>";
                    }
                }
            },
            {
                "targets": 6,
                "render": function (data, type, full, meta) {
                    if (full.Status == "Published") {
                        return '<a href="javascript:void(0);" onclick="editCourse();return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:10px;" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>'+
                               '<a href="javascript:void(0);" onclick="deleteCourse()" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="tooltip" data-placement="top" title="删除">' +
                               '<i class="fa fa-trash-o"></i></a>';
                    } else if (full.Status == "Saved") {

                        return '<a href="GlobalMessageEdit?id=' + full.Id + '" class="artDailog btn btn-info  btn-xs" style="margin-right:10px;" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>' +
                               '<a href="javascript:void(0);" onclick="LEAP.Common.MainPop.RowClick(\'' + full.Id + '\',2)" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="tooltip" data-placement="top" title="删除">' +
                               '<i class="fa fa-trash-o"></i></a>';
                    }
                }
            }]),
            fnDrawCallback: function () {
                $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                $('.gotopage').click(function () {
                    var gopage = (/^[0-9]+$/).test($('#go_page').val()) ? $('#go_page').val() : "1";
                    $('.data-table').dataTable().api().page(parseInt(gopage) - 1).draw(false)
                })
            }
        }));


        LEAP.Common.MainPop.options.beforeShowModal = function () {
            $('#NewsImg').val('');
        };

        LEAP.Common.MainPop.options.afterShowModal = function () {

        };

        //datepicker plugin
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'yyyy-mm-dd',
            minDate: -10,
            maxDate: "+1M +10D",
            clearBtn:true,
            todayBtn:"linked"
        })
        .next().on(ace.click_event, function () {
            //$(this).prev().focus();
        });

        //$('#DataTables_Table_0_wrapper > .row:first-child').remove();

        BeforeSearch = function () {
            LEAP.Common.MainPop.options.dataTable.DataTable.settings[0].ajax.url = 'GetList?where=' + JSON.stringify({ Rules: [{ Field: 'AppId', Value: $('#appCate').val() }] });
            return true;
        };
    });

    function deleteCourse() {
        artDialog.alert("You can't delete the published message.<br/>If you want to do it,Please cancel publish first!");
    }

    function editCourse() {
        artDialog.alert("You can't edit the published message.<br/>If you want to do it,Please cancel publish first!");
    }
</script>
}
