@model Innocellence.WeChat.Domain.ModelsView.MessageView
@{
    Script.Include("~/Scripts/fuelux/fuelux.tree.js");
    Script.Include("~/Scripts/EasyUI/jquery.easyui.min.js");
}
@section easyui_css{
    <link rel="stylesheet" href="~/styles/EasyUI/easyui.css" type="text/css" />
}
<div id="ModalTable">

    <form action="Post" method="get" id="ff" class="form-horizontal">
        <input type="hidden" id="ID" name="ID" value="@Model.Id" />
        <div class="row">
            <div class="form-group col-lg-6">
                <label class="col-lg-3 control-label">Title :</label>
                <div class="col-lg-9">
                    <input type="text" name="Title" class="form-control" placeholder="Title" value="@Model.Title"
                           validate="{required:true,maxlength:150,messages:{required:'Please set a title for this message.',maxlength:'This title is too long.'}}" />
                </div>
            </div>

            <div class="form-group col-lg-6">
                <div class="row" style="margin: 0;">
                    <label class="col-sm-3 control-label">To APP :</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="AppId" id="AppId" value="@Model.AppId">
                            <option value="">Please Choose APP</option>
                            @foreach (var item in ViewBag.Apps)
                            {
                                if (item.WeixinAppId == Model.AppId.ToString())
                                {
                                    <option value="@item.WeixinAppId" selected="selected">@item.AppName</option>
                                }
                                else
                                {
                                    <option value="@item.WeixinAppId">@item.AppName</option>
                                }
                            }
                        </select>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6">
                <label class="col-lg-3 control-label">Description :</label>
                <div class="col-lg-9">
                    <textarea name="Comment" id="Comment" class="form-control" placeholder="Description" style="min-height: 83px;"
                              validate="{required:false,maxlength:140,messages:{required:'Please enter short description.',maxlength:'This description is too long.'}}">
                        @Model.Comment
                        </textarea>
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <div class="row" style="margin: 0; margin-bottom: 15px;">
                        <label class="col-lg-3 control-label">To Department :</label>
                        <div class="col-lg-9" style="padding-right: 35px;">
                            <div class="input-group">
                                <input type="text" class="form-control" name="toDepartment" id="toDepartment" value="@Model.toDepartment" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#departModal">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin: 0; margin-bottom: 15px;">
                        <label class="col-lg-3 control-label">To Tag :</label>
                        <div class="col-lg-9" style="padding-right: 35px;">
                            <div class="input-group">
                                <input type="text" class="form-control" name="toTag" id="toTag" value="@Model.toTag" />
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#tagModal">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <label class="col-sm-3 control-label">Cover :</label>
                    <div class="col-sm-4">
                        <div id="uploader" class="wu-example">
                            <div class="queueList" style="margin: 0px;">
                                <div id="dndArea" class="placeholder" style="min-height: 130px; padding-top: 80px;background-position:center 3px;">
                                    <div id="filePicker" class="webuploader-container"></div>
                                    <p>or drag your picture in here</p>
                                </div>
                                <ul class="filelist"></ul>
                            </div>
                        </div>
                        <p>(Suggest Pixel Aspect Ratio: 16/9.)</p>
                    </div>
                    <div class="col-sm-5">
                        @if (Model.ThumbImageId == null)
                        {
                            <img id="preview" src="@Model.ImageCoverUrl" class="img-responsive" />
                        }
                        else
                        {
                            <img id="preview" src="/Common/PushFile?id=@Model.ThumbImageId&FileName=@Model.ThumbImageUrl&ImgType=1" class="img-responsive" />
                        }
                        <input type="hidden" id="ImageCoverUrl" name="ImageCoverUrl" value="@Model.ImageCoverUrl" />
                        
                    </div>
                </div>

                <div class="form-group col-lg-6">
                    <div class="row" style="margin: 0;margin-bottom:10px;">
                        <label class="col-lg-3 control-label">Link :</label>
                        <div class="col-lg-9">
                            <input type="text" name="URL" class="form-control" placeholder="External Link http://" value="@Model.URL"
                                   validate="{required:false,url:true,maxlength:80,messages:{url:'Please enter the correct format url.'}}" />
                        </div>
                    </div>

                    <div class="row" style="margin: 0;">
                        <label class="col-sm-3 control-label">To User :</label>
                        <div class="col-sm-9">
                            <textarea name="toUser" id="toUser" class="form-control" placeholder="WeChatUserID / delimited by '|'" style="min-height: 135px; margin-bottom: 10px;">@Model.toUser</textarea>
                            <h6>(PS: If you do not specify send user or department or tag, the default will be sent to all employees.)</h6>
                        </div>
                        <div class="col-sm-12 pr30">
                            <button id="check_send_obj" class="btn btn-sm btn-info pull-right">Check</button><div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <label class="col-sm-3 control-label">Thumbup:</label>

                    <div class="col-sm-9">
                        <input type="hidden" name="IsLike" id="IsLike" value="@Model.IsLike.ToString()" />
                        @if (Model.IsLike.HasValue && Model.IsLike.Value == true)
                        {
                            <input type="checkbox" name="IsLikeBox" class="ace ace-switch ace-switch-2 form-control" checked="checked" />
                        }
                        else if (Model.IsLike.HasValue && Model.IsLike.Value == false)
                        {
                            <input type="checkbox" name="IsLikeBox" class="ace ace-switch ace-switch-2 form-control" />
                        }
                        else
                        {
                            <script type="text/javascript">
                                $(function () {
                                    $('#IsLike').val("True");
                                })
                            </script>
                            <input type="checkbox" name="IsLikeBox" class="ace ace-switch ace-switch-2 form-control" checked="checked" />
                        }
                        <span class="lbl mt10"></span>
                        <p>(PS: Whether show thumb up in weixin page ?)</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <script type="text/plain" id="myEditor" name="Content" style="height: 640px; width: 100%">
                        @Html.Raw(Model.Content)
                    </script>
                </div>
            </div>

            <div class="row" style="margin: 0 35px; margin-top: 15px;">
                <button type="submit" id="btnSubmit" class="btn btn-success pull-right">Save</button>
                <button type="button" id="btnPreview_trigger" class="btn btn-warning pull-right" data-target="#previewModal" data-toggle="modal" style="margin-right: 8px;">Save & Preview</button>
            </div>

            <div class="modal fade" role="dialog" aria-labelledby="myLabel" id="previewModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myLabel">选择预览</h4>
                        </div>
                        <div class="modal-body">
                            <textarea name="Previewers" id="Previewers" class="form-control" placeholder="WeChatUserID / delimited by '|'" style="min-height: 50px; max-width: 568px;">@Model.Previewers</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btnPreview">Confirm</button>
                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>

    <div class="modal fade" role="dialog" aria-labelledby="myLabel" id="tagModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLabel">Choose Send Object--Tag</h4>
                </div>
                <div class="modal-body">
                    <div class="taglist">
                        @foreach (var item in ViewBag.taglist)
                        {
                            <div class="checkbox col-sm-6">
                                <label>
                                    <input name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox" data-id="@item.tagid" />
                                    <span class="lbl">@item.tagname</span>
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer" style="clear:both;">
                    <button type="button" class="btn btn-primary" id="btnConfirm">Confirm</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" role="dialog" aria-labelledby="myLabel" id="departModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLabel">Choose Send Object--Department</h4>
                </div>
                <div class="modal-body">
                    <ul id="addtree"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnSure">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" aria-labelledby="myLabel" id="checkModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myLabel">Invalid Send Objects</h4>
                </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>Departments:
                        <dt>
                        <dd id="partys"></dd>
                        @*<dt>Tags:</dt>
                            <dd id="tags"></dd>*@
                        <dt>Users:</dt>
                        <dd id="users"></dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-sm btn-primary" id="btnClose">Close</button>
                </div>
            </div>
        </div>
    </div>

    @section scripts_Foot
{
        <script type="text/javascript">
            //实例化编辑器
            var ue = UE.getEditor('myEditor', {
                allowDivTransToP: false //阻止div标签自动转换为p标签
            });
            var validator = $('#ff').validate();
            var uploader;

            $(function () {
                $('#btnSubmit').attr('disabled', false);

                LEAP.Common.MainPop.options.fnAfrerPostError = function () { $('#btnSubmit').attr('disabled', false); };
                $('#ff').submit(function () {
                    if (!validator.form()) {
                        return false;
                    }
                    $('#btnSubmit').attr('disabled', true); //防止重复提交多次
                });

                $('input[name=IsLikeBox]').click(function () {
                    if ($(this).is(":checked")) {
                        $('#IsLike').val("True");
                        $(this).attr('checked', true);
                    } else {
                        $('#IsLike').val("False");
                        $(this).attr('checked', false);
                    }
                });

                //点击trigger的时候就校验下form
                $('#btnPreview_trigger').click(function () {
                    if (!validator.form()) {
                        if (document.body.scrollTop > 0) {
                            $('html, body').animate({ scrollTop: 0 }, 500);
                        }
                        return false;
                    }
                    $('#Previewers').attr("validate", "{required:true,messages:{required:'Please input previewers WeChatUserID.'}}");
                });

                $('#btnPreview').click(function () {

                    if (!validator.form()) {
                        if ($('#Previewers').val() != null && $('#Previewers').val() != "") {
                            $('#previewModal').modal('hide');
                            if (document.body.scrollTop > 0) {
                                $('html, body').animate({ scrollTop: 0 }, 500);
                            }
                        }
                        return false;
                    }

                    $('#previewModal').modal('hide');

                    var form = $('#ff').serializeArray();

                    $.post('WxPreview', form, function (result) {
                        if (result.Message.Text.indexOf(";") > 0) {
                            var str = result.Message.Text.split(";");
                            $('#ID').val(str[0]);
                            artDialog.alert(str[1]);
                        } else {
                            if (result.Message.Status == 200) {
                                $('#ID').val(result.Message.Text);
                            }
                            artDialog.alert("预览成功！<br/>请在微信端查看推送的消息.");
                        }
                    });
                });

                $('#check_send_obj').click(function () {
                    var appid = $('#AppId').val();
                    var tagids = $('#toTag').val();
                    var userids = $('#toUser').val();
                    var partyids = $('#toDepartment').val();

                    if (appid == "") {
                        artDialog.alert("Please select one app before checking.");
                        return false;
                    }

                    if (tagids == "" && partyids == "" && userids == "") {
                        artDialog.alert("Please choose one kind of send objects before checking.");
                        return false;
                    }

                    $.ajax({
                        type: "Post",
                        url: 'CheckSendObjects',
                        data: { "appId": appid, "partyids": partyids, "tagids": tagids, "userids": userids },
                        success: function (result) {
                            if (result.isPass) {
                                artDialog.alert("All Pass!");
                            } else {
                                var invalidPartys = '', invalidTags = '', invalidUsers = '';
                                //each array
                                if (result.errorinfo.ErrorDepartments != null) {
                                    $.each(result.errorinfo.ErrorDepartments, function (i, obj) {
                                        invalidPartys += obj.Name + '|';
                                    });
                                    $('#partys').html(invalidPartys.substring(0, invalidPartys.length - 1));
                                } else {
                                    var txt = partyids == "" ? "None Selected" : "Pass";
                                    $('#partys').html(txt);
                                }

                                //if (result.errorinfo.ErrorTags != null) {
                                //    $.each(result.errorinfo.ErrorTags, function (i, obj) {
                                //        invalidTags += obj.Name + '|';
                                //    });
                                //    $('#tags').html(invalidTags.substring(0, invalidTags.length - 1));
                                //} else {
                                //    $('#tags').html("Pass");
                                //}

                                if (result.errorinfo.ErrorUsers != null) {
                                    $.each(result.errorinfo.ErrorUsers, function (i, obj) {
                                        invalidUsers += obj + '|';
                                    });
                                    $('#users').html(invalidUsers.substring(0, invalidUsers.length - 1));
                                } else {
                                    var userTxt = userids == "" ? "None Selected" : "Pass";
                                    $('#users').html(userTxt);
                                }
                                //set value
                                //show Modal
                                $('#checkModal').modal('show');
                            }
                        }
                    });
                    return false;
                });

                $('#tagModal').on('show.bs.modal', function () {
                    var str = $('#toTag').val();
                    if (str != null && str != "") {
                        var tagids = str.split('|');
                        var length = $('.taglist .checkbox').length;
                        for (var i = 0; i < tagids.length; i++) {
                            for (var j = 0; j < length; j++) {
                                var inputNode = $('.checkbox input[name="form-field-checkbox"]').eq(j);
                                if (inputNode.data('id') == tagids[i]) {
                                    inputNode.prop('checked', true);
                                }
                            }
                        }
                    }
                });

                $("#tagModal").on('shown.bs.modal', function () {
                    //保存后做的事儿
                    $('#btnConfirm').click(function () {
                        //who is check
                        var taglist = "";
                        var length = $('.taglist .checkbox').length;
                        for (var i = 0; i < length; i++) {
                            var inputNode = $('.checkbox input[name="form-field-checkbox"]').eq(i);
                            if (inputNode.is(":checked")) {
                                taglist += inputNode.data("id") + '|';
                            }
                        }
                        //close modal
                        $('#tagModal').modal('hide');
                        $('#toTag').val(taglist.substring(0, taglist.length - 1));

                    });
                });

                $('#tagModal').on('hidden.bs.modal', function () {
                    $('.checkbox input[name="form-field-checkbox"]').prop('checked', false);
                });

                $("#departModal").on('shown.bs.modal', function () {
                    var departlist = $('#toDepartment').val();
                    $('#addtree').tree({
                        url: 'GetSubDepartment?Id=0&departlist=' + departlist,
                        checkbox: true,
                        method: 'get',
                        animate: false
                    });

                    $('#btnSure').click(function () {
                        var nodes = $('#addtree').tree('getChecked');
                        var strIDs = '';
                        $.each(nodes, function (i, item) {
                            strIDs += '|' + item.id;
                        });
                        $('#toDepartment').val('');
                        if (strIDs != '') {
                            $('#toDepartment').val(strIDs.substring(1));
                        }
                        //close modal
                        $('#departModal').modal('hide');
                    });
                });

                //Using webuoloader
                if (uploader) {
                    uploadFileObj.clear();
                } else {
                    uploader = uploadFileObj.uploadFile({
                        auto: true,
                        pick: {
                            id: '#filePicker',
                            label: 'Select'
                        },
                        server: '/Common/PostImage',
                        accept: {
                            title: 'Images',
                            extensions: 'gif,jpg,jpeg,bmp,png',
                            mimeTypes: 'image/*'
                        },
                        fileNumLimit: 1,
                        fileSingleSizeLimit: 2048 * 2048,
                        onSuccess: function (file, response) {

                            //$('#preview').prop('src', "/Common/PushFile?id=" + response.id + "&filename=" + response.result.Src);
                            //$('#ThumbImageId').prop('value', response.id);
                            //$('#ThumbImageUrl').prop('value', response.result.Src);

                            $('#ImageCoverUrl').prop('value', response.Src);

                        },
                        onUploadFinished: function () {
                            uploadFileObj.clear();
                        }
                    });

                }

            });

            $(document).ready(function () {

                LEAP.Common.MainPop.options.fnAfterSuccess = function () {
                    window.location.href = 'GlobalMessageIndex?appId=' + $('#AppId').val();
                };

            });
        </script>
    }
