@using Innocellence.WeChat.Domain.ModelsView;
@model MessageView
@section easyui_css
{
    <script src="~/Scripts/ZeroClipboard/ZeroClipboard.js"></script>
}
<script src="/Scripts/history/lib/layer/layer.js"></script>

<div class="subpage-title">
    <div class="pull-left">
        消息列表
    </div>
    <div class="clear"></div>
</div>
<div class="row">
    <div class="col-sm-12" style="margin-top: 65px;">
        <div>
            <form class="form-inline" id="SearchForm" method="post">
                <input type="hidden" value="@ViewBag.AppId" name="appId" id="appId" />
                <div class="form-group">
                    @*<div class="form-group">
                            <input class="form-control" type="text" name="txtArticleTitle" placeholder="Title">
                        </div>*@
                    <div class="form-group">
                        <select id="keywordType" class="form-control" name="txtType" data-placeholder="Please Select Type">
                            <option value="" selected="selected">请选择类型</option>
                            @foreach (var item in ViewBag.KeywordTypes)
                            {
                                <option value="@item.Key">@item.Value</option>
                            }
                        </select>
                    </div>
                    <div data-date-format="yyyy-mm-dd" class="input-append date date-picker" style="display: inline-block;">
                        <div class="input-group">
                            <input type="datetime" name="txtDate" class="form-control" placeholder="发布时间" />
                            <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="btn  btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
                </div>
                <div class="form-group" style="float: right;display:none">
                    <a href="#" class="btn btn-white btn-primary btn-lg" data-toggle="tooltip" data-placement="top" title="导出" id="btnExport">
                        <i class="fa fa-download"></i>导出
                    </a>
                </div>
            </form>
        </div>
        <div class="table-box table-link">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th style="display:none">@T("ID")</th>
                        <th style="width: 20%">@T("用户名")</th>
                        <th style="width: 20%">@T("类型")</th>
                        <th style="width: 20%">@T("发布时间")</th>
                        <th style="width: 20%">@T("发布状态")</th>
                        <th style="width: 20%">@T("发送人数")</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts_Foot
{
    <script>
        var uploader;
        $(document).ready(function () {

            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": { "url": "/SendMessageLog/GetList" },
                "aoColumns": [
                {
                    "mData": "Id",
                    "bSortable": false,
                    "bSearchable": false,
                    "visible": false,
                },
                {
                    "mData": "CreatedUserName",
                    "bSearchable": false,
                    "bSortable": false
                },
                {
                    "mData": "MsgContentType",
                    "bSearchable": false,
                    "bSortable": false
                },
                { "mData": "CreatedDate" },
                { "mData": "SendMsgStatusDisplayStr" },
                { "mData": "SendTotalMembers" }
                ],
                "columnDefs": jQuery.extend(true, datatableSetting.columnDefs, [
                {
                    "targets": 0,
                    "render": function (data, type, full, meta) {
                        return full.Id;
                    }
                },
                {
                    "targets": 1,
                    "render": function (data, type, full, meta) {
                        return full.UpdatedUserName == '' || full.UpdatedUserName == null ? data : full.UpdatedUserName;
                    }
                },
                {
                    "targets": 2,
                    "render": function (data, type, full, meta) {
                        var typeName = '';
                        switch (full.MsgContentType) {
                            case 1: //'text':
                                typeName = '文本';
                                break;
                            case 2://'news'
                                typeName = '图文';
                                break;
                            case 4:// 'file'
                                typeName = '文件';
                                break;
                            case 3://'image':
                                typeName = '图片';
                                break;
                            case 5://'video':
                                typeName = '视频';
                                break;
                            case 6://'voice':
                                typeName = '语音';
                                break;

                        }
                        return typeName;
                    }
                },
                {
                    "targets":5,
                    "render": function (data, type, full, meta) {
                        return full.SendTotalMembers == null ? 0 : full.SendTotalMembers
                    }
                }
                ]),
                fnDrawCallback:

            function () {
                $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                $('.gotopage').click(function () {
                    var gopage = (/^[0-9]+$/).test($('#go_page').val()) ? $('#go_page').val() : "1";
                    $('.data-table').dataTable().api().page(parseInt(gopage) - 1).draw(false)
                })
            }

            }));
            LEAP.Common.MainPop.options.dataTable.on("click", "tr", function () {
                var data = LEAP.Common.MainPop.options.dataTable.api().row(this).data();
                var id = data.Id;
                layer.open({
                    type: 2,
                    closeBtn: false, //不显示关闭按钮
                    title: false,
                    offset: ['0px', ($(document).width() - 400 + 16) + 'px'], //右下角弹出
                    shadeClose: true,
                    shade: [0.8, '#393D49'],
                    maxmin: false, //开启最大化最小化按钮
                    area: ['400px', $(window).height() + 'px'],
                    scrollbar: false,
                    content: ['/Scripts/history/html/messageList/template-list.html?' + (new Date().getTime().toString()) + '&id=' + id]
                });

            });

            LEAP.Common.MainPop.options.beforeShowModal = function () {
                $('#NewsImg').val('');
            };

            //datepicker plugin
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'yyyy-mm-dd',
                minDate: -10,
                maxDate: "+1M +10D",
                clearBtn: true,
                todayBtn: "linked"
            })
                .next().on(ace.click_event, function () {
                    //$(this).prev().focus();
                });

        });

        function deleteCourse() {
            artDialog.alert("You can't delete the published message.<br/>If you want to do it,Please cancel publish first!");
        }

        function editCourse() {
            artDialog.alert("You can't edit the published message.<br/>If you want to do it,Please cancel publish first!");
        }
    </script>
}
