<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>@ViewBag.Title </title>
    @Scripts.Render("https://res.wx.qq.com/open/js/jweixin-1.0.0.js")
    @RenderSection("Header",required:false)
    
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>

    <script src="~/Scripts/wechat/watermark.js"></script>
    
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/Scripts/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>

    <!-- bootstrap & fontawesome -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"><!--bootstrap cdn-->
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"><!--font-awesome cdn-->

    <link rel="stylesheet" href="~/styles/ui-dialog.css" />
    <link rel="stylesheet" type="text/css" href="~/scripts/webuploader/webuploader.css">

    <!--引入JS-->
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script><!--bootstrap cdn-->
    @*<script src="~/Scripts/jquery.metadata.js"></script>
    <script src="//cdn.bootcss.com/jquery-validate/1.15.0/jquery.validate.min.js"></script>jquery.validate cdn
    <script src="~/scripts/webuploader/webuploader.min.js"></script>
    <script src="~/scripts/common/commonupload.js"></script>

    <script src="~/Scripts/ace-extra.js"></script>
    <script src="/Scripts/common/Common.js"></script>
    <script src="/Scripts/common/Common.Form.js"></script>
    <script src="/Scripts/Common/lang/@(LanguageCode).js"></script>
    <script src="/Scripts/common/Common.tables.js"></script>*@
    <script src="/Scripts/common/dialog-min.js"></script>
    
</head>
<body>
    <div id="wx_div" style="position: absolute; width: 100%;">
        <div style="width: 100%; height: 100%; position: absolute; z-index: 999; left: 0; top: 0; pointer-events: none; background: url(/marks/@(ViewBag.WeChatUserID).png?ver=201509041); opacity: 0.4"></div>

        <div class="body-content" id="top" data-activemenu="@ViewBag.Activemenu">
            <header class="hd"><!--Menu--></header>
            <div class="page-content">
                @RenderBody()
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                //active current menu
                $('ul.navbar-nav li a').each(function (i, item) {
                    var obj = isCurrent(item);
                    if (obj) { $(item).parent('li').addClass('active').siblings().removeClass('active'); }
                });
                $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
            });

            function isCurrent(item) {
                var activemenu = $('#top').data('activemenu');
                var activemenuTitle = $(item).attr('title');
                if (activemenu == activemenuTitle) {
                    return true;
                }
                return false;
            }
        </script>

        @RenderSection("scripts_Foot", required: false)
    </div>
</body>
</html>
