@using Innocellence.WeChat.Domain.Common;
<script src="/Scripts/history/html/amrnb.js"></script>
<script src="/Scripts/multiple-select-master/multiple-select.js"></script>
<link href="/Scripts/multiple-select-master/multiple-select.css" rel="stylesheet">
<script src="/Scripts/history/lib/lightbox/source/jquery.fancybox.pack.js"></script>
<link href="/Scripts/history/lib/lightbox/source/jquery.fancybox.css" rel="stylesheet" />
<script src="/Scripts/history/lib/lightbox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<div class="subpage-title">
    <div class="pull-left">
        消息历史
    </div>
    <div class="clear"></div>
</div>

<div class="row" style="margin-top: 65px;">
    <div class="col-sm-12">
        <form class="form-inline" id="SearchForm" method="post">
            <div class="form-group">
                <div class="form-group">
                    <input id="hiddenAppId" name="hiddenAppId" type="hidden" value="@ViewBag.AppId" />
                    <input type="hidden" name="hasResponse" value="false" />
                    <select id="keywordType" onchange="KeywordTypeChange(this)" class="form-control" name="type" data-placeholder="Please Select Keyword Type">
                        <option value="" selected="selected">请选择搜索类型</option>
                        @{
                            foreach (var item in ViewBag.MessageTypes)
                            {
                                if (@item.Value == (int)WechatUserMessageLogContentType.Response_Empty)
                                {
                                    <option value="@item.Value">用户名</option>
                                }
                                else
                                {
                                    <option value="@item.Value">@item.Description</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <input class="input form-control" type="text" id="queryStr" name="queryStr" placeholder="搜索">
                    </div>
                    <a href="#" class="btn  btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="form-group" style="float: right;">
                <a href="#" class="btn btn-white btn-primary btn-lg" data-toggle="tooltip" data-placement="top" title="导出" id="btnExport">
                    <i class="fa fa-download"></i>导出
                </a>
            </div>
            <div id="tag-filter-div" class="col-sm-12">
            </div>
        </form>
        <div class="clearfix"></div>

        @{
            if (ViewBag.MessageTags != null)
            {
                <div id="Message_Tag">
                    <div class="Tag-title">
                        <h4 class="pull-left">消息标记</h4>
                        <a class="pull-right" href="#" data-toggle="modal" data-target="#myModal"><i class="ace-icon glyphicon glyphicon-tags"></i> &nbsp;标签管理</a>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 240px;">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">标签管理</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <input id="message_tag_add_tagname" class="col-sm-12" placeholder="请输入标签名" type="text">
                                                <input id="AppId" type="hidden" value="@ViewBag.AppId" />
                                            </div>
                                            <button type="button" id="message_tag_add" class="btn btn-primary btn-sm">增加</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="myUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 240px;">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">修改消息标记</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <input id="updateTag" class="col-sm-12" placeholder="请输入标签名" type="text">
                                                <input id="updateTagId" type="hidden" />
                                            </div>
                                            <button type="button" id="message_tag_edit" class="btn btn-primary btn-sm">保存</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 240px;">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <input id="delTagId" type="hidden" />
                                                您确定删除么？
                                            </div>
                                            <button type="button" id="message_tag_del" class="btn btn-primary btn-sm">确定</button>
                                            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end-->
                        <div class="clear"></div>
                    </div>

                    <ul id="Message_Tag_list">
                        @foreach (var item in ViewBag.MessageTags)
                        {
                            <li id="message_tag_item_@item.Id">
                                <h5>@item.TagName</h5>
                                <span>
                                    <a href="#" data-toggle="modal" data-target="#myUpdateModal" class="ace-icon glyphicon glyphicon-pencil message-tag-edit" data-id="@item.Id" data-name="@item.TagName"></a>
                                    <a href="#" data-toggle="modal" data-target="#myDeleteModal" class="ace-icon glyphicon glyphicon-remove message-tag-del" data-id="@item.Id"></a>
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
        <div class="table-box table-link">
            <div id="AllHistoryList">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width:8%;">@T("Id")</th>
                            <th style="width:9%">@T("用户名")</th>
                            <th style="width:40%">@T("内容")</th>
                            <th style="width:8%">@T("内容类型")</th>
                            <th style="width:15%">@T("发布时间")</th>
                            @*<th style="width:15%">@T("标签设置")</th>*@
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div id="UserHistoryList" class="modal" tabindex="-1">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">歷史消息</div>

                <div class="modal-body">

                    <div style="display: none;" class="tips_loading userMsg_tips_loading hide js_conloading"></div>
                    <div style="display: block;" class="mc_header js_conHeaderArea">
                        <a href="javascript:;" class="btn float-left js_conClose">关闭</a><a href="javascript:;" class="btn float-right js_conChooseBtn">选择</a>
                        <p class="mc_title js_conUserName"></p>
                    </div>
                    <div style="display: none;" class="mc_header hide js_conCompleteArea"><a href="javascript:;" class="btn float-left js_conCompleteBtn">返回</a><a href="javascript:;" data-all="0" class="btn float-right js_chooseAllBtn">全选</a></div>
                    <div style="display: block;" class="mc_content js_conBody">
                        <div id="conversebottom" style="height:1px"></div>
                    </div>
                    <div style="display: block;" class="mc_footer js_conInputArea">
                        <a href="javascript:;" class="icon icon_expression"></a>
                        <input type="text" style="" class="input_text" /><a class="btn btn_blue">发送</a>
                    </div>
                    <div style="display: none;" class="mc_footer hide js_conOpeArea"><a disabled="disabled" class="btn float-left js_conSaveBtn disabled">存入素材库</a><a href="javascript:;" class="btn float-right btn_margin_left js_conDelAllBtn">删除会话</a><a disabled="disabled" class="btn float-right js_conDelChooseBtn disabled">删除</a></div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    关闭
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Tag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">编辑标签：</h4>
            </div>
            <div class="modal-body">
                <input id="tag-history-id" type="hidden" />
                <div class="row">

                    <div class="row marginTop1">
                        <div class="col-md-3 text-right">
                            <p class="edit-tag">编辑标签：</p>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div>
                                    <!-- #section:plugins/input.multiselect -->
                                    <select id="food" style="width:300px;"></select>
                                    <!-- /section:plugins/input.multiselect -->
                                </div>

                                <div id="selected-tags">
                                </div>
                            </div>
                            <img />
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="tag-save-btn" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="hiddenvideofancybox" style="display:none">
    <video src="" controls="controls" style="width:100%;height:100%;">
        您的浏览器不支持 video 标签。
    </video>
</div>

@section scripts_Foot
{
    <script type="text/javascript" src="/Scripts/history/html/app_emoji.js"></script>
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });

        $(document).ready(function () {
            LEAP.Common.MainPop.options.dataTable = $('#AllHistoryList .data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": {
                    "url": "GetList",
                    "data": function (d) {
                        ajaxData(d, "SearchForm", LEAP.Common.MainPop.options.dataTable);
                    }
                },
                "paging": true,
                "info": true,
                "SearchForm": "SearchForm",
                "aoColumns": [
                    { "mData": 'Id' },
                    { "mData": 'UserName' },
                    { "mData": 'Content' },
                    { "mData": 'ContentTypeDisplayStr' },
                    { "mData": "CreatedTime" },
                    //{ "mData":  'TagId' }
                ],
                "columnDefs": [
                {
                    "targets": 0,
                    "visible": false,
                    "render": function (data, type, full, meta) {
                        return data;
                    }
                },
                {
                    "targets": 1,
                    "render": function (data, type, full, meta) {
                        var html = '<img data-id="' + full.Id + '" src="' + full.PhotoUrl + '" style="width:30px;height:30px;margin-right:10px">' + data
                        return html;
                    }
                },
                {
                    "targets": 2,
                    "render": function (data, type, full, meta) {
                        if (full.ContentType == 8) {
                            var html = '[菜单] ' + data;
                            return html;
                        }
                        else if (full.ContentType == 3) {
                            var html = '<img src="' + data + '" onclick="openHiddenbox(this)" style="width:30px;height:30px;">';
                            return html;
                        }
                        else if (full.ContentType == 4) {
                            var html = '<i class="fa fa-volume-up" id="media-type" aria-hidden="true" onclick="openAudioTypeBox(this)" data-audio="' + data + '"></i>';
                            return html;
                        }
                        else if (full.ContentType == 5) {
                            var html = '<i class="fa fa-film" id="media-type" aria-hidden="true" onclick="openVideoTypeBox(this)" data-video="' + data + '"></i>';
                            return html;
                        }


                        else if (checkURL(data)) {
                            var ifUrl = '<a class="table-edit-tag url-tag" onclick="goIfurl(this)" view-url="' + data + '">' + data + '</a>';
                            return ifUrl;
                        }
                        else
                            return checkEmoji(data);
                    }
                },
                //{
                //    "targets": 5,
                //    "render": function (data, type, full, meta) {
                //        return '<div id="' + full.Id + '">'
                //            + '<a class="table-edit-tag" onclick="editHistoryTag(this)"  > 编辑标签 </a>'
                //            + '</div>'
                //    }
                //}
                ],
                fnDrawCallback: function () {

                    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                    $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                    $('.gotopage').click(function () {
                        $('#AllHistoryList .data-table').dataTable().api().page(parseInt($('#go_page').val()) - 1).draw(false)
                    })


                }
            }));
            var table = $('#AllHistoryList .data-table').DataTable();


            $('#button').click(function () {
                table.row('.selected').remove().draw(false);
            });

            $("#Message_Tag ul li").mouseover(function () {
                $(this).find("span").show();
            });

            $("#Message_Tag ul li").mouseout(function () {
                $(this).find("span").hide();
            });


        });
        function checkURL(URL) {
            var str = URL;
            var Expression = /^http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/;
            var objExp = new RegExp(Expression);
            if (objExp.test(str) == true) {
                return true;
            } else {
                return false;
            }
        };



        function goIfurl(obj) {
            this.event.stopPropagation();
            window.open($(obj).attr('view-url'), "_blank");
        }
        function editHistoryTag(obj) {
            this.event.stopPropagation();
            var Id = $(obj).parent().attr('id');
            $('#tag-history-id').val(Id);
            $.ajax({
                url: "http://" + window.location.host + "/WechatUserRequestMessageLog/GetSelectedHistoryTagList",
                type: "get",
                data: { 'Id': Id },
                datatype: "json",
                success: function (data) {
                    if (data.Status == 200) {
                        var html = '';
                        $('#selected-tags').html('');
                        $('#food').html('');
                        $.each(data.result, function (i, item) {
                            if (item.Value) {
                                html += "<option value=" + item.Key.Id + " selected='selected'>" + item.Key.TagName + "</option>";
                                var selectedTag = '<a class="selected-tag" id="' + item.Key.Id + '" value="' + item.Key.Id + '">' + item.Key.TagName + ' </a>';
                                $('#selected-tags').append(selectedTag);
                            }
                            else {
                                html += "<option value=" + item.Key.Id + ">" + item.Key.TagName + "</option>";
                            }
                        });
                        html += "</select>";
                        $('#food').append(html);
                        $('#food').find('.ms-select-all').hide();
                        //$('#food').multipleSelect();
                        $('input[data-name=selectGroup]').hide();
                        $('input[data-name=selectItem]').change(function () {
                            var name = $(this).parent().find('span').text();
                            var value = $(this).val();
                            if ($(this).prop('checked')) {
                                var selectedTag = '<a class="selected-tag" id="' + value + '" value="' + value + '">' + name + '</a> ';
                                $('#selected-tags').append(selectedTag);
                            }
                            else {
                                $('#selected-tags').find('#' + value).remove();
                            }
                        });
                        $('#Tag').modal();
                    }


                },
                error: function (msg) {
                }
            });

        }
        $('#tag-save-btn').on('click', function () {
            var id = $('#tag-history-id').val();
            var tags = '';
            debugger;
            $('#selected-tags').children().each(function (i, item) {
                tags = tags + $(item).attr('value') + ',';
            });
            $.ajax({
                url: "http://" + window.location.host + "/WechatUserRequestMessageLog/AddTagToHistory",
                type: "post",
                data: { "Id": id, 'tagIdstr': tags },
                datatype: "json",
                success: function (data) {
                    $('#Tag').modal('hide')
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                    LEAP.Common.MainPop.options.dataTable.fnDraw();
                },
                error: function (msg) {
                    //alert("error" + msg);
                }
            });
        });

        function KeywordTypeChange(obj) {
            var selected = $(obj).val();
            if (selected > 10 && selected < 100) {
                $('#queryStr').hide();
            } else {
                $('#queryStr').show();
            }
        }
        var openHiddenbox = function (e) {
            this.event.stopPropagation();
            var nowsrc = $(e).attr("src");
            parent.$(".hiddenfancybox a.fancybox").attr("href", nowsrc);
            parent.$(".hiddenfancybox a.fancybox").fancybox({
                'scrolling': 'no',
                'arrows': false,
            });

            parent.$(".hiddenfancybox a.fancybox").click();
        }
        var openAudioTypeBox = function (e) {

            this.event.stopPropagation();
            var nowsrc = $(e).data("audio");
            fetchBlob(nowsrc, function (blob) {
                playAmrBlob(blob);
            });

        }
        var openVideoTypeBox = function (e) {
            this.event.stopPropagation();
            var nowsrc = $(e).data("video");
            parent.$(".hiddenvideofancybox video").attr("src", nowsrc);
            parent.$(".hiddenvideofancybox video").fancybox({
                'scrolling': 'no',
                'arrows': false,
            });

            parent.$(".hiddenvideofancybox video").click();
        }

        var gAudioContext = new AudioContext();

        function getAudioContext() {
            if (!gAudioContext) {
                gAudioContext = new AudioContext();
            }
            return gAudioContext;
        }

        function fetchBlob(url, callback) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url);
            xhr.responseType = 'blob';
            xhr.onload = function () {
                callback(this.response);
            };
            xhr.onerror = function () {
                alert('Failed to fetch ' + url);
            };
            xhr.send();
        }

        function readBlob(blob, callback) {
            var reader = new FileReader();
            reader.onload = function (e) {
                var data = new Uint8Array(e.target.result);
                callback(data);
            };
            reader.readAsArrayBuffer(blob);
        }

        function playAmrBlob(blob, callback) {
            readBlob(blob, function (data) {
                playAmrArray(data);
            });
        }


        function playAmrArray(array, isPlay) {
            var samples = AMR.decode(array);
            if (!samples) {
                alert('Failed to decode!');
                return;
            }
            playPcm(samples);
        }
        var curSrc;
        var isPlay = true
        function playPcm(samples) {
            var ctx = getAudioContext();
            var src = ctx.createBufferSource();
            var buffer = ctx.createBuffer(1, samples.length, 8000);
            if (buffer.copyToChannel) {
                buffer.copyToChannel(samples, 0, 0)
            } else {
                var channelBuffer = buffer.getChannelData(0);
                channelBuffer.set(samples);
            }

            src.buffer = buffer;
            src.connect(ctx.destination);

            if (isPlay) {
                src.start();
                isPlay = false;
            }
            else {
                curSrc.stop();
                isPlay = true;
            }
            curSrc = src;
        }
    </script>
    <style>
        .ms-parent .ms-select-all {
            display: none;
        }

        .fancybox-overlay {
            z-index: 99999998 !important;
        }

        .fancybox-opened {
            z-index: 99999999 !important;
        }
    </style>
}

<script src='/Scripts/history/dist/app.js'></script>
<script src='/Scripts/history/lib/layer/layer.js'></script>