@model Innocellence.Activity.ModelsView.EventEntityView
@{
    ViewBag.Title = "活动";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section easyui_css{
    <link rel="stylesheet" href="~/Plugins/Innocellence.Activity/Content/style.css" />
}
<style>
    .align_text{
        text-align:left !important;
    }
</style>
<div id="ModalTable">
    <form method="POST" id="ff" class="form-horizontal" action="Post">
        <input type="hidden" id="ID" name="ID" value="@Model.Id" />
        <input type="hidden" id="Type" name="Type" value="Activity" />
        <input type="hidden" id="ActivityAppId" name="ActivityAppId" value="@ViewBag.appid" />
        <input type="hidden" id="PollingId" name="PollingId" value="@Model.PollingId.GetValueOrDefault()" />
        <input type="hidden" id="RegisteredStartedDateTime" name="RegisteredStartedDateTime" />
        <input type="hidden" id="CheckinStartedDateTime" name="CheckinStartedDateTime" />
        <input type="hidden" id="StartedDateTime" name="StartedDateTime" />
        <input type="hidden" id="RegisteredEndedDateTime" name="RegisteredEndedDateTime" />
        <input type="hidden" id="CheckinEndedDateTime" name="CheckinEndedDateTime" />
        <input type="hidden" id="EndedDateTime" name="EndedDateTime" />
        <input type="hidden" value="@Model.IsNeedRegisterBeforeCheckin.ToString()" name="IsNeedRegisterBeforeCheckin" id="IsNeedRegisterBeforeCheckin" />
        <div class="row">
            <div class="form-group col-lg-6">
                <div class="row" style="margin: 0; margin-bottom: 15px;">
                    <label class="col-lg-2 nopd-lr control-label align_text">活动名称：</label>
                    <div class="col-lg-10">
                        <input type="text" name="Name" class="form-control" placeholder="活动名称" value="@Model.Name"
                               validate="{required:true,maxlength:250,messages:{required:'请填写活动名称',maxlength:'名称长度太长'}}" />
                    </div>
                </div>
                <div class="row" style="margin: 0; margin-bottom: 15px;">
                    <label class="col-lg-2 nopd-lr control-label align_text">活动地点：</label>
                    <div class="col-lg-10">
                        <input type="text" name="Location" id="Location" class="form-control" placeholder="活动地点" value="@Model.Location"
                               validate="{required:true,maxlength:250,messages:{required:'请填写活动地点',maxlength:'地点长度太长'}}" />
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div class="row" style="margin: 0; margin-bottom: 15px;">
                    <label class="col-lg-2 nopd-lr control-label align_text">报名时间：</label>
                    <div class="col-lg-10 nopd-lr">
                        @if (Model.RegisteredStartedDateTime != null)
                        {

                            <div class="col-lg-12 nopd-lr form-inline mb10">
                                <div data-date-format="yyyy-mm-dd" class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    <input type="text" id="RegisteredStartDate" name="RegisteredStartDate" class="form-control form_datatime"
                                           placeholder="开始时间" value="@Model.RegisteredStartedDateTime.Value.ToString("yyyy-MM-dd")" />
                                </div>
                                --
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    <input id="RegisteredStartTime" type="text" class="form-control input-small" value="@Model.RegisteredStartedDateTime.GetValueOrDefault().ToString("HH:mm")" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-12 nopd-lr form-inline mb10">
                                <div data-date-format="yyyy-mm-dd" class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    <input type="text" id="RegisteredStartDate" name="RegisteredStartDate" class="form-control form_datatime"
                                           placeholder="开始时间" />
                                </div>
                                --
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    <input id="RegisteredStartTime" type="text" class="form-control input-small" />
                                </div>
                            </div>
                        }
                        @if (Model.RegisteredEndedDateTime != null)
                        {
                            <div class="col-lg-12 nopd-lr form-inline mb10">
                                <div data-date-format="yyyy-mm-dd" class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    <input type="text" id="RegisteredEndDate" name="RegisteredEndDate" class="form-control form_datatime"
                                           placeholder="结束时间" value="@Model.RegisteredEndedDateTime.Value.ToString("yyyy-MM-dd")" />
                                </div>
                                --
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    <input id="RegisteredEndTime" type="text" class="form-control input-small" value="@Model.RegisteredEndedDateTime.GetValueOrDefault().ToString("HH:mm")" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-12 nopd-lr form-inline mb10">
                                <div data-date-format="yyyy-mm-dd" class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    <input type="text" id="RegisteredEndDate" name="RegisteredEndDate" class="form-control form_datatime"
                                           placeholder="结束时间" />
                                </div>
                                --
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    <input id="RegisteredEndTime" type="text" class="form-control input-small" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6">
                <label class="col-lg-2 nopd-lr control-label align_text">活动描述：</label>
                <div class="col-lg-10">
                    <textarea name="Desc" id="Desc" class="form-control" placeholder="描述" style="min-height: 110px; text-align: left; padding-left: 4px;" validate="{required:true,maxlength:1400,messages:{required:'请填写活动内容',maxlength:'内容长度太长.'}}">@Model.Desc</textarea>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div class="row" style="margin: 0; margin-bottom: 15px;">
                    <label class="col-lg-2 nopd-lr control-label align_text">签到时间：</label>
                    <div class="col-lg-10 nopd-lr">
                        @if (Model.CheckinStartedDateTime != null)
                        {

                            <div class="col-lg-12 nopd-lr form-inline mb10">
                                <div data-date-format="yyyy-mm-dd" class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    <input type="text" id="CheckinStartDate" name="CheckinStartDate" class="form-control form_datatime"
                                           placeholder="开始时间" value="@Model.CheckinStartedDateTime.Value.ToString("yyyy-MM-dd")" />
                                </div>
                                --
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    <input id="CheckinStartTime" type="text" class="form-control input-small" value="@Model.CheckinStartedDateTime.Value.ToString("HH:mm")" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-12 nopd-lr form-inline mb10">
                                <div data-date-format="yyyy-mm-dd" class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    <input type="text" id="CheckinStartDate" name="CheckinStartDate" class="form-control form_datatime"
                                           placeholder="开始时间" />
                                </div>
                                --
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    <input id="CheckinStartTime" type="text" class="form-control input-small" />
                                </div>
                            </div>
                        }
                        @if (Model.CheckinEndedDateTime != null)
                        {

                            <div class="col-lg-12 nopd-lr form-inline mb10">
                                <div data-date-format="yyyy-mm-dd" class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    <input type="text" id="CheckinEndDate" name="CheckinEndDate" class="form-control form_datatime"
                                           placeholder="结束时间" value="@Model.CheckinEndedDateTime.Value.ToString("yyyy-MM-dd")" />
                                </div>
                                --
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    <input id="CheckinEndTime" type="text" class="form-control input-small" value="@Model.CheckinEndedDateTime.Value.ToString("HH:mm")" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-12 nopd-lr form-inline mb10">
                                <div data-date-format="yyyy-mm-dd" class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                    <input type="text" id="CheckinEndDate" name="CheckinEndDate" class="form-control form_datatime"
                                           placeholder="结束时间" />
                                </div>
                                --
                                <div class="input-group bootstrap-timepicker timepicker">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                    <input id="CheckinEndTime" type="text" class="form-control input-small" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <div class="row" style="margin: 0; margin-bottom: 15px;">
                    <label class="col-lg-2 nopd-lr control-label align_text">最多报名人数:</label>
                    <div class="col-lg-10">
                        <input type="text" name="MaxUser" id="MaxUser" class="form-control" placeholder="最多报名人数" value="@Model.MaxUser"
                               validate="{required:true,maxlength:5,digits:true,messages:{required:'请填写限制人数',maxlength:'人数长度不能超过五位数',digits:'请输入数字'}}" />
                        <p>（备注： 0表示无限制，该项只适用于报名）</p>
                    </div>
                </div>
                <div class="row" style="margin: 0; margin-bottom: 15px;">
                    <label class="col-lg-2 nopd-lr control-label align_text">活动报名：</label>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <input type="text" class="form-control" name="PollingName" id="PollingName" placeholder="名称" value="@Model.PollingName" readonly="readonly" style="max-width:100%;"
                                   validate="{required:false,maxlength:150,messages:{required:'请选择投票名称',maxlength:'请控制投票名称的长度'}}">
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-sm" type="button" id="btnClear" data-toggle="tooltip" data-placement="top" title="清除"><i class="fa fa-remove"></i></button>
                                <button class="btn btn-info btn-sm" type="button" id="btnSelect" data-toggle="modal" data-target="#vote_modal"><i class="fa fa-search"></i></button>
                            </span>

                        </div>
                        <p>（备注：该项只适用于报名）</p>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6">
                <div class="row" style="margin: 0;">
                    <label class="col-lg-2 nopd-lr control-label align_text">活动时间：</label>
                    <div class="col-lg-10 nopd-lr">
                        <div class="col-lg-12 nopd-lr form-inline mb10">
                            <div data-date-format="yyyy-mm-dd" class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                <input type="text" id="StartDate" name="StartDate" class="form-control form_datatime"
                                       placeholder="开始时间" value="@Model.StartedDateTime.ToString("yyyy-MM-dd")" />
                            </div>
                            --
                            <div class="input-group bootstrap-timepicker timepicker">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                <input id="StartTime" type="text" class="form-control input-small" value="@Model.StartedDateTime.ToString("HH:mm")" />
                            </div>
                        </div>
                        <div class="col-lg-12 nopd-lr form-inline mb10">
                            <div data-date-format="yyyy-mm-dd" class="input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                                <input type="text" id="EndDate" name="EndDate" class="form-control form_datatime"
                                       placeholder="结束时间" value="@Model.EndedDateTime.ToString("yyyy-MM-dd")" />
                            </div>
                            --
                            <div class="input-group bootstrap-timepicker timepicker">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                <input id="EndTime" type="text" class="form-control input-small" value="@Model.EndedDateTime.ToString("HH:mm")" />
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            

        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <div class="row" style="margin: 0; margin-bottom: 15px;">
                    <label class="col-lg-3 nopd-lr control-label align_text">允许未报名用户签到:</label>
                    <div class="col-sm-9">
                        @if (Model.IsNeedRegisterBeforeCheckin)
                        {
                        <input type="checkbox" id="IsNeedRegisterBeforeCheckinCheckBox" checked="checked" class="ace ace-switch ace-switch-2 form-control" />
                        }
                        else
                        {
                        <input type="checkbox" id="IsNeedRegisterBeforeCheckinCheckBox" class="ace ace-switch ace-switch-2 form-control" />
                        }

                        <span class="lbl mt10"></span>
                    </div>
                </div>
                </div>
            </div>
                <div class="row" style="display: none">
                    <div class="form-group col-lg-6">
                        <label class="col-lg-3 control-label">注册链接：</label>
                        <div class="col-lg-9">
                            <input type="hidden" name="RegisteredUrl" id="RegisteredUrl" class="form-control" value="/caadmin/eventprofile/signlist/" />
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="col-lg-3 control-label">签到链接：</label>
                        <div class="col-lg-9">
                            <input type="hidden" name="CheckinUrl" id="CheckinUrl" class="form-control" value="/caadmin/eventprofile/attendlist" />
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0 35px; margin-top: 15px;">
                    <button type="submit" id="btnSubmit" class="btn btn-success pull-right">保存</button>
                </div>
</form>
</div>

<!-- Modal Begain-->
<div class="modal fade" id="vote_modal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title">投票列表</h4>
            </div>
            <div class="modal-body">
                <div class="vote-list" style="overflow-y: auto; max-height: 300px;">
                    <table id="survey_table" class="table table-hover">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>投票名称</th>
                                <th>类型</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnConfirm">确认</button>
            </div>
        </div>
    </div>
</div>

@section scripts_Foot
{

    <script type="text/javascript">

        $(document).ready(function () {

            var validator = $('#ff').validate();

            $('#btnSubmit').attr('disabled', false);

            $('#IsNeedRegisterBeforeCheckinCheckBox').on('click',function() {
                $('#IsNeedRegisterBeforeCheckin').val($(this).is(":checked")?'True':'False');
            });
            
            LEAP.Common.MainPop.options.fnAfterPostError = function () { $('#btnSubmit').attr('disabled', false); };

            $('#ff').submit(function () {
                if (!validator.form()) {
                    return false;
                }
            });

            //页面成功后跳转
            LEAP.Common.MainPop.options.fnAfterSuccess = function () {
                window.location.href = 'Index?appId=' + $("#ActivityAppId").val();
            };


            $('.form_datatime').datetimepicker({
                format: 'yyyy-mm-dd',
                weekStart: 1,
                autoclose: true,
                startView: 2,
                minView: 2,
                todayBtn: 'linked',
                clearBtn: true,
                language: 'zh-CN',
            });
            //initial time picker
            $('#StartTime').timepicker({
                maxHours: 24,
                minuteStep: 1,
                snapToStep: true,
                showSeconds: false,
                defaultTime: '00:00',
                showMeridian: false
            });

            $('#EndTime').timepicker({
                maxHours: 24,
                minuteStep: 1,
                showSeconds: false,
                snapToStep: true,
                defaultTime: '23:59',
                showMeridian: false
            });
            //initial time picker
            $('#RegisteredStartTime').timepicker({
                maxHours: 24,
                minuteStep: 1,
                snapToStep: true,
                showSeconds: false,
                defaultTime: '00:00',
                showMeridian: false
            });

            $('#RegisteredEndTime').timepicker({
                maxHours: 24,
                minuteStep: 1,
                showSeconds: false,
                snapToStep: true,
                defaultTime: '23:59',
                showMeridian: false
            });
            //initial time picker
            $('#CheckinStartTime').timepicker({
                maxHours: 24,
                minuteStep: 1,
                snapToStep: true,
                showSeconds: false,
                defaultTime: '00:00',
                showMeridian: false
            });

            $('#CheckinEndTime').timepicker({
                maxHours: 24,
                minuteStep: 1,
                showSeconds: false,
                snapToStep: true,
                defaultTime: '23:59',
                showMeridian: false
            });

            $('#vote_modal').on("shown.bs.modal", function () {
                //请求前清除一次
                $('#survey_table > tbody').html("");

                $.ajax({
                    type: 'GET',
                    url: '/Activity/PollingAdmin/GetPollingList',
                    cache: false,
                    data: { appId: $('#ActivityAppId').val(), Type: "3" },
                    success: function (result) {
                        if (result.data != null && result.data != "") {
                            var pollingType = "";
                            var endDate, startDate;
                            //轮循列表
                            for (var x = 0; x < result.data.length; x++) {
                                switch (result.data[x].Type) {
                                    case 1:
                                        pollingType = "有奖问答";
                                        break;
                                    case 2:
                                        pollingType = "投票";
                                        break;
                                    case 3:
                                        pollingType = "活动";
                                        break;
                                    default:
                                        pollingType = "无效类型";
                                }
                                startDate = result.data[x].StartDateTime;
                                endDate = result.data[x].EndDateTime;
                                $('#survey_table > tbody').append('<tr>' +
                                    '<td>' +
                                    '<input type="radio" name="survey" value=' + result.data[x].Id + ' /></td>' +
                                    '<td>' + result.data[x].Name + '</td>' +
                                    '<td>' + pollingType + '</td>' +
                                    '<td>' + startDate + '</td>' +
                                    '<td>' + endDate + '</td>' +
                                    '</tr>'
                                );
                            }
                            //当前url反选
                            var radioNode = $('input[name="survey"]');
                            if ($('#PollingId').val() != null && $('#PollingId').val() != "" && $('#PollingId').val() != "0") {
                                for (var i = 0; i < radioNode.length; i++) {
                                    if ($('#PollingId').val() == radioNode.eq(i).val()) {
                                        radioNode.eq(i).prop("checked", "checked");
                                    }
                                }
                            }
                        } else {
                            $('#survey_table > tbody').html("<p>没有任何的投票记录。</p>");
                        }
                    }
                });

            });

            $('#btnClear').click(function () {
                //将PoliingId设置为0 PollingName清空
                $('#PollingId').val(0);
                $('#PollingName').val("");
            });

            $('#btnConfirm').click(function () {
                var selectNode = $('input[name="survey"]:checked');
                $('#PollingId').val(selectNode.val());
                $('#PollingName').val(selectNode.parent('td').next().text());
                //close modal
                $('#vote_modal').modal('hide');
                //清除所选
                $('input[type="radio"]').attr("checked", false);
                $('#survey_table > tbody').html("");
            });

            //添加页面，清空所有的时间
            if ($("#ID").val() < 1) {
                $("#StartDate").val('');
                $("#EndDate").val('');
                $("#CheckinStartDate").val('');
                $("#CheckinEndDate").val('');
                $("#RegisteredStartDate").val('');
                $("#RegisteredEndDate").val('');
                $("#StartTime").val('0:00');
                $("#EndTime").val('23:59');
                $("#CheckinStartTime").val('0:00');
                $("#CheckinEndTime").val('23:59');
                $("#RegisteredStartTime").val('0:00');
                $("#RegisteredEndTime").val('23:59');
            }

            //提交，验证
            $("#btnSubmit").click(function () {
                //报名时间可以为空
                if ($('#RegisteredStartDate').val() == null || $('#RegisteredStartDate').val() == '') {
                    $("#RegisteredStartDate").val('');
                }
                else {
                    $("#RegisteredStartedDateTime").val($('#RegisteredStartDate').val() + " " + $('#RegisteredStartTime').val());
                }

                if ($('#RegisteredEndDate').val() == null || $('#RegisteredEndDate').val() == '') {
                    $("#RegisteredEndedDateTime").val('');
                }
                else {
                    $("#RegisteredEndedDateTime").val($('#RegisteredEndDate').val() + " " + $('#RegisteredEndTime').val());
                }

                //签到时间可以为空
                if ($('#CheckinStartDate').val() == null || $('#CheckinStartDate').val() == '') {
                    $("#CheckinStartedDateTime").val('');
                }
                else {
                    $("#CheckinStartedDateTime").val($('#CheckinStartDate').val() + " " + $('#CheckinStartTime').val());
                }
                if ($('#CheckinEndDate').val() == null || $('#CheckinEndDate').val() == '') {
                    $("#CheckinEndedDateTime").val('');
                }
                else {
                    $("#CheckinEndedDateTime").val($('#CheckinEndDate').val() + " " + $('#CheckinEndTime').val());
                }

                $("#StartedDateTime").val($('#StartDate').val() + " " + $('#StartTime').val());
                $("#EndedDateTime").val($('#EndDate').val() + " " + $('#EndTime').val());

                return checkcheckin($("#RegisteredStartedDateTime").val(), $("#RegisteredEndedDateTime").val(), "报名")
                    && checkcheckin($("#CheckinStartedDateTime").val(), $("#CheckinEndedDateTime").val(), "签到")
                    && checkdate($("#StartedDateTime").val(), $("#EndedDateTime").val(), "活动")
                    && checkdatenull($("#StartDate").val(), $("#EndDate").val(), "活动")
                    && checkdate1($("#RegisteredStartedDateTime").val(), $("#CheckinStartedDateTime").val(), $("#StartedDateTime").val())
                    && CheckMaxUser();
            });


        });




        //验证最大人数
        function CheckMaxUser() {
            var MaxUser = $("#MaxUser").val();

            if (MaxUser < 0) {
                artDialog.alert("请输入最大人数。");
                return false;
            }
            return true;
        }

        //验证日期
        function checkdate(start, end, name) {
            if (start == null || start.length == 0) {
                artDialog.alert(name + "开始时间必填。");
                return false;
            }
            if (end == null || end.length == 0) {
                artDialog.alert(name + "结束时间必填。");
                return false;
            }
            var startime = new Date(start);
            var endtime = new Date(end);
            if (startime.getTime() >= endtime.getTime()) {
                artDialog.alert(name + " 结束时间不能早于开始时间。");
                return false;
            }
            return true;
        }
        function checkdatenull(start, end, name) {
            if (start == null || start.length == 0) {
                artDialog.alert(name + "开始时间必填。");
                return false;
            }
            if (end == null || end.length == 0) {
                artDialog.alert(name + "结束时间必填。");
                return false;
            }

            return true;
        }

        //签到日期或者报名时间可以为空
        function checkcheckin(checkstar, checkend, name) {
            if (!(checkstar == null || checkstar.length == 0) && !(checkend == null || checkend.length == 0)) {
                var startime = new Date(checkstar);
                var endtime = new Date(checkend);
                if (startime.getTime() >= endtime.getTime()) {
                    artDialog.alert(name + "结束时间不能早于开始时间。");
                    return false;
                }

            } else if ((checkstar == "" || checkstar == null) && (!(checkend == null || checkend == ""))) {
                artDialog.alert("开始时间必填。");
                return false;
            } else if ((checkend == null || checkend.length == 0) && (!(checkstar == null || checkstar.length == 0))) {
                artDialog.alert("结束时间必填。");
                return false;
            }
            return true;
        }

        //三个日期同时验证
        function checkdate1(registerstart, cheeckin, activity) {
            var registertime = new Date(registerstart);
            var cheeckintime = new Date(cheeckin);
            var activitytime = new Date(activity);
            //如果签到时间和报名时间同时为空
            if ((cheeckin == null || cheeckin.length == 0) && (registerstart == null || registerstart.length == 0)) {
                artDialog.alert("签到时间和报名时间至少填一个。");
                return false;
            }
            else if (!(cheeckin == null || cheeckin.length == 0) && !(registerstart == null || registerstart.length == 0)) {
                if (registertime.getTime() > cheeckintime.getTime()) {
                    artDialog.alert("签到开始时间不能早于报名开始时间。");
                    return false;
                }
                if (cheeckintime.getTime() > activitytime.getTime()) {
                    artDialog.alert("活动开始时间不能早于签到开始时间。");
                    return false;
                }
            } else if ((cheeckin == null || cheeckin.length == 0) && !(registerstart == null || registerstart.length == 0)) {
                if (registertime.getTime() > activitytime.getTime()) {
                    artDialog.alert("活动开始时间不能早于报名开始时间。");
                    return false;
                }
            }
            else if (!(cheeckin == null || cheeckin.length == 0) && (registerstart == null || registerstart.length == 0)) {
                if (cheeckintime.getTime() > activitytime.getTime()) {
                    artDialog.alert("活动开始时间不能早于签到开始时间。");
                    return false;
                }
            }
            return true;
        }

        //活动开始日期大于报名日期
        //function checkdate2(checkinstart, activity) {
        //    var starttime = new Date(checkinstart);
        //    var activitytime = new Date(activity);
        //    if (starttime.getTime() >= activitytime.getTime()) {
        //        artDialog.alert("Activity start time can not less than  checkin start time.");
        //        return false;
        //    }
        //    return true;
        //}

        //将/Date(...)格式转换为yyyy-MM-dd型日期格式
        function changeDateFormat(time) {
            if (time != null) {
                var date = new Date(parseInt(time.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                return date.getFullYear() + "-" + month + "-" + currentDate;
            }
            return "";
        }

    </script>
}