@{
    ViewBag.Title = "活动";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="Type" name="Type" value="Profile" />
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline" id="SearchForm" method="post">
            <div class="form-group pull-right">
                <input type="hidden" id="txtEventId" name="txtEventId" value="@ViewBag.EventId" />
                <input type="hidden" id="txtTypeCode" name="txtTypeCode" value="@ViewBag.TypeCode" />
                <a href="#" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="导出CSV" id="btnExport">
                    <i class="fa fa-download"></i>导出
                </a>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div>            
        </div>
        <div class="widget-box">
            <div class="widget-content nopadding">

                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width: 5%; text-align: center;">@T("ID")</th>
                            <th style="width:10%;text-align:center;">@T("礼来Id")</th>
                            <th style="width: 10%">@T("姓名")</th>
                            <th style="width: 15%">@T("一级部门")</th>
                            <th style="width: 15%">@T("二级部门")</th>
                            <th style="width: 10%">@T("三级部门")</th>
                            <th style="width: 25%">@T("邮箱")</th>
                            <th style="width: 10%">@T("访问时间")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts_Foot
{
    <script>
        var uploader;
        $(document).ready(function () {
            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                ajax: { "url": 'GetList?type=Profile' },
                aoColumns: [
                    {
                        "mData": "Id",
                        "bSortable": false
                    },
                    { "mData": "UserId" },
                    { "mData": "UserName" },
                    { "mData": "deptLv1" },
                    { "mData": "deptLv2" },
                    { "mData": "deptLv3" },
                    { "mData": "Email" },
                    { 'mData': "OperatedDateTime" }

                ],
                "columnDefs": jQuery.extend(true, datatableSetting.columnDefs, [
                {
                    "targets": 0,
                    "render": function (data, type, full, meta) {
                        return full.Id
                        ;
                    }
                },
                 {
                     "targets": 7,
                     "render": function (data, type, full, meta) {
                         if (data == null) {
                             return data;
                         }
                         return data.substring(0, 10);;
                     }
                 }
                ]),
                fnDrawCallback: function () { }
            }));


            LEAP.Common.MainPop.options.beforeShowModal = function () {

            };

            LEAP.Common.MainPop.options.afterShowModal = function () {

            };

        });
    </script>
}


