@using Innocellence.WeChat.Domain.Entity;
@model Innocellence.WeChat.Domain.ModelsView.EventCheckInResultView
@{
    ViewBag.Title = "签到结果";
    Layout = "~/plugins/Innocellence.WeChat/Views/Shared/_wxLayout.cshtml";
}

<style type="text/css">
    body {
        text-align: center;
        background-color: #FFFFFF;
    }

    .mainframe {
        width: 80%;
        height: 100%;
        margin: auto auto;
        font-size: 16px;
        line-height: 16px;
        overflow: hidden;
    }

    .headArea {
        margin-top: 10px;
        height: 30%;
    }

        .headArea .headImage {
            margin: 10px 0;
            width: 80px;
            height: 80px;
            border-radius: 40px;
        }

    .UserNameArea {
        height: 10%;
        margin-bottom: 20px;
        font-weight: bolder;
    }

    .EventNameArea {
        height: 10%;
        font-size: 20px;
        font-weight: bolder;
        line-height: 20px;
        margin: 10px 0;
    }

    .EventDescriptionArea {
        height: 50%;
    }

        .EventDescriptionArea .grid {
            border: 0;
            border-collapse: collapse;
            width: 100%;
        }

            .EventDescriptionArea .grid .title {
                font-weight: bolder;
                width: 30%;
                text-align: left;
                vertical-align: top;
                line-height: 20px;
                padding: 8px 0px;
            }

            .EventDescriptionArea .grid .content {
                width: 70%;
                text-align: left;
                vertical-align: top;
                line-height: 20px;
                padding: 8px 0px;
            }
</style>
<div class="mainframe">
    <div class="headArea">
        <span class="btn btn-success">签到成功</span><br />
        <img src="@Model.UserLogoUrl" onerror="this.src = '/Content/img/icon_avatar_default.png'" class="headImage" />
    </div>
    <div class="UserNameArea">
        @Model.WeChatUserID
    </div>
    <div class="EventNameArea">
        @Model.EventName
    </div>
    <div class="EventDescriptionArea">
        <table class="grid">
            <tr>
                <td class="title">活动时间:</td>
                <td class="content">@Model.EventStartTime 至 <br />@Model.EventEndTime</td>
            </tr>
            <tr>
                <td class="title">活动地点:</td>
                <td class="content">@Model.Address</td>
            </tr>
            <tr>
                <td class="title">活动描述:</td>
                <td class="content">@Model.EventDescription</td>
            </tr>
        </table>
    </div>
</div>