@using Innocellence.WeChat.Domain.Entity
@model Innocellence.WeChat.Domain.ModelsView.ArticleInfoView
@{
    ViewBag.Title = @Model.ArticleTitle;
    ViewBag.Activemenu = "Video";
    Layout = "~/plugins/Innocellence.WeChat/Views/Shared/_wxLayout.cshtml";
}
@section Header{
    <link rel="stylesheet" href="~/Plugins/Innocellence.WeChat/Content/style.css">
    <link href="/styles/video-js.css" rel="stylesheet">
    <script src="/scripts/video.js"></script>
}

<div class="detail">
    <h4>@Model.ArticleTitle</h4>
    <span class="time">@Model.CreatedDate.Value.ToString("yyyy-MM-dd")</span>
    @if (!String.IsNullOrEmpty(Model.ArticleContent))
    {
        <div class="detail-content">
            @Html.Raw(Model.ArticleContent)
        </div>
    }
    else
    {
        foreach (var block in @Model.ArticleContentViews)
        {
            if (!string.IsNullOrEmpty(block.VideoUrl.Trim()))
            {
                <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls
                       preload="auto" width="100%" height="264" poster="/Common/File?id=@block.ImageID&FileName=/temp/@block.ImageUrl"
                       data-setup="{}">
                    <source src="@block.VideoUrl" type='video/mp4'>
                </video>
            }
            <div class="detail-content">
                @foreach (var item in @block.ArticleParamContentList)
                {
                    if (!string.IsNullOrEmpty(item.Trim()))
                    {
                        <p style="text-indent: 1em; margin-top: 20px">@item</p>
                    }
                }
            </div>
        }
    }
</div>
