@model Innocellence.Activity.ViewModel.CheckinScreenConfig
@{
    ViewBag.Title = "微信墙-签到主页";
}

@section Header{
    <link rel="stylesheet" href="~/plugins/Innocellence.Activity/Content/style.css" />
}   

<div class="main-container">
    <input type="hidden" id="EventId" name="EventId" value="@ViewBag.EventId" />
    <input type="hidden" id="ScreenType" name="ScreenType" value="@ViewBag.ScreenType" />

    <div class="whiteoverlay"></div>

    <div class="ready-video">
        <canvas class="canvas" width="100%" height="100%"></canvas>
        <script src="~/plugins/Innocellence.Activity/Content/js/index.js"></script>
    </div>

    <div class="last-title">
        <img class="img-responsive " src="@ViewBag.TitlePic" />
    </div>
    
    <div class="sign-bg">
        <div class="sign-title">
            <img class="img-responsive " src="@ViewBag.TitlePic" />
        </div>

        <div class="sign-ready">
            @for (int i = 0; i < Model.Width * Model.Height; i++)
            {
                if (@Model.Seq[i] == 0)
                {
                    <div class="sign-people">
                        <img src="" alt="" />
                    </div>
                }
                else
                {
                    <div class="sign-people readyr" id="ready@(Model.Seq[i])">
                        <img src="" alt="" class="needPlace" data-readyr="@Model.Seq[i]" />
                    </div>
                }
                if (i>0 && i%Model.Width == 0 || i==Model.Width * Model.Height-1)
                {
                    <div class="clearfix"></div>
                }
            }
        </div>
    </div>

</div>

@section scripts_Foot{
   
<script src="~/plugins/Innocellence.Activity/Content/js/main.js"></script>
<script>

    $(function () {
        $('.sign-people').css("width", "@(100.0F/Model.Width)%");
    });

    //imgError
    function imgError(image) {
        image.onerror = "";
        image.src = "/Content/img/icon_avatar_default.png";
        return true;
    }
    </script>
}