<div class="subpage-title">
    <div class="pull-left">
        二维码
    </div>
    <div class="clear"></div>
</div>
<div class="row">
    <div class="col-sm-12" style="margin-top: 65px;">
        <div>
            <form class="form-inline" id="SearchForm" method="post">
                <div class="form-group">
                    <input type="hidden" id="AppId" name="AppId" value="@ViewBag.AppId" />
                    <input class="form-control" type="text" name="txtDescription" />
                    <a href="javascript:void(0)" class="btn  btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
                </div>
                <div class="form-group" style="float: right;">
                    <button type="button" class="btn btn-white btn-primary btn-lg" id="btnAll">
                        <i class="fa fa-floppy-o"></i>批量添加
                    </button>

                    <button type="button" class="btn btn-white btn-primary btn-lg" data-toggle="modal" data-target="#adds">
                        <i class="fa fa-floppy-o"></i>添加二维码
                    </button>
                </div>
                @*<div class="form-group" style="float: right;">
                    <a href="#" class="btn btn-white btn-primary btn-lg" data-toggle="tooltip" data-placement="top" title="导出" id="btnExport">
                        <i class="fa fa-download"></i>导出
                    </a>
                </div>*@
            </form>
        </div>
        <div class="table-box">
            <div class="">

                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="display:none">@T("ID")</th>
                            <th style="width: 15%">@T("二维码")</th>
                            <th style="width: 25%">@T("描述")</th>
                            <th style="width: 10%">@T("参数ID")</th>
                            <th style="width: 20%">@T("扫码累计净关注（人）")</th>
                            <th style="width: 20%">@T("扫码累计关注（人）")</th>
                            <th style="width: 10%">@T("操作")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="adds" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加二维码</h4>
            </div>
            <div class="modal-body" style="height:100px;">
                <div class="form-group">
                    <label class="col-sm-3">描述： </label>
                    <input class="col-sm-8" type="text" id="add_Description" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btn_Add" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改描述</h4>
            </div>
            <div class="modal-body container-fluid" style="height:300px;">
                <form>
                    <div class="row form-group">
                        <div class="col-sm-2 text-right"><label class=" control-label" for="edit_SceneId">参考ID :</label></div>                     
                        <div class="col-sm-10"><input class=" form-control" type="text" id="edit_SceneId" readonly /></div>
                    </div>
                    <div class="row form-group">
                    	<div class="col-sm-2 text-right"><label class="control-label" for="edit_Description">描述 :</label></div> 
                    	<div class="col-sm-10"><textarea class=" form-control" id="edit_Description"> </textarea></div>                                                
                    </div>
                </form>
            </div>
            <div class="clear">
            	
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btn_Edit" class="btn btn-primary">保存更改</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pics" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>*@
            <div class="modal-body" style="height:560px;">
                <img id="preview_OrCode" class="col-sm-12"/>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btn_Add" type="button" class="btn btn-primary">保存更改</button>
            </div>*@
        </div>
    </div>
</div>
@section scripts_Foot
{
    <script>
        $(function () {
            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": { "url": "GetList?where=" + JSON.stringify({ Rules: [{ Field: 'AppId', Value: @ViewBag.AppId }] }) },
                //"data": function (d) {
                //    ajaxData(d, "SearchForm", LEAP.Common.MainPop.options.dataTable);
                //},
                "SearchForm":"SearchForm",
                "aoColumns": [
                {
                    "mData": "Id",
                    "bSortable": false,
                    "bSearchable": false,
                    "visible": false,
                },
                { "mData": "Url" },
                { "mData": "Description" },
                { "mData": "SceneId" },
                { "mData": "PurePeopleCount" },
                { "mData": "PeopleCount" }
                ],
                "columnDefs":
                jQuery.extend(true, datatableSetting.columnDefs, [
                     {
                         "targets": 1,
                         "render": function (data, type, full, meta) {
                             return '<a href="#pics"  data-toggle="modal"><img src="' + full.Url + '" style="width:100px;cursor:pointer;"></img></a>';
                         }
                     },
                     {
                         "targets": 6,
                         "render": function (data, type, full, meta) {
                             //return '<span><a href="#">扫描详情</a></span> | <span><a href="#edits"  data-toggle="modal">修改描述</a></span>';
                             return '<span><a href="#edits"  data-toggle="modal">修改描述</a></span>';
                         }
                     }
                ]),
                fnDrawCallback: function() { $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                    $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                    $('.gotopage').click(function () {
                       var gopage = (/^[0-9]+$/).test($('#go_page').val()) ? $('#go_page').val() : "1";
        $('.data-table').dataTable().api().page(parseInt(gopage) - 1).draw(false)
                    })
                }

            }));
            $('#pics').on('show.bs.modal', function (e) {
                var data = LEAP.Common.MainPop.options.dataTable.api().row($(e.relatedTarget).parents('tr')[0]).data();
                $('#preview_OrCode').attr('src', data.Url);
            });
            $('#adds').on('show.bs.modal', function (e) {
                $('#add_Description').val('');
            });
            $('#edits').on('show.bs.modal', function (e) {
                var data = LEAP.Common.MainPop.options.dataTable.api().row($(e.relatedTarget).parents('tr')[0]).data();
                $('#edit_SceneId').val(data.SceneId);
                $('#edit_Description').val(data.Description);
            });
            $("#btn_Edit").on('click', function () {
                var data = new FormData();
                data.append("AppId", $('#AppId').val());
                data.append("SceneId", $('#edit_SceneId').val());
                data.append("Description", $('#edit_Description').val());
                $.ajax({
                    method: "POST",
                    url: "EditDescription",
                    contentType: false,
                    processData: false,
                    data: data
                }).done(function (resp) {
                    if (resp.result == 200) {
                        $('#edits').modal('hide');
                        LEAP.Common.MainPop.options.dataTable.fnDraw();
                    }
                });
            });
            $("#btn_Add").on('click', function () {
                var data = new FormData();
                data.append("AppId", $('#AppId').val());
                data.append("Description", $('#add_Description').val());
                $.ajax({
                    method: "POST",
                    url: "AddQrCode",
                    contentType: false,
                    processData: false,
                    data: data
                }).done(function (resp) {
                    if (resp.result == 200) {
                        $('#adds').modal('hide');
                        LEAP.Common.MainPop.updateFlag=false;
                        LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                        LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                        LEAP.Common.MainPop.options.dataTable.fnDraw();
                    }
                });
            });

            $("#btnAll").on('click', function () {

                var data = new FormData();
                data.append("AppId", $('#AppId').val());

                $.ajax({
                    method: "POST",
                    url: "AddQrCodeAll",
                    contentType: false,
                    processData: false,
                    data: data
                }).done(function (resp) {
                    if (resp.result == 200) {

                        LEAP.Common.MainPop.updateFlag=false;
                        LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                        LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                        LEAP.Common.MainPop.options.dataTable.fnDraw();
                    }
                });
            });

        });
     </script>
}
