@model Innocellence.Activity.Contracts.ViewModel.PollingView
@{
    ViewBag.Title = "有奖问答/投票";
    Layout = null;
    //Layout = "~/plugins/Innocellence.CA/Views/Shared/_wxLayout.cshtml";
}
<style>
    .optionSize {
        width: 15px;
        height: 15px;
    }
</style>
<form id="VoteForm_@Model.Id" method="POST" class="form-horizontal">
    <input type="hidden" id="StatusName_@Model.Id" name="StatusName" value="@Model.StatusName" />
    <input type="hidden" id="Type_@Model.Id" name="Type" value="@Model.Type" />
    <input type="hidden" id="PollingId_@Model.Id" name="PollingId" value="@Model.Id" />
    <input type="hidden" id="EventId" name="EventId" value="@Model.EventId" />

    <div id="Vote">
        @*<div class="row">
                <div class="col-xs-12">
                    投票开始
                </div>
            </div>*@
        @if (Model.PollingQuestions == null || Model.PollingQuestions.Count == 0)
        {

            <div class="panel panel-default" style="border:1px solid #e7e7eb">
                <div class="panel-heading" style="font-size:20px">@Model.Name</div>
                <div class="panel-body" style="text-align:center;font-size:18px;padding-top:25px;padding-bottom:25px">
                    此投票不存在或者已删除
                </div>

            </div>
        }

        else
        {
            <div class="panel panel-default" style="border:1px solid #e7e7eb">
                <div class="panel-heading" style="font-size:20px;word-wrap: break-word;">@Model.Name</div>
                <div class="panel-body questionlist">
                    @for (int i = 0; i <= Model.PollingQuestions.Count - 1; i++)
                    {
                        var questionView = Model.PollingQuestions[i];
                        <div class="question">
                            <input type="hidden" class="QuestionId" value="@questionView.Id" questionname="@questionView.Title" questionrequired="@questionView.IsRequired.ToString()" />

                            @if (questionView.IsRequired == true)
                            {
                                <div class="polling-item-hd">
                                    <h4 class="polling-title">@(i + 1). @questionView.Title @questionView.optionName<span style="color:red">*</span></h4>
                                </div>

                                if (questionView.Type == 99)
                                {
                                    <div class="polling-item-bd option ">
                                        <div class="col-sm-12 answertext questionrequired">
                                            <textarea name="AnswerText" id="AnswerText_@i" class="form-control" placeholder="AnswerText"
                                                      style="min-height: 45px;"></textarea>
                                        </div>
                                    </div>
                                }

                            }
                            else
                            {
                                <div class="polling-item-hd">
                                    <h4 class="polling-title">@(i + 1). @questionView.Title @questionView.optionName</h4>
                                </div>


                                if (questionView.Type == 99)
                                {
                                    <div class="polling-item-bd option">
                                        <div class="col-sm-12 answertext">
                                            <textarea name="AnswerText" id="AnswerText_@i" class="form-control" placeholder="AnswerText"
                                                      style="min-height: 45px;"></textarea>
                                        </div>
                                    </div>
                                }

                            }
                            @if (questionView.PollingOptionEntities != null && questionView.PollingOptionEntities.Count > 0)
                            {
                                <div class="polling-item-bd option">
                                    @for (int j = 0; j <= questionView.PollingOptionEntities.Count - 1; j++)
                                    {
                                        var optionview = questionView.PollingOptionEntities[j];
                                        <div class="row">

                                            @if (questionView.Type == 1 && optionview.optiontype.type == "0")
                                            {
                                                <div class="col-xs-2">
                                                    <input type="radio" name="Box_@i" class="optionBox optionSize"
                                                           boxvalue="@optionview.Id"
                                                           typevalue="@questionView.Type"
                                                           answervalue="@optionview.OptionName"
                                                           hasinput="0" />
                                                </div>

                                            }
                                            else if (questionView.Type == 1 && optionview.optiontype.type == "1"
                                           )
                                            {
                                                <div class="col-xs-2">
                                                    <input type="radio" name="Box_@i" class="optionBox optionSize"
                                                           boxvalue="@optionview.Id"
                                                           typevalue="@questionView.Type"
                                                           answervalue="@optionview.OptionName"
                                                           hasinput="1" />

                                                </div>
                                            }
                                            else if (questionView.Type != 1 && questionView.Type != 99 && optionview.optiontype.type == "0")
                                            {

                                                <div class="col-xs-2">
                                                    <input type="checkbox" name="Box_@i" class="optionBox optionSize"
                                                           boxvalue="@optionview.Id"
                                                           typevalue="@questionView.Type"
                                                           answervalue="@optionview.OptionName"
                                                           hasinput="0" />
                                                </div>

                                            }
                                            else if (questionView.Type != 1 && questionView.Type != 99
                                            && optionview.optiontype.type == "1")
                                            {

                                                <div class="col-xs-2">
                                                    <input type="checkbox" name="Box_@i" class="optionBox optionSize"
                                                           boxvalue="@optionview.Id"
                                                           typevalue="@questionView.Type"
                                                           answervalue="@optionview.OptionName"
                                                           hasinput="1" />
                                                </div>

                                            }
                                            @if (!String.IsNullOrEmpty(optionview.Picture))
                                            {
                                                <div class="col-xs-10" style="max-width:70%;">
                                                    <img class="img-responsive" src="@optionview.Picture" />
                                                </div>
                                                <div class="col-xs-12" optionname="@optionview.OptionName" style="margin-left:16.67%;max-width:70%">
                                                    @optionview.OptionName
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-xs-10" style="padding-right: 0px;max-width:70%" optionname="@optionview.OptionName">
                                                    @optionview.OptionName
                                                </div>
                                            }

                                            @if (optionview.optiontype.type == "1"
                                                && optionview.optiontype.isRequired == "1")
                                            {
                                                <div class="col-xs-10 optionanswertext answertextrequired hidden" style="margin-top:20px;margin-left:16.67%;max-width:70%">

                                                    <textarea name="OptionAnswerText" class="form-control" placeholder="必填项"
                                                              style="min-height: 15px;text-align:left;"></textarea>
                                                </div>

                                            }
                                            else if (optionview.optiontype.type == "1"
                                                && optionview.optiontype.isRequired == "0")
                                            {
                                                <div class="col-xs-10 optionanswertext  hidden" style="margin-top:20px;margin-left:16.67%;max-width:70%">
                                                    <textarea name="OptionAnswerText" class="form-control" placeholder="非必填项"
                                                              style="min-height: 15px;"></textarea>
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            }



                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-xs-12 sendButtonArea">
                        @if (Model.StatusName == "未开始" || Model.StatusName == "已结束")
                        {

                            <button id="btnSend_@Model.Id" type="button" class="btn btn_style" disabled="disabled">
                                <span aria-hidden="true"></span> @Model.StatusName
                            </button>
                            <script>
                                $(function () {
                                    $('#VoteForm_' + @Model.Id + ' .questionlist').addClass("hidden");
                                })
                            </script>
                        }
                        else if (Model.StatusName == "提交")
                        {
                            <button id="btnSave_@Model.Id" type="button" class="btn btn-info js-btn-save btn_style_half">
                                <span aria-hidden="true"></span> 暂存
                            </button>
                            <button id="btnSend_@Model.Id" type="button" class="btn btn-info js-btn-submit btn_style_half">
                                <span aria-hidden="true"></span> @Model.StatusName
                            </button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</form>
<div class="hidden " id="wxQADetail_@Model.Id">
    <div id="wxQA">
        <div class="panel panel-default">
            <div class="panel-heading" style="font-size:20px;word-wrap: break-word;">@Model.Name</div>
            <div class="panel-body polling_middle_have_vote">
                您已参与
            </div>
        </div>
    </div>
</div>
<div class="hidden imgcheck" id="wxVoteDetail_@Model.Id">
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size:20px;word-wrap: break-word;">@Model.Name</div>
        <div class="panel-body">
            <div class="form-group col-xs-12 polling-item" id="qusetions">
                @if (Model == null)
                {
                    <p>没有投票记录</p>
                }
                else if (Model.PollingQuestions != null && Model.PollingQuestions.Count > 0)
                {
                    for (int i = 0; i < Model.PollingQuestions.Count; i++)
                    {
                        var questionView = Model.PollingQuestions[i];
                        <div class="polling-item-hd">
                            <h4 class="polling-title">@(i + 1). @questionView.Title@questionView.optionName</h4>
                        </div>
                        if (questionView.Type == 99)
                        {

                            <div class="col-sm-12 answertext">
                                <textarea class="form-control"
                                          style="min-height: 45px;" readonly="readonly">
                                    @questionView.PollingQuestionResult
                                </textarea>
                            </div>

                        }

                        for (int j = 0; j < questionView.PollingOptionEntities.Count; j++)
                        {
                            var pollingoptionview = questionView.PollingOptionEntities[j];
                            int percent = pollingoptionview.Percent;
                            int num = pollingoptionview.VoteNum;

                            <div class="polling-item-bd">
                                <ul class="polling-option-list">
                                    <li class="polling-option">
                                        @if (!String.IsNullOrEmpty(pollingoptionview.Picture))
                                        {
                                            <div class="col-xs-12" style="padding-left:0px;">
                                                <img class="img-responsive" src="@pollingoptionview.Picture" />
                                            </div>

                                        }

                                        <div class="polling-option-msg group">
                                            <strong class="polling-option-title">@pollingoptionview.OptionName@pollingoptionview.SelectName</strong>
                                        </div>

                                        <div class="polling-result-meta">
                                            <div class="polling-graph col-xs-7 nopd-lr">
                                                @if (percent != 0)
                                                {
                                                    <em style="width: @percent%; background-color: #7DADE1" class="polling-progress"></em>
                                                }
                                                else
                                                {
                                                    <em style="width:   0%; background-color: #f4f5f9" class="polling-progress"></em>
                                                }
                                            </div>
                                            <div class="col-xs-5 nopd-lr">
                                                <span class="polling-result-tips polling-number">@num 票</span>
                                                <span class="polling-result-tips polling-percent">@percent%</span>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        }

                    }
                }
            </div>
            <hr />
        </div>
        <div class="polling_have_vote">
            您已参与
        </div>
    </div>
</div>
