<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no" />
    <title>@ViewBag.Title </title>
        @Scripts.Render("https://res.wx.qq.com/open/js/jweixin-1.0.0.js")
        @RenderSection("Header",required:false)
    <script>
        document.addEventListener("WeixinJSBridgeReady", function () {
            WeixinJSBridge.call("hideOptionMenu");
        });
    </script>


    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='/Scripts/jquery.js'>" + "<" + "/script>");
    </script>

    @{
        Style.Include("site.css");
    }

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='/Scripts/jquery1x.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='/Scripts/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/jquery.placeholder-2.3.0.js"></script>

    @RenderSection("HeaderContent", required: false)

   <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Style/bootstrap.css" />
    <link rel="stylesheet" href="~/Style/font-awesome.css" />

    <link rel="stylesheet" href="~/Style/ui-dialog.css" />


        <!--引入JS-->
    <script src="~/Scripts/jquery.metadata.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>


   </head>
<body>
    <div id="wx_div" style="position:absolute;width:100%;">
        <div style="width: 100%; height: 100%; position: absolute; z-index: 999; left: 0; top: 0; pointer-events: none; background: url(/marks/@(ViewBag.LillyId).png?ver=201509041); opacity: 0.4"></div>

        @RenderBody()

        <script type="text/javascript">
            $(document).ready(function () {
                var sideslider = $('[data-toggle=collapse-side]');
                var sel = sideslider.attr('data-target');
                var sel2 = sideslider.attr('data-target-2');

                sideslider.click(function (event) {
                    $('.overlay').show();
                    $('body').toggleClass('overflow-hidden');
                    $(sel).toggleClass('in');
                    $(sel2).toggleClass('cross');
                });

                $('#close_menu').click(function () {
                    $('.overlay').hide();
                    $('body').toggleClass('overflow-hidden');
                    $(sel).toggleClass('in');
                    $(sel2).toggleClass('cross');
                });

                $('.overlay').click(function () {
                    $(sel).toggleClass('in');
                    $(sel2).toggleClass('cross');
                    $('.overlay').hide();
                    $('body').toggleClass('overflow-hidden');
                });

                //active current menu
                $('ul.navbar-nav li a').each(function (i, item) {
                    var obj = isCurrent(item);
                    if (obj) { $(item).parent('li').addClass('active').siblings().removeClass('active'); }
                });

                $('[data-toggle="tooltip"]').tooltip();

            });

        </script>

        </div>
</body>

</html>
