@using Innocellence.WeChat.Domain.Entity
@using Innocellence.WeChat.Domain.ModelsView
@model Innocellence.WeChat.Domain.ModelsView.FaqInfoSearchResultView
@{
    ViewBag.Title = "FAQ搜索";
    Layout = "~/plugins/Innocellence.WeChat/Views/Shared/_wxLayout.cshtml";
}
<style>
    #wx_div {
        height: 100%;
    }
</style>

@section Header{
    <link rel="stylesheet" href="~/plugins/Innocellence.WeChat/Content/style.css?v=20160422">
}

<form id="SearchForm" method="get" action="SearchResult" class="form-horizontal container">
    <div class=" faqstyle" style="height:34px">
        <div class="col-xs-12 ">
            <div class="input-group">
                <input id="keyword" name="keyword" class="form-control" type="text" required="true" maxlength="100" value="@Request["keyword"]" placeholder="@T("Search for FAQ...")" />
                <span class="glyphicon glyphicon-search"></span>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" id="search-btn">Search</button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>

    <div class="faqstyle " id="Faq_keyword" style="display:none;">
        <p class="Faq_title">最热门关键字</p>
        @foreach (var searchKeyword in (List<SearchKeywordView>)ViewBag.hotsearch)
        {
            <span class="keyword"><a href="SearchResult?keyword=@searchKeyword.Keyword">@searchKeyword.Keyword</a></span>
        }
    </div>

    @if (Model.List.Count == 0)
    {
        <div style="height:100%" >
            <div>
                <div class="panel panel-default" id="Faq_search">
                    <div class="panel-heading" style="padding:12px">
                        <span>呜呜，小礼暂时未搜索到您的问题答案，要不要试试“<a href="../HRESQuestion/RaiseQuestion">在线服务</a>”呢？</span>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {

        <div>
            <div>
                @for (int i = 0; i < Model.List.Count; i++)
                {
                    <div id="resultdetail" class="panel panel-default">

                        <div class="panel-heading" role="tab" id="hd_@i">

                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_@i"
                               aria-expanded="true" aria-controls="collapse_@i" >
                                <span class="col-xs-10">Q: @Model.List[i].Question.Replace("\"","")</span>
                                <span  class="col-xs-2"><i class="fa fa-angle-right"></i></span>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        <div id="collapse_@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hd_@i">
                            <div class="panel-body">
                                <input type="hidden" id="faqId" name="faqId" value="@Model.List[i].Id" />
                                <p>A： @Model.List[i].Answer.Replace("\"", "")</p>

                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    }
</form>

<script>
    //答案截取前四十个字符
    var judgechar = function (dom, str) {
        $(".ans").innerHTML = str;
        if (str.trim().length > 39) {
            str = str.substr(0, 39) + "...";

        } else {
            //str = str;
        }
        $(dom).text(str);
    };
    $(".ans").each(function () {
        judgechar(this, $(this).text());
    });

    $("#keyword").focus(function () {
        $("#Faq_keyword").removeClass("hidden").show(function () {
            $("#Faq_keyword").slideDown();
        });
    });

    $("#keyword").blur(function () {
        $("#Faq_keyword").slideUp(function () {
            $("#Faq_keyword").removeClass("show").addClass("hidden");
        });
    });
    $('.panel-collapse').on('show.bs.collapse', function () {
        // do something…
        $(this).prev('.panel-heading').find('span').children('i').removeClass('fa-angle-right').addClass('fa-angle-down');
        var faqId = $(this).find("#faqId").val();
        $.ajax(
        {
            type: 'Post',
            url: 'ReadCountAdd',
            cache: false,
            data: { "Id": faqId },
                success: function (data) {
            }
        });
        
    });

    $('.panel-collapse').on('hide.bs.collapse', function() {
        // do something… .prev('.panel-heading').find(a)
        $(this).prev('.panel-heading').find('span').children('i').removeClass('fa-angle-down').addClass('fa-angle-right');
    });
</script>
