@model Innocellence.CA.ModelsView.MessageTextView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Script.Include("~/Scripts/fuelux/fuelux.tree.js");
    Script.Include("~/Scripts/EasyUI/jquery.easyui.min.js");
}
@section easyui_css{
  <link rel="stylesheet" href="~/Style/EasyUI/easyui.css" type="text/css" />
}

<div id="ModalTable">

    <form action="Post" method="get" id="ff" class="form-horizontal">
        <input type="hidden" id="ID" name="ID" value="@Model.Id" />
        <input type="hidden" id="AppId" name="AppId" value="@ViewBag.AppId" />
        <input type="hidden" id="RefId" name="RefId" value="@ViewBag.EventId" />

        <div class="row">
            <div class="form-group col-lg-6">
                <label class="col-lg-3 control-label">内容:</label>
                <div class="col-lg-9" style="position: relative;">
                    <textarea name="Content" id="Content" class="form-control" placeholder="请输入您想发送的文字" style="min-height: 150px; padding-bottom: 20px;"
                        validate="{required:false,maxlength:500,messages:{required:'请输入您想发送的文字',maxlength:'请输入少于500字符的文字消息'}}">@Model.Content</textarea>
                    <div class="count text-right" style="position: absolute; bottom: 5px; left: 20px; width: 337px; color: #808080"><span></span>/500</div>
                </div>
            </div>

            <div class="form-group col-lg-6">
                <div class="row" style="margin: 0; margin-bottom: 15px;">
                    <label class="col-lg-3 control-label">部门:</label>
                    <div class="col-lg-9" style="padding-right: 35px;">
                        <div class="input-group">
                            <input type="text" class="form-control" name="toDepartment" id="toDepartment" value="@Model.toDepartment" />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#departModal">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0; margin-bottom: 15px;">
                    <label class="col-lg-3 control-label">标签:</label>
                    <div class="col-lg-9" style="padding-right: 35px;">
                        <div class="input-group">
                            <input type="text" class="form-control" name="toTag" id="toTag" value="@Model.toTag" />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="button" data-toggle="modal" data-target="#tagModal">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin: 0; margin-bottom: 15px;">
                    <label class="col-sm-3 control-label">活动:</label>
                    <div class="col-sm-9" style="padding-top: 7px;">
                        @if (Model.Id > 0)
                        {
                            <input type="hidden" name="EventPersonCategory" id="EventPersonCategory" value="@Model.EventPersonCategory" />
                        <div class="input-group">
                            @if (Model.EventPersonCategory != null)
                                {
                                    <label style="margin-right: 10px;">
                                        @if(Model.EventPersonCategory.Contains("Registered")){
                                            <input name="isReg" id="isReg" class="ace" type="checkbox" checked="checked" />
                                        }else{
                                            <input name="isReg" id="isReg" class="ace" type="checkbox" />
                                        }
                                        <span class="lbl">&nbsp;发送给报名用户</span>
                                    </label>
                            <label>
                                @if(Model.EventPersonCategory.Contains("Checkin")){
                                            <input name="isCheck" id="isCheck" class="ace" type="checkbox" checked="checked" />
                                }else{
                                            <input name="isCheck" id="isCheck" class="ace" type="checkbox" />
                                }
                                        <span class="lbl">&nbsp;发送给签到用户</span>
                            </label>
                            }else{
                                    <label style="margin-right: 10px;">
                                        <input name="isReg" id="isReg" class="ace" type="checkbox" />
                                        <span class="lbl">&nbsp;发送给报名用户</span>
                                    </label>
                            <label>
                                <input name="isCheck" id="isCheck" class="ace" type="checkbox" />
                                <span class="lbl">&nbsp;发送给签到用户</span>
                            </label>
                            }
                        </div>
                        }
                        else
                        {
                            <input type="hidden" name="EventPersonCategory" id="EventPersonCategory" value="Registered,Checkin" />
                        <div class="input-group">
                            <label style="margin-right: 10px;">
                                <input name="isReg" id="isReg" class="ace" type="checkbox" checked="checked" />
                                <span class="lbl">&nbsp;发送给报名用户</span>
                            </label>
                            <label>
                                <input name="isCheck" id="isCheck" class="ace" type="checkbox" checked="checked" />
                                <span class="lbl">&nbsp;发送给签到用户</span>
                            </label>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-6">
                <div class="row" style="margin: 0;">
                    <label class="col-sm-3 control-label">用户:</label>
                    <div class="col-sm-9">
                        <textarea name="toUser" id="toUser" class="form-control" placeholder="LillyID / 用 '|'分隔" style="min-height: 135px; margin-bottom: 20px;">@Model.toUser</textarea>
                        @*<h6>(PS: 如果不指定用户，部门，标签将推送给所有用户)</h6>
                        *@
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center" style="margin: 15px auto;">
            <button type="button" id="check_send_obj" class="btn btn-info">检查</button>
            <button type="submit" id="btnSubmit" class="btn btn-success">保存</button>
        </div>

    </form>
</div>

<div class="modal fade" role="dialog" aria-labelledby="myLabel" id="tagModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLabel">选择推送目标--标签</h4>
            </div>
            <div class="modal-body">
                <div class="taglist">
                    @foreach (var item in ViewBag.taglist)
                    {
                        if (@ViewBag.taglist.Count <= 0)
                        {
                           <p>请联系系统管理员设置应用的可见范围.</p>
                    }
                        <div class="checkbox col-sm-6">
                            <label>
                                <input class="ace ace-checkbox-2" data-id="@item.tagid" name="form-field-checkbox" type="checkbox" />
                                <span class="lbl">@item.tagname</span>
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer" style="clear: both;">
                <button type="button" class="btn btn-primary" id="btnConfirm">Confirm</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" role="dialog" aria-labelledby="myLabel" id="departModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLabel">选择推送目标--部门</h4>
            </div>
            <div class="modal-body">
                <ul id="addtree"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSure">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" aria-labelledby="myLabel" id="checkModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myLabel">推送失败目标</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>
                    部门:<dt>
                    <dd id="partys"></dd>
                    @*<dt>Tags:</dt>
                    <dd id="tags"></dd>
                    *@
                    <dt>用户:</dt>
                    <dd id="users"></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-sm btn-primary" id="btnClose">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="event_modal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title">活动列表</h4>
            </div>
            <div class="modal-body">
                <div class="event-list" style="overflow-y: auto; max-height: 300px;">
                    <table id="survey_table" class="table table-hover">
                        <thead>
                            <tr>
                                <th width="5%">编号</th>
                                <th width="15%">活动名称</th>
                                <th width="15%">活动地点</th>
                                <th width="13%">开始时间</th>
                                <th width="13%">结束时间</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnYes">确认</button>
            </div>
        </div>
    </div>
</div>

@section scripts_Foot
{
    <script type="text/javascript">

        var validator = $('#ff').validate();
        var len = $('#Content').val().length;

        $(function () {
            $('#btnSubmit').attr('disabled', false);

            LEAP.Common.MainPop.options.fnAfterPostError = function () { $('#btnSubmit').attr('disabled', false); };

            LEAP.Common.MainPop.options.fnAfterSuccess = function () {
                window.location.href = 'EventMessageTextIndex?appid=@ViewBag.AppId&eventid=@ViewBag.eventId';
            };

            $('#ff').submit(function () {
                if (!validator.form()) {
                    return false;
                }
                $('#btnSubmit').attr('disabled', true); //防止重复提交多次
            });

            if (len > 0) {
                $('.count').find('span').text(500 - len);
            } else if (len == 0) {
                $('.count').find('span').text(500);
            }

            $('#Content').on('keyup', function () {
                var len = $(this).val().length;
                if (len > 0) {
                    $('.count').find('span').text(500 - len);
                } else {
                    $('.count').find('span').text(500);
                }
            });

            $('#Content').on('blur', function () {
                var len = $(this).val().length;
                if (len == 0) {
                    $('.count').find('span').text(500);
                }
            });

            $('input[name=isReg]').click(function () {
                var _this = $(this);
                var _hidden = $('#EventPersonCategory');

                if (_this.is(":checked")) {
                    _this.val("Registered");
                    _this.attr('checked', true);
                    _hidden.val(_this.val());
                } else {
                    _this.val("");
                    _this.attr('checked', false);
                    if (_hidden.val().indexOf(',') > 0) { _hidden.val(_hidden.val().replace("Registered,", "")); }
                    _hidden.val(_hidden.val().replace("Registered", ""));
                }

                if (_this.is(":checked") && $('#isCheck').is(":checked")) {
                    _hidden.val(_this.val() + ',' + $('#isCheck').val());
                }
            });

            $('input[name=isCheck]').click(function () {
                var _this = $(this);
                var _hidden = $('#EventPersonCategory');

                if (_this.is(":checked")) {
                    _this.val("Checkin");
                    _this.attr('checked', true);
                    _hidden.val(_this.val());
                } else {
                    _this.val("");
                    _this.attr('checked', false);
                    if (_hidden.val().indexOf(',') > 0) { _hidden.val(_hidden.val().replace(",Checkin", "")); }
                    _hidden.val(_hidden.val().replace("Checkin", ""));
                }
                if (_this.is(":checked") && $('#isReg').is(":checked")) {
                    _hidden.val($('#isReg').val() + ',' + _this.val());
                }
            });

            $('#btnClear').click(function () {
                //$('#EventId').val("0");
                $('#EventName').val("");
            });

            $('#event_modal').on("shown.bs.modal", function () {
                //请求前清除一次
                $('#survey_table > tbody').html("");

                $.ajax({
                    type: 'GET',
                    url: '/Activity/ActivityManage/GetEventList',
                    cache: false,
                    data: { appId: $('#AppId').val() },
                    success: function (result) {
                        if (result.data != null && result.data != "") {
                            var endDate, startDate;
                            //轮循列表
                            for (var x = 0; x < result.data.length; x++) {
                                startDate = result.data[x].StartedDateTime;
                                endDate = result.data[x].EndedDateTime;
                                $('#survey_table > tbody').append('<tr>' +
                                    '<td>' +
                                    '<input type="radio" name="survey" value=' + result.data[x].Id + ' /></td>' +
                                    '<td>' + result.data[x].Name + '</td>' +
                                    '<td>' + result.data[x].Location + '</td>' +
                                    '<td>' + startDate + '</td>' +
                                    '<td>' + endDate + '</td>' +
                                    '</tr>'
                                );
                            }
                            //当前url反选
                            var radioNode = $('input[name="survey"]');
                            if ($('#EventId').val() != null && $('#EventId').val() != "" && $('#EventId').val() != "0") {
                                for (var i = 0; i < radioNode.length; i++) {
                                    if ($('#EventId').val() == radioNode.eq(i).val()) {
                                        radioNode.eq(i).prop("checked", "checked");
                                    }
                                }
                            }
                        } else {
                            $('#survey_table > tbody').html("<p>没有任何的投票记录。</p>");
                        }
                    }
                });

            });

            $('#btnYes').click(function () {
                var selectNode = $('input[name="survey"]:checked');
                $('#EventId').val(selectNode.val());
                $('#EventName').val(selectNode.parent('td').next().text());
                $('#event_modal').modal('hide');
                $('input[type="radio"]').attr("checked", false);
                $('#survey_table > tbody').html("");
            });

            $('#check_send_obj').click(function () {
                var appid = $('#AppId').val();
                var tagids = $('#toTag').val();
                var userids = $('#toUser').val();
                var partyids = $('#toDepartment').val();

                //if (tagids == "" && partyids == "" && userids == "") {
                //    artDialog.alert("请在检查前选择推送目标");
                //    return false;
                //}

                $.ajax({
                    type: "Post",
                    url: 'CheckSendObjects',
                    data: {
                        "appId": appid, "partyids": partyids,
                        "tagids": tagids, "userids": userids,
                        "contentId": $('#ID').val(),
                        "personType": $('#EventPersonCategory').val(),
                        "eventId": $('#RefId').val()
                    },
                    success: function (result) {
                        if (result.Status === 200) {
                            artDialog.alert("全部通过!");
                        } else {
                            var invalidPartys = '', invalidTags = '', invalidUsers = '';
                            //each array
                            if (result.Data != null && result.Data.ErrorDepartments != null) {
                                $.each(result.Data.ErrorDepartments, function (i, obj) {
                                    invalidPartys += obj.Name + '|';
                                });
                                $('#partys').html(invalidPartys.substring(0, invalidPartys.length - 1));
                            } else {
                                var txt = partyids == "" ? "None Selected" : "Pass";
                                $('#partys').html(txt);
                            }

                            if (result.Data != null && result.Data.ErrorUsers != null) {
                                $.each(result.Data.ErrorUsers, function (i, obj) {
                                    invalidUsers += obj + '|';
                                });
                                $('#users').html(invalidUsers.substring(0, invalidUsers.length - 1));
                            } else {
                                var userTxt = userids == "" ? "None Selected" : "Pass";
                                $('#users').html(userTxt);
                            }
                            $('#checkModal').modal('show');
                        }
                    }
                });
                return false;
            });

            $('#tagModal').on('show.bs.modal', function () {
                var str = $('#toTag').val();
                if (str != null && str != "") {
                    var tagids = str.split('|');
                    var length = $('.taglist .checkbox').length;
                    for (var i = 0; i < tagids.length; i++) {
                        for (var j = 0; j < length; j++) {
                            var inputNode = $('.checkbox input[name="form-field-checkbox"]').eq(j);
                            if (inputNode.data('id') == tagids[i]) {
                                inputNode.prop('checked', true);
                            }
                        }
                    }
                }
            });

            $("#tagModal").on('shown.bs.modal', function () {
                //保存后做的事儿
                $('#btnConfirm').click(function () {
                    //who is check
                    var taglist = "";
                    var length = $('.taglist .checkbox').length;
                    for (var i = 0; i < length; i++) {
                        var inputNode = $('.checkbox input[name="form-field-checkbox"]').eq(i);
                        if (inputNode.is(":checked")) {
                            taglist += inputNode.data("id") + '|';
                        }
                    }
                    //close modal
                    $('#tagModal').modal('hide');
                    $('#toTag').val(taglist.substring(0, taglist.length - 1));

                });
            });

            $('#tagModal').on('hidden.bs.modal', function () {
                $('.checkbox input[name="form-field-checkbox"]').prop('checked', false);
            });

            $("#departModal").on('shown.bs.modal', function () {
                var departlist = $('#toDepartment').val();
                $('#addtree').tree({
                    url: 'GetSubDepartment?Id=1&departlist=' + departlist,
                    checkbox: true,
                    method: 'get',
                    animate: false
                });

                $('#btnSure').click(function () {
                    var nodes = $('#addtree').tree('getChecked');
                    var strIDs = '';
                    $.each(nodes, function (i, item) {
                        strIDs += '|' + item.id;
                    });
                    $('#toDepartment').val('');
                    if (strIDs != '') {
                        $('#toDepartment').val(strIDs.substring(1));
                    }
                    //close modal
                    $('#departModal').modal('hide');
                });
            });

        });
    </script>
}
