@model Innocellence.Activity.ViewModel.AnnualCheckinView
@{
    ViewBag.Title = "2017礼来年会";
    Layout = "~/plugins/Innocellence.Activity/Views/Shared/_AnnualLayout.cshtml";
}

@section Header{
    <link rel="stylesheet" href="~/plugins/Innocellence.Activity/Content/style.css" />
}

<style type="text/css">
    .nopadding-lr {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .bg {
        background: url('/plugins/Innocellence.Activity/Content/img/banner.png');
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: auto;
        position: absolute;
        bottom: 42px;
        top: 0;
        left: 0;
    }

    .annual-area {
        padding: 0 20px !important;
    }

    .banner {
        margin: 60px 30px 30px;
        border-top: 2px solid rgba(255,255,255,.6);
        border-bottom: 2px solid rgba(255,255,255,.6);
    }

        .banner h3 {
            color: #fff;
            font-weight: bolder;
            margin-top: 10px;
        }

    .annual-detail {
        background-color: rgba(245,245,245,.7);
        min-height: 300px;
        border-radius: 4px;
        padding: 20px;
    }

        .annual-detail p {
            font-size: 18px;
        }

        .annual-detail h3 {
            color: #000;
            font-size: 2rem;
            font-weight: bolder;
            margin: 10px 0 30px;
        }

        .annual-detail dt, .annual-detail dd {
            margin-bottom: 20px;
            font-size: 17px;
            font-weight: normal;
        }

    .opreation {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 9;
    }

        .opreation button {
            background-color: #01A1DD;
            border-radius: 0 !important;
        }

    .confirm .primary,
    .confirm .default {
        background-color: #01A1DD;
        color: #FFF;
    }

    .confirm .weui_dialog_bd {
        color: #000;
    }

    .check-successs {
        width: 100px;
        height: 100px;
        padding: 20px;
        border-radius: 50%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        z-index: 5009;
        overflow: hidden;
        background-color: #3cc51f;
        border: 2px solid #FFF;
        display: none;
    }

        .check-successs > i {
            font-size: 60px;
            color: #FFF;
            line-height: 60px;
        }

    .check-mask {
        display: none;
    }

    .checked {
        background-color: #D5D2C9 !important;
    }
</style>

<div class="bg">
    <div class="col-xs-12 annual-area">
        <input type="hidden" id="EventNo" name="EventNo" value="@Model.EventNo" />
        <div class="banner">
            <h3 class="text-center">2017 LILLY CHINA NATIONAL SALES CONFERENCE</h3>
        </div>
        @if (Model.Id == 0)
        {
            <div class="annual-detail">
                <p>您好，很抱歉系统中没有查询到您的相关信息。</p>
                <p>如有疑问，请联系现场工作人员。</p>
            </div>
        }
        else
        {
            <div class="annual-detail">
                <h3 class="text-center">欢迎参加礼来中国2017年<br />销售年会</h3>
                <dl class="dl-horizontal">
                    <dt class="col-xs-4 nopadding-lr">系统ID</dt>
                    <dd class="col-xs-8">@Model.LillyId</dd>
                    <div class="clear"></div>
                    <dt class="col-xs-4 nopadding-lr">姓名</dt>
                    <dd class="col-xs-8">@Model.Name</dd>
                    <div class="clear"></div>
                    <dt class="col-xs-4 nopadding-lr">入住酒店</dt>
                    <dd class="col-xs-8">@Model.CheckHotel</dd>
                    <div class="clear"></div>
                    <dt class="col-xs-4 nopadding-lr">衣服尺寸</dt>
                    <dd class="col-xs-8">@Model.MaterialNum</dd>
                </dl>
            </div>


        }
    </div>

    <div class="weui_mask check-mask"></div>
    <div class="check-successs"><i class="fa fa-check"></i></div>
</div>
@if (Model.Id > 0)
{
    <div class="opreation">
        @if (Model.Status.Equals("已领取"))
        {

            <button class="weui_btn weui_btn_disabled checked" type="button" id="btnConfirm" disabled="disabled">已领取</button>
        }
        else
        {
            <button class="weui_btn weui_btn_primary" type="button" id="btnConfirm">领取物资</button>
        }
    </div>
}

<!--WeUi Confirm Dialog-->
@*<div class="weui_dialog_confirm hidden confirm">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"></div>
            <div class="weui_dialog_bd">签到后系统将给您微信发送签到消息，凭此消息领取您的资料袋即可</div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog primary" id="btnSure">确认</a>
                <a href="javascript:;" class="weui_btn_dialog default" id="btnCancel">取消</a>
            </div>
        </div>
    </div>*@

@section scripts_Foot{
    <script>
        $(document).ready(function () {
            $('#btnConfirm').click(function (e) {
                e.preventDefault();
                $('.weui_dialog_confirm').removeClass('hidden');
            });

            $('#btnCancel').click(function () {
                $('.weui_dialog_confirm').addClass('hidden');
            });

            $('#btnConfirm').click(function () {
                //防止点击多次
                $('#btnConfirm').attr('disabled', 'disabled');
                //Ajax Modify
                $.post("Check", { EventNo: $('#EventNo').val() },
                    function (result) {
                        $('.weui_dialog_confirm').addClass("hidden");
                        if (result != null && result.Message.Text == "Success") {
                            //$('.check-mask').show();
                            //$('.check-successs').show();
                            $('#btnConfirm').removeClass('weui_btn_primary').addClass('weui_btn_disabled').addClass('checked');
                            $('#btnConfirm').attr('disabled', 'disabled');
                            $('#btnConfirm').text('已领取');
                            setTimeout(function () {
                                //$('.check-successs').hide();
                                //$('.check-mask').hide();
                            }, 2000);
                        } else if (result != null && result.Message.Text == "Faild") {
                            artDialog.alert("领取失败，没查询到您的相关信息！");
                        }
                    });
            });
        });
    </script>
}


