@model Innocellence.Activity.Contracts.ViewModel.BarrageView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .modal-backdrop {
        z-index: 500 !important;
    }
    #Refresh i {
        margin-right: 5px;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div>
            <form class="form-inline" id="SearchForm" method="post">
                <input type="hidden" id="AppId" name="AppId" value="@ViewBag.appid" />
                <input type="hidden" id="SummaryId" name="SummaryId" value="@ViewBag.SummaryId" />
                <div class="form-group">
                    <div class="form-group">
                        <input class="form-control" type="text" name="FeedBackContent" placeholder="内容">
                    </div>

                    <a href="javascript:void(0);" class="btn btn-sm" id="clear_condition" data-toggle="tooltip" data-placement="top" title="清除条件">
                        <i class="fa fa-remove"></i>
                    </a>
                    <a href="javascript:void(0);" class="btn btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="按条件搜索"><i class="fa fa-search"></i></a>
                    <a href="javascript:void(0);" class="btn btn-sm" id="Refresh" data-toggle="tooltip" data-placement="top" title="刷新">
                        <i class="fa fa-refresh"></i>刷新
                    </a>
                </div>
                <div class="form-group pull-right">
                    @if (ViewBag.SummaryType.Equals("Barrage"))
                    {
                        <a href="/Activity/Barragesummary/index?Appid=@ViewBag.appid" class=" btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="返回">
                            <i class="fa fa-reply"></i> 返回
                        </a>
                    }
                    else
                    {
                        <a href="/Activity/Screensummary/index?Appid=@ViewBag.appid" class=" btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="返回">
                            <i class="fa fa-reply"></i> 返回
                        </a>
                    }
                    <a href="javascript:void(0);" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="导出CSV" id="btnExport">
                        <i class="fa fa-download"></i> 导出
                    </a>
                </div>
            </form>
        </div>
        <div class="widget-box">
            <div class="widget-content nopadding">

                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width:5%;text-align:center;">@T("ID")</th>
                            <th style="width:30%">@T("姓名")</th>
                            <th style="width:35%">@T("内容")</th>
                            <th style="width:15%">@T("审批时间")</th>
                            <th style="width:15%">@T("操作")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>

</div>

@section scripts_Foot
{
    <script>
        var uploader;
        var saveclip = new Array();

        $(document).ready(function () {
            $('#clear_condition').click(function () {
                $('input[name=FeedBackContent]').val('');
                $('#btnSearch').trigger('click');
            });

            $('#Refresh').click(function(){
                LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                LEAP.Common.MainPop.options.dataTable.api().draw(false);
            });

            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": { "url": "GetList?where=" + JSON.stringify({Rules:[{Field:'AppId',value:@ViewBag.AppId},{Field:'SummaryId',value:'@ViewBag.SummaryId'}]}) + '' },
                "aoColumns": [

                    {
                        "mData": "Id",
                        "bSortable": false,
                        "sClass": "sTdCheckbox"
                    },
                    {
                        "mData": "WeixinName",
                    },
                    { "mData": "FeedBackContent" },
                    { "mData": "ApprovedDate" },

                    { "mDate": "Opreation" }
                ],
                "columnDefs": jQuery.extend(true, datatableSetting.columnDefs, [
                    {
                        "targets": 0,
                        "render": function (data, type, full, meta) {
                            return full.Id;
                        }
                    },
                    {
                        "targets": 3,
                        "render": function (data, type, full, meta) {

                            //return (new Date(data)).pattern("yyyy-MM-dd");
                            return data;
                        }
                    },
                    {
                        "targets": 4,
                        "render": function (data, type, full, meta) {
                            if (full.Status == 0) {
                                return '<a href="javascript:void(0);" onclick="StatusCheck(' + full.Id + ',' + @ViewBag.AppId +')" class="artDailog btn btn-info  btn-xs" style="margin-right:5px;" data-toggle="tooltip" data-placement="top" title="审批">审批</a>';
                            } else if (full.Status == 1) {

                                return '<a href="javascript:void(0);" class="artDailog btn btn-success btn-xs" style="margin-right:5px;" data-toggle="tooltip" data-placement="top" title="已审批">已审批</a>' +
                                            '<a href="javascript:void(0);" onclick="StatusCheck(' + full.Id + ',' + @ViewBag.AppId +')" class="btn btn-danger btn-xs" id="btnCancel" data-toggle="tooltip" data-placement="top" title="撤销">撤销</a>';

                            }
                        }
                    }

                ]),
                fnDrawCallback: function () {
                    $('[data-toggle="tooltip"]').tooltip();
                    //LEAP.Common.MainPop.options.dataTable.api().draw(false);
                }
            }));

        });
        function StatusCheck(id, appid) {

            $.ajax({
                cache: false,
                type: "GET",
                url: "StatusChange?SummaryId=" + String(id) + "&appId=" + appid,
                async: true,

                success: function (data) {
                    LEAP.Common.MainPop.options.dataTable.fnClearTable(0);
                    LEAP.Common.MainPop.options.dataTable.fnDraw(true);
                }
            });
        }
    </script>
}
