
@{
    ViewBag.Title = "Uploadfile";
}

<h2>Uploadfile</h2>


@model AttachmentsItemView
@using Innocellence.Portals.LEAP.Modules.ViewModels.BackEnd;
@using Innocellence.Portals.LEAP.Modules.Common;
@{
    Script.Include("/Themes/leap.admin/scripts/jQueryUpload/vendor/jquery.ui.widget.js").AtFoot();
    Script.Include("/Themes/leap.admin/scripts/jQueryUpload/jquery.iframe-transport.js").AtFoot();
    Script.Include("/Themes/leap.admin/scripts/jQueryUpload/jquery.fileupload.js").AtFoot();
    Style.Include("/Themes/leap.admin/scripts/jQueryUpload/jquery.fileupload.css");
}
<style>
    .ui-dialog-grid {
        width: 1000px;
    }
</style>
<div id="content-header">
    <h1><i class="glyphicon glyphicon-list-alt"></i>视频会议管理</h1>
    <div class="btn-group">
        <a href="#" class="btn btn-default" id="btnAdd"><span class="text">新建</span><i class="glyphicon glyphicon-plus"></i></a>
        <a href="#" class="btn btn-default" id="btnDelete"><span class="text">删除</span><i class="glyphicon glyphicon-trash"></i></a>
        <a href="#" class="btn btn-default" id="btnExport"><span class="text">调查时间导出</span><i class="glyphicon glyphicon-export"></i></a>

    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid ">
        <div>
            <form class="form-inline" id="SearchForm">
                <div class="form-group pull-right" style="margin:10px 0px 10px 0px;">
                    <select class="form-control" name="liveCate">
                        <option value="1" selected="selected">类别搜索</option>
                        @*@foreach (var item in (List<CategoryView>)ViewBag.LiveTypeCategory)
                        {
                            <option value="@item.CategoryCode">@item.CategoryName</option>
                        }*@
                    </select>
                    <select class="form-control" name="txtCate" data-placeholder="选择分类...">
                        <option value="1">分类搜索</option>
                        @*@foreach (var item in (List<CategoryView>)ViewBag.MeetingCategory)
                        {
                            <option value="@item.CategoryCode">@item.CategoryName</option>
                        }*@
                    </select>
                    <div class="input-group">
                        <input class="input-small form-control" type="text" name="txtNewsTitle" data-bind="value: txtNewsTitle" placeholder="搜索会议">
                        <span class="input-group-btn"><a href="#" class="btn btn-info" id="btnSearch">搜索</a></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="widget-box">
            <div class="widget-content nopadding">

                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width:5%;text-align:center"><input type="checkbox" id="title-table-checkbox" name="title-table-checkbox" /></th>
                            <th style="width:10%">@T("主题")</th>
                            <th style="width:6%">@T("类型")</th>
                            <th style="width:9%">@T("邀请码")</th>
                            <th style="width:12%">@T("开始时间")</th>
                            <th style="width:12%">@T("结束时间")</th>
                            <th style="width:12%">@T("发布时间")</th>
                            @*   <th style="width:10%">@T("分类")</th>*@
                            <th style="width:5%">@T("点赞")</th>
                            <th style="width:5%">@T("收藏")</th>
                            <th style="width:5%;">@T("操作")</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>
<div style="display:none;" class="col-md-12" id="DetailEdit">

    <div class="widget-box">
        <div class="widget-content nopadding">
            <form action="Post" id="ff" method="get" class="form-horizontal" datasource="Get">
                <input type="hidden" id="ID" name="ID" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="LiveType" class="control-label control-label col-md-3">会议类型：</label>
                            <div class="controls col-md-9">
                                <select class="form-control" id="LiveType" name="LiveType" data-bind="value:LiveType" validate="{required:true,messages:{required:'请选择会议播放类别直播或者录播。'}}">
                                    <option value="1">请选择会议类别</option>
                                    @*@foreach (var item in (List<CategoryView>)ViewBag.LiveTypeCategory)
                                        {
                                            <option value="@item.CategoryCode">@item.CategoryName</option>
                                        }*@
                                </select>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <label for="MeetingTitle" class="control-label control-label col-md-3">会议主题：</label>
                            <div class="controls col-md-9">
                                <input name="MeetingTitle" id="MeetingTitle" data-bind="value:MeetingTitle" validate="{required:true,maxlength:60,messages:{required:'请输入视频标题。',maxlength:'您输入的标题过长。'}}" class="form-control" placeholder="会议主题" type="text" />
                            </div>
                        </div>
                        @*     <div class="form-group row">
                                <label class="control-label col-md-3" >是否置顶：</label>
                                <div class="controls col-md-9">
                                    <select id="MeetingStatus" name="MeetingStatus" data-bind="value: MeetingStatus" validate="{required:true,messages:{required:'请选择是否置顶。'}}" class="form-control">
                                        @foreach (var item in (List<ItemStatusView>)ViewBag.MeetingStatus)
                                        {
                                            <option value="@item.TypeCode">@item.TypeStr</option>
                                        }
                                    </select>
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <label for="MeetingSpeaker" class="control-label control-label col-md-3">讲者姓名：</label>
                            <div class="controls col-md-9">
                                <input name="MeetingSpeaker" id="MeetingSpeaker" data-bind="value:MeetingSpeaker" validate="{required:true,messages:{required:'请填写会议讲者姓名。'}}" class="form-control" placeholder="讲者姓名" type="text" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="MeetingSpeakerInfo" class="control-label control-label col-md-3">讲者介绍：</label>
                            <div class="controls col-md-9">
                                <input name="MeetingSpeakerInfo" id="MeetingSpeakerInfo" data-bind="value:MeetingSpeakerInfo" validate="{required:true,messages:{required:'请填写会议讲者介绍。'}}" class="form-control" placeholder="讲者介绍" type="text" />
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label class="control-label col-md-3">讲者图片：</label>
                                <div class="controls col-md-9">
                                    <input id="speakerImg-upload-input" class="form-control " multiple="multiple" type="file" name="file" onchange="return uploadMeetingSpeakerImage(this);" />
                                    <div class="progress" style="margin-bottom: 0px">
                                        <div id="SpeakerImg-progress-bar" class="progress-bar" style="width:0">0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="controls col-md-9 col-md-offset-3">
                                    <input readonly="readonly" class="form-control " type="text" name="SpeakerImg" id="SpeakerImg" placeholder="点击上传图片，此处自动填写上传图片地址。" data-bind="value: SpeakerImg" validate="{required:true,messages:{required:'请上传讲者图片。'}}" />
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <label for="MeetingTitle" class="control-label control-label col-md-3">会议链接：</label>
                            <div class="controls col-md-9">
                                <input name="MeetingURL" id="MeetingURL" data-bind="value:MeetingURL" class="form-control" placeholder="会议链接" type="text" />
                            </div>
                        </div>
                        <div class="form-group row nolivehide">
                            <label for="InvitationCode" class="control-label control-label col-md-3">邀请码：</label>
                            <div class="controls col-md-9">
                                <input name="InvitationCode" id="InvitationCode" data-bind="value:InvitationCode" readonly class="form-control" placeholder="邀请码" type="text" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class=" col-md-6">
                                <div class=" row">
                                    <label for="LikeCount" class="control-label col-md-6">点赞：</label>
                                    <div class="controls col-md-6">
                                        <input name="LikeCount" id="LikeCount" data-bind="value:LikeCount" placeholder="点赞数"
                                               validate="{digits:true,maxlength:9,messages:{digits:'请输入正整数。',maxlength:'最多为9位正整数'}}"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class=" col-md-6">
                                <div class=" row">
                                    <label for="FavoriteCount" class="control-label col-md-6">收藏：</label>
                                    <div class="controls col-md-6">
                                        <input name="FavoriteCount" id="FavoriteCount" data-bind="value:FavoriteCount" placeholder="收藏数"
                                               validate="{digits:true,maxlength:9,messages:{digits:'请输入正整数。',maxlength:'最多为9位正整数'}}"
                                               class="form-control" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group row nolivehide">
                            <label class="control-label col-md-3 ">开始时间：</label>
                            <div class="controls col-md-9">
                                <div class="input-prepend input-group ">
                                    <span class="add-on input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                    <input name="MeetingStartDate" id="MeetingStartDate" data-bind="value:MeetingStartDate" class="form-control" value="" placeholder="开始时间" readonly type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row nolivehide">
                            <label class="control-label col-md-3 ">结束时间：</label>
                            <div class="controls col-md-9">
                                <div class="input-prepend input-group ">
                                    <span class="add-on input-group-addon">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </span>
                                    <input name="MeetingEndDate" id="MeetingEndDate" data-bind="value:MeetingEndDate" class="form-control" value="" readonly placeholder="结束时间" type="text" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-3">会议图片：</label>
                            <div class="controls col-md-9">
                                <input id="meetingImg-upload-input" class="form-control " multiple="multiple" type="file" name="file" onchange="return uploadMeetingImage(this);" />
                                <small>( 请您尽量保证上传图片宽度780px,高度520px)</small>
                                <div class="progress" style="margin-bottom: 0px">
                                    <div id="meetingImg-progress-bar" class="progress-bar" style="width:0">0</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="controls col-md-9 col-md-offset-3">
                                <input readonly="readonly" class="form-control " type="text" name="MeetingImg" id="image-src" placeholder="点击上传封面，此处自动填写上传图片地址。" validate="{required:true,messages:{required:'请上传会议图片。'}}" data-bind="value: MeetingImg" />
                            </div>
                        </div>
                        @*<div class="form-group row livenovideo">
                                <label class="control-label col-md-3">上传视频：</label>
                                <div class="controls col-md-9">
                                    <input id="video-upload-input" class="form-control" multiple="multiple" type="file" name="file" onchange=" return uploadVideo(this); " />
                                    <div class="progress" style="margin-bottom: 0px">
                                        <div id="video-progress-bar" class="progress-bar" style="width: 0">0</div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <label class="control-label col-md-3">上传视频 :</label>
                            <div class="controls col-md-9">
                                <span class="btn btn-success fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>选择文件</span>
                                    <input type="file" id="video_upload_input" data-text6="90">
                                </span>
                                <div id="progress" class="progress" style="margin-bottom: 0px;margin-top:5px;">
                                    <div class="bar progress-bar" style="width: 0%;"></div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="controls col-md-9  col-md-offset-3">
                                <input readonly="readonly" type="text" class="form-control " id="hideFile" name="VideoContent" placeholder="点击上传视频或手动输入视频包地址。" data-bind="value: VideoContent" />
                            </div>
                        </div>

                        <div class="form-group row livenovideo">
                            <label for="VideoTimeLong" class="control-label control-label col-md-3">视频时长：</label>
                            <div class="controls col-md-9">
                                <input name="VideoTimeLong" id="VideoTimeLong" data-bind="value:VideoTimeLong" validate="{VideoTimeLongFormat:true}" class="form-control" placeholder="视频时长(02:30)" type="text" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="control-label col-md-1">描述 :</label>
                            <div class="controls col-md-11">
                                <textarea id="MeetingDesc" name="MeetingDesc" rows="5" class="form-control" placeholder="会议描述" data-bind="value: MeetingDesc" validate="{required:true,messages:{required:'请填写会议描述。'}}"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-success pull-right">保存</button>
                </div>
            </form>
        </div>
    </div>

</div>

@using (Script.Foot())
{

    <script>

        $(document).ready(function () {

            jQuery.validator.addMethod("VideoTimeLongFormat", function (value, element) {
                var tel = /^\d{2}:+\d{2}$/g;
                return this.optional(element) || (tel.test(value));
            }, "请输入推荐的时长格式(hh:mm)");

            //录播实体绑定之后隐藏部分字段
            LEAP.Common.MainPop.options.afterBindData = function () {
                if ($('#LiveType').val() == 2) {
                    $('.nolivehide').hide();
                    $('.livenovideo').show();
                } else if ($('#LiveType').val() == 1) {
                    $('.nolivehide').show();
                    $('.livenovideo').hide();
                }
            };

            //直播录播显示
            $('#LiveType').change(function () {
                if ($('#LiveType').val() == 2) {
                    $('.nolivehide').hide();
                    $('.livenovideo').show();
                } else if ($('#LiveType').val() == 1) {
                    $('.nolivehide').show();
                    $('.livenovideo').hide();
                }
            });

            $.fn.datetimepicker.dates['cn'] = {
                days: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
                daysShort: ["日", "一", "二", "三", "四", "五", "六", "七"],
                daysMin: ["日", "一", "二", "三", "四", "五", "六", "七"],
                months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                meridiem: ["am", "pm"],
                suffix: ["st", "nd", "rd", "th"],
                today: "今天"
            };
            $('#MeetingStartDate').click(function () { this.focus() }).datetimepicker({
                format: 'yyyy.mm.dd hh:ii',
                showMeridian: false,
                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                language: 'cn'
            }).on('changeDate', function (ev) {
                var startTime = $('#MeetingStartDate').val().valueOf().toString();
                var endTime = $('#MeetingEndDate').val().valueOf().toString();

                if (startTime.replace(/[ .:]/g, "") > endTime.replace(/[ .:]/g, "")) {
                    $('#MeetingEndDate').val("");
                    $('#MeetingEndDate').blur();
                }
            });
            $('#MeetingEndDate').click(function () { this.focus() }).datetimepicker({
                format: 'yyyy.mm.dd hh:ii',
                startView: 1,

                autoclose: true,
                todayBtn: true,
                todayHighlight: true,
                language: 'cn'
            }).on('changeDate', function (ev) {
                var startTime = $('#MeetingStartDate').val().valueOf().toString();
                var endTime = $('#MeetingEndDate').val().valueOf().toString();

                if (startTime.replace(/[ .:]/g, "") > endTime.replace(/[ .:]/g, "")) {
                    artDialog.alert("结束时间不能早于开始时间");
                    $('#MeetingEndDate').val("");
                    $('#MeetingEndDate').focus();
                    return false;
                }
            });

            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "columns": [
                    { data: 'Id', bSortable: false, "class": "text-center" },
                    { data: 'MeetingTitle' },
                    { data: 'LiveCate' },

                    { data: 'InvitationCode' },
                    { data: 'MeetingStartDate' },
                    { data: 'MeetingEndDate' },
                    { data: 'UpdatedDate' },
                    { data: 'LikeCount' },
                    { data: 'FavoriteCount' }
                ], "columnDefs": jQuery.merge(datatableSetting.columnDefs, [{
                    "targets": 9,
                    "render": function (data, type, full, meta) {
                        return "<div class=\"col-md-6\"><a href='/BackOffice/BMSurveyQuestion/BList?RefId=" + full.Id + "' class=\"btn btn-danger\">查看调查</a></div>";

                    }
                }, ])

            }));


            $('#video_upload_input').fileupload({
                dataType: "json",
                url: "/backOffice/upload/Breakpoint_Uploadfile",
                limitConcurrentUploads: 1,
                sequentialUploads: true,
                progressInterval: 100,
                maxChunkSize: 100000,
                add: function (e, data) {
                    //data.context = $('#progressTip').text('上传中...');
                    if (data.files[0].type.indexOf("video") < 0) {
                        artDialog.alert("请上传视频文件");
                    } else if (data.files[0].size > 524288000) {
                        artDialog.alert("文件大小不超过500M");
                    } else {
                        data.submit();
                    }

                },
                done: function (e, data) {
                    //data.context.text('上传成功！');
                    $("#progress .bar").text("上传成功");
                    $.ajax({
                        type: 'post',
                        url: "/backOffice/upload/Breakpoint_FileReName",
                        data: {
                            serverfileName: data.result.serverfileName,
                            filePath: data.result.filePath,
                        },
                        success: function (nowdata) {
                            //console.log(nowdata);
                            $("#hideFile").val(JSON.parse(nowdata).serverfileName);
                        }
                    });
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $("#progress .bar").css('width', progress + '%');
                    $("#progress .bar").text(progress + '%');
                },
                //progress: function (e, data) {
                //    var progress = parseInt(data.loaded / data.total * 100, 10);
                //    data.context.find('.bar').css('width', progress + '%');
                //}

            });

            //LEAP.Common.MainPop.options.editors = ['MeetingDesc'];
        });

        function uploadVideo(obj) {
            if (obj.value != "") {
                $('video-upload-input').FileUpload({
                    self: obj,
                    url: "/backOffice/upload/uploadfile",
                    allowExtension: '.mp4,.m4v',
                    rewriteDocumentId: 'video-src',
                    processBarId: 'video-progress-bar'
                });
            }
        }
        function uploadMeetingImage(obj) {
            if (obj.value != "") {
                $('meetingImg-upload-input').FileUpload({
                    self: obj,
                    url: "/backOffice/upload/uploadfile",
                    allowExtension: '.png,.jpg,.jpeg',
                    rewriteDocumentId: 'image-src',
                    processBarId: 'meetingImg-progress-bar',
                    imgWidth: 780,
                    imgHeight: 520
                });
            }
        }
        function uploadMeetingSpeakerImage(obj) {
            if (obj.value != "") {
                $('speakerImg-upload-input').FileUpload({
                    self: obj,
                    url: "/backOffice/upload/uploadfile",
                    allowExtension: '.png,.jpg,.jpeg',
                    rewriteDocumentId: 'SpeakerImg',
                    processBarId: 'SpeakerImg-progress-bar'
                });
            }
        }
    </script>
}

