@model List<Innocellence.Activity.Model.SortViewModel>
@{

    Layout = "~/Plugins/Innocellence.Activity/Views/Shared/_ScreenLayout.cshtml";
    string[] array = { "一","二","三","四","五","六","七","八","九","十"};
}
@section easyui_css{

<link rel="stylesheet" href="~/Plugins/Innocellence.Activity/Content/style.css" />
}
@*<script>
        ajaxLoading();
    </script>*@
<style>
    .btn_refresh {
        font-size: 30px;
        text-align: center;
       
        font-family:"黑体";
        color:#fff;
        /*background: rgba(255,255,255,0.8);
         color: #CD0000;*/
    }

        .btn_refresh p {
            color: #fff;
        }

    body {
        background: url("/Plugins/Innocellence.Activity/Content/img/screen_01.png") no-repeat top left;
        background-size: cover;
    }

    table th {
        background: rgba(255,255,255,0.8);
        line-height: 30px;
        font-size: 40px;
        color: #CD0000;
        text-align: center;

        font-family:"黑体";

    }

    table tr {
        text-align: center;
        font-size: 35px;
    }

        table tr:nth-child(odd) {
            /*background: #ccc;*/
            background: rgba(255,255,255,0.5);
            color: #fff;
        }

        table tr:nth-child(even) {
            background: rgba(240,255,255,0.2);
            color: #fff;
        }
</style>
<div>
    @if (Model.Count < 1)
    {
        <div class="col-lg-12 btn_refresh">
            没有相关数据
        </div>
    }
    else
    {
        <div class="col-lg-12 ">
            @if (!string.IsNullOrEmpty(ViewBag.Title))
            {
                <div class="btn_refresh">
                    @ViewBag.Title
                </div>
            }
            <div style="margin-top:20px">

                <table class="table" id="table">
                    <tr>

                        <th>大区</th>
                        @for (var i = 0; i < Model[0].Sorts.Count; i++)
                        {
                            <th>第@(array[i])轮</th>
                        }

                        <th>前@(array[Model[0].Sorts.Count-1])轮总票数</th>
                    </tr>
                    @for (var j = 0; j < Model.Count; j++)
                    {
                        <tr>

                            <td>@Model[j].Name</td>
                            @for (var k = 0; k < Model[0].Sorts.Count; k++)
                            {
                                <td class="@k">@Model[j].Sorts[k]</td>
                            }
                            <td>@Model[j].SortSum</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>

@section scripts_Foot
{

    <script type="text/javascript">


        @*$(function () {
            var column = @Model[0].Sorts.Count;
            for (var i = 1; i <= column; i++) {
                var $target = $('#table td[class=' + i + ']');
                var newList=$.grep($target, function ($td) {
                    return $($td).text() != '0';
                });

                if (newList.length==0) {
                    $target.text('');
                }
            }
            ajaxLoadEnd();
        });*@
    </script>
}