@model Innocellence.Activity.Contracts.ViewModel.PollingView
@{
    ViewBag.Title = "有奖问答/投票";
}
@section easyui_css{
    <link rel="stylesheet" href="~/Content/style.css" />
}

<div id="ModalTable" style="margin: 0 auto; width:960px;">
    <form action="" method="post" id="polling_form" class="form-horizontal">
        <input type="hidden" id="ID" name="ID" value="@Model.Id" />
        <input type="hidden" id="AppId" name="AppId" value="@ViewBag.AppId" />
        <input class="form-control" type="text" id="TestEmpty" name="TestEmpty" placeholder="TestEmpty" style="display: none">
        @if(Model.Type==1){
            <div class="form-group">
                <ul class=" nav nav-tabs" role="tablist">
                    <li role="presentation"><a href="/activity/pollingadmin/customAnswer?Id=@Model.Id&appid=@ViewBag.AppId">用户答卷</a></li>
                    <li role="presentation" class="active"><a href="/activity/pollingadmin/Result?Id=@Model.Id&appid=@ViewBag.AppId">答题结果</a></li>
                    <li role="presentation"><a href="/activity/pollingadmin/customScore?Id=@Model.Id&appid=@ViewBag.AppId">得分情况</a></li>
                </ul>
            </div>
        }
       
        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">名称 :</label>
            <div class="col-lg-9">
                <input id="Name" type="text" name="Name" class="form-control" placeholder="名称" value="@Model.Name"
                       validate="{required:true,maxlength:35,messages:{required:'请输入名称.',maxlength:'名称太长，请不要超过35个字符.'}}" />
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">分类 :</label>
            <div class="col-lg-9">
                <select id="Type" name="Type" class="form-control" value="@Model.Type" validate="{required:true,messages:{required:'请选择分类.'}}">
                    <option value="" disabled="disabled" selected="selected" style="display:none;">请选择分类</option>
                    <option value="1">有奖问答</option>
                    <option value="2">投票</option>
                    <option value="3">活动</option>
                </select>
            </div>
        </div>

       @*<div class="form-group col-lg-12 hidden award-score">
            <label class="col-lg-3 control-label text-right">得奖标准分: </label>
            <div class="col-lg-9">
                <input id="StandardScore" type="text" name="StandardScore" class="form-control" placeholder="得奖分数基准" value="@Model.StandardScore"
                       validate="{required:false,maxlength:4,digits:true,messages:{required:'请输入得奖标准分。',maxlength:'请输入长度小于4位的正整数',digits:'请输入正整数'}}" />
            </div>
        </div>*@

        @*<div class="form-group col-lg-12 hidden award-number">
            <label class="col-lg-3 control-label text-right">奖品数量: </label>
            <div class="col-lg-9">
                <input id="AwardNumber" type="text" name="AwardNumber" class="form-control" placeholder="奖品数量" value="@Model.AwardNumber"
                       validate="{required:false,maxlength:3,digits:true,messages:{required:'请输入奖品数量。',maxlength:'请输入长度小于3位的正整数',digits:'请输入正整数'}}" />
            </div>
        </div>*@

       <div class="form-group col-lg-12 hidden award-message">
            <label class="col-lg-3 control-label text-right">是否回复: </label>
            <div class="col-lg-9">
                <label style="margin-top: 8px;">
                    @if (Model.ReplyMessage != null && Model.ReplyMessage != "")
                    {
                      <input name="isReply" id="isReply" class="ace ace-switch ace-switch-2" type="checkbox" checked="checked"/>
                    }
                    else
                    {
                      <input name="isReply" id="isReply" class="ace ace-switch ace-switch-2" type="checkbox"/>
                    }
                    <span class="lbl"></span>
                </label>
            </div>
        </div>

       <div class="form-group col-lg-12 hidden award-reply">
            <label class="col-lg-3 control-label text-right">回复文字: </label>
            <div class="col-lg-9">
                <textarea name="ReplyMessage" id="ReplyMessage" cols="4" class="form-control"  maxlength="1024">@Model.ReplyMessage</textarea>
                <p>如:您目前的得分是{0}分. {0}代表用户所得具体分值</p>
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">时间 :</label>
            <div class="col-lg-9">
                <div class="col-lg-12 nopd-lr form-inline mb10">
                    <div data-date-format="yyyy-mm-dd" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                        <input type="text" id="StartDateTime" name="StartDateTime" class="form-control form_datatime"
                            placeholder="开始时间" value="@Model.StartDateTime.ToString("yyyy-MM-dd")" />
                    </div>
                    ----
                    <div class="input-group bootstrap-timepicker timepicker">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        <input id="StartTime" type="text" class="form-control input-small"  value="@Model.StartDateTime.ToString("HH:mm")" />
                    </div>
                </div>
                <div class="col-lg-12 nopd-lr form-inline">
                    <div data-date-format="yyyy-mm-dd" class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                        <input type="text" id="EndDateTime" name="EndDateTime" class="form-control form_datatime"
                            placeholder="结束时间" value="@Model.EndDateTime.ToString("yyyy-MM-dd")" />
                    </div>
                    ----
                    <div class="input-group bootstrap-timepicker timepicker">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        <input id="EndTime" type="text" class="form-control input-small" value="@Model.EndDateTime.ToString("HH:mm")" />
                    </div>
                </div>
                <div class="col-lg-12 text-left no-pl mt10">(备注:1. 投票持续时间不能低于1小时. 2. 截止时间必须大于当前时间加1个小时.)</div>
            </div>
        </div>
        
         @if (Model.Id > 0)
         {
             <div class="form-group col-lg-12">
                 <label class="col-lg-3 control-label text-right">投票总人数 :</label>
                 <div class="col-lg-9"><h5>@Model.PollingTotal 人</h5></div>
             </div>

             <div class="form-group col-lg-12 polling-item" id="qusetions">
                 @if (Model.PollingQuestions == null || Model.PollingQuestions.Count == 0)
                 {
                     <p>没有任何投票记录.</p>
                 }
                 else
                 {
                     for (int i = 0; i < Model.PollingQuestions.Count; i++)
                     {
                         var typeStr = "";
                         var content = "";
                         switch (Model.PollingQuestions[i].Type)
                         {
                             case 0:
                                 typeStr = "多选";
                                 break;
                             case 1:
                                 typeStr = "单选";
                                 break;
                             case 99:
                                 typeStr = "填空";
                                 break;
                             default:
                                 typeStr = "最多可选" + Model.PollingQuestions[i].Type + "项";
                                 break;
                         }
                         <div class="polling-item-hd">
                             <h4 class="polling-title">@(i + 1). @Model.PollingQuestions[i].Title (@typeStr)
                                 @if (Model.PollingQuestions[i].IsRequired)
                                 {
                                     <span class="polling-warn">*</span>
                                 }
                                
                                 @if (Model.Type == 1)
                                 {
                                     content = "答对人数/总人数: " + @Model.PollingQuestions[i].rightPersons + "/" + @Model.PollingQuestions[i].answerPersons;
                                    <span class="pull-right">@content</span>
                                 }
                                
                                 </h4>
                             
                         </div>

                         <div class="polling-item-bd">
                             <ul class="polling-option-list">
                             
                                 @for (int j = 0; j < Model.PollingQuestions[i].PollingOptionEntities.Count; j++)
                                 {
                                     int percent = Model.PollingQuestions[i].PollingOptionEntities[j].Percent;
                                     int num = Model.PollingQuestions[i].PollingOptionEntities[j].VoteNum;
                                     <li class="polling-option">
                                         <div class="polling-option-msg group">
                                             <strong class="polling-option-title">@Model.PollingQuestions[i].PollingOptionEntities[j].OptionName</strong>
                                         </div>
                                         <div class="polling-result-meta">
                                             <div class="polling-graph col-lg-10 nopd-lr">
                                                 @if (percent != 0)
                                                 {
                                                     <em style="width: @percent%; background-color: #7DADE1" class="polling-progress"></em>
                                                 }
                                                 else
                                                 {
                                                     <em style="width: 0%; background-color: #f4f5f9" class="polling-progress"></em>
                                                 }
                                             </div>
                                             <div class="col-lg-2 nopd-lr">
                                                 <span class="polling-result-tips polling-number">@num 票</span>
                                                 <span class="polling-result-tips polling-percent">@percent%</span>
                                             </div>
                                             <div class="clearfix"></div>
                                         </div>
                                     </li>
                                 }
                             </ul>
                         </div>
                     }

                 }
             </div>

         }
         else
         {
              <p>没有任何投票记录，当前投票不存在或删除.</p>
         }
    </form>
</div>
@section scripts_Foot
{
    <script type="text/javascript">

        $(document).ready(function (){
            $('#Name').attr('disabled', 'disabled');
            $('#Type').attr('disabled', 'disabled');
            $('#StartDateTime').attr('disabled', 'disabled');
            $('#EndDateTime').attr('disabled', 'disabled');
            $('#StartTime').attr('disabled', 'disabled');//hh:mm
            $('#EndTime').attr('disabled', 'disabled');//hh:mm
            $('#Type').val(@Model.Type);//手动再set一遍

            if ($('#Type').val() == 1) {
                $('.award-score').removeClass('hidden');
                //$('.award-number').removeClass('hidden');
                $('.award-message').removeClass('hidden');
                $('.award-message').find('textarea').attr('disabled', 'disabled').addClass('disabled');
                $('.award-score').find('input').attr('disabled', 'disabled').addClass('disabled');
                //$('.award-number').find('input').attr('disabled', 'disabled').addClass('disabled');
                $('#isReply').attr('disabled', 'disabled').addClass('disabled');
                if ($('#isReply').is(':checked')) {
                    $('.award-reply').removeClass('hidden');
                    $('.award-reply').find('textarea').attr('disabled', 'disabled').addClass('disabled');
            }
            }

            $('.form_datatime').datetimepicker({
                format: 'yyyy/mm/dd hh:ii',
                weekStart: 1,
                autoclose: true,
                startView: 2,
                minView: 0,
                todayBtn: 'linked',
                clearBtn: true,
                language: 'zh-CN',
            }).on('changeDate', function (e) {
                if ($('#ID').val() != "0") { $('.js-polling-update').removeClass('hidden'); }
            });

            $('#btnSure').click(function() {
                $.post('UpdateTime', { Id:$('#ID').val(), endTime:$('#EndDateTime').val() },
                    function(data) {
                        if (ReturnValueFilter(data)) {
                            artDialog.alert('Update Successfully');
                            $('.js-polling-update').addClass('hidden');
                        }
                    });
            });
        });
    </script>
}
