<style type="text/css">
    td {
        word-break: break-all;
    }
    .result {
        overflow: auto;
        height: 400px;
    }
     .result li {
         list-style-type: none;
         line-height: 25px;
         font-size: 15px;
     }

    .result-icon > i {
        display: inline-block;
        margin-left: 15px;
        width: 20px;
    }

    .result-icon > i.fa-check {
        color: #1d9d74;
    }

    .result-icon > i.fa-close {
        color: #b94a48;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        
        <form class="form-inline" id="SearchForm" method="post">
            <div class="form-group">
                <div data-date-format="yyyy-mm-dd" class="input-append date date-picker" style="display:inline-block;">
                    <div class="input-group">
                        <input type="datetime" id="AccessDate" name="AccessDate" class="form-control" placeholder="Access Date" />
                        <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                    </div>
                </div>
                <a href="javascript:void(0);" class="btn btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
            </div>
        </form>

        <div class="widget-box">
            <div class="widget-content nopadding">
                @*<input type="hidden" id="Group_id" value=" " />*@
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width: 5%; text-align: center;">@T("ID")</th>
                            <th style="width: 22%">@T("JobID")</th>
                            <th style="width: 8%">@T("Type")</th>
                            <th style="width: 8%">@T("Status")</th>
                            <th style="width: 10%">@T("CreatedDate")</th>
                            <th style="width: 5%">@T("Operation")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="view_result" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title">Result List</h4>
            </div>
            <div class="modal-body">
                <ol class="result"></ol>
            </div>
            <div class="modal-footer">
                <button id="BtnExport" type="button" class="btn btn-success btn-sm" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>
<!--/End Modal-->

@section scripts_Foot
{
    <script>
        var uploader;
        $(document).ready(function() {

            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": { "url": 'GetPageReportList' },
                "aoColumns": [
                    {
                        "mData": "Id",
                        "bSortable": false,
                        "sClass": "sTdCheckbox"
                    },
                    {
                        "mData": "JobID",
                        "bSearchable": false,
                        "bSortable": false
                    },
                    { "mData": "Type" },
                    { "mData": "StatusDisplay" },
                    { "mData": "CreatedDate" }
                ],
                "columnDefs": jQuery.extend(true, datatableSetting.columnDefs, [
                    {
                        "targets": 0,
                        "render": function(data, type, full, meta) {
                            return data;
                        }
                    },
                    {
                        "targets": 5,
                        "render": function(data, type, full, meta) {
                            return '<a href="#" onclick="GetJobResult(\'' + full.JobID + '\',\'' + full.Type + '\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:10px;" data-toggle="tooltip" data-placement="top" title="View Result"><i class="glyphicon glyphicon-list-alt"></i></a>';
                        }
                    }
                ]),
                fnDrawCallback: function () {
                    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                    $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                    $('.gotopage').click(function () {
                        var gopage = (/^[0-9]+$/).test($('#go_page').val()) ? $('#go_page').val() : "1";
                        $('.data-table').dataTable().api().page(parseInt(gopage) - 1).draw(false)
                    })
                }
            }));

            //datepicker plugin
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'yyyy-mm-dd',
                minDate: -10,
                maxDate: "+1M +10D",
                todayBtn: "linked",
                clearBtn: true
            });

            $('#view_result').on('hidden.bs.modal', function() {
                $('.result').html(""); //清空list数据
            });

            //点击后将返回的list结果导出到csv文件
            //$('#BtnExport').click(function() {
                

            //});
        });

        function GetJobResult(jobId, type) {
            $.ajax({
                type: "Get",
                url: "GetJobResult",
                data: { "jobId": jobId, "type": type },
                success: function(data) {
                    if (data.msg == "") {
                        var html;
                        switch (data.batchType) {
                        case "sync_user":
                        case "replace_user":
                            for (var i = 0; i < data.lst.length; i++) {
                                html = '<li>' + data.lst[i].userid + '&nbsp;&nbsp;&nbsp;&nbsp;<span>'
                                    + data.lst[i].errmsg + '</span>&nbsp;&nbsp;&nbsp;'
                                    + '<span class="result-icon"></span></li>';
                                $('.result').append(html);

                                if (data.lst[i].errcode == 0) {
                                    $('.result-icon').eq(i).append('<i class="fa fa-check"></i>');
                                } else {
                                    $('.result-icon').eq(i).append('<i class="fa fa-close"></i>');
                                }
                            }
                            break;
                        case "replace_party":
                            for (var x = 0; x < data.lst.length; x++) {
                                html = '<li>' + data.lst[x].partyid + '&nbsp;&nbsp;&nbsp;&nbsp;<span>'
                                    + data.lst[x].errmsg + '</span>&nbsp;&nbsp;&nbsp;<span class="result-icon"></span></li>';
                                $('.result').append(html);

                                if (data.lst[x].errcode == 0) {
                                    $('.result-icon').eq(x).append('<i class="fa fa-check"></i>');
                                } else {
                                    $('.result-icon').eq(x).append('<i class="fa fa-close"></i>');
                                }
                            }
                            break;
                        case "invite_user":
                            for (var z = 0; z < data.lst.length; z++) {
                                html = '<li>' + data.lst[z].userid + '&nbsp;&nbsp;&nbsp;&nbsp;<span>'
                                    + data.lst[z].errmsg + '</span>&nbsp;&nbsp;<span class="sr-only">'
                                    + data.lst[z].invitetype + '</span></li>';
                                $('.result').append(html);
                            }
                            break;
                        }
                        //show modal
                        $('#view_result').modal('show');

                    } else {
                        artDialog.alert(data.msg);
                    }
                    //无论结果如何 刷新表格
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart = 0;
                    LEAP.Common.MainPop.options.dataTable.fnSettings()._iRecordsTotal = 0;
                    LEAP.Common.MainPop.options.dataTable.fnDraw();
                }
            });
        }

    </script>

}
