@model Innocellence.Lccp.Backend.Models.Task
@{
    ViewBag.Title = "添加/修改Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section easyui_css{
    <link rel="stylesheet" href="~/plugins/Innocellence.Activity/Content/style.css" />
}

@{
    var rd = new Random(int.MaxValue);
}

<div id="ModalTable" style="margin: 0 auto; width:960px;">
    <form action="" method="post" id="ff" class="form-horizontal">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <input type="hidden" id="LastExecutedTime" name="LastExecutedTime" value="@Model.LastExecutedTime" />
        <input type="hidden" id="LastResult" name="LastResult" value="@Model.LastResult" />
        <input type="hidden" id="IsDeleted" name="IsDeleted" value="@Model.IsDeleted" />

        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">项目 :</label>
            <div class="col-lg-9">
                <select id="TaskProjectId" name="TaskProjectId" class="form-control" value="@Model.TaskProjectId" validate="{required:true,messages:{required:'请选择项目。'}}" required> 
                    <option value="" disabled="disabled" selected="selected" style="display: none;">请选择项目</option>
                    @foreach (var item in ViewBag.TaskProjects)
                    {
                        <option value="@item.Id">@item.TaskProjectName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">名称 :</label>
            <div class="col-lg-9">
                <input id="Name" type="text" name="Name" class="form-control" placeholder="名称" value="@Model.Name"
                       required/>
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">执行频率 :</label>
            <div class="col-lg-9">
                <select id="Frequency" name="Frequency" class="form-control" value="@Model.Frequency" required>
                    <option value="" disabled="disabled" selected="selected" style="display: none;">请选择分类</option>
                    <option value="0">每分</option>
                    <option value="1">每时</option>
                    <option value="2">每日</option>
                    <option value="3">每周</option>
                    <option value="4">每月</option>
                    <option value="5">每季</option>
                    <option value="6">每年</option>
                </select>
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">Url :</label>
            <div class="col-lg-9">
                <input id="Url" type="text" name="Url" class="form-control" placeholder="名称" value="@Model.Url"
                       required />
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">固定执行时间 :</label>
            <div class="col-lg-9">
                <input id="DailyExecutionTime" type="text" name="DailyExecutionTime" class="form-control" placeholder="从00:00:00开始计算单位为秒" value="@Model.DailyExecutionTime"
                       required
                        maxlength="7"
                       digits />
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">Job 描述 :</label>
            <div class="col-lg-9">
                <input id="Description" type="text" name="Description" class="form-control" placeholder="描述" value="@Model.Description"
                       />
            </div>
        </div>

        <div id="minute" class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">执行在第几分钟 :</label>
            <div class="col-lg-9">
                <input id="MinuteSpan" type="text" name="MinuteSpan" class="form-control" placeholder="执行频率为每分钟时起效果" value="@Model.MinuteSpan"
                       required
                       maxlength="4"
                       digits />
            </div>
        </div>

        <div id="week" class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">执行在周几 :</label>
            <div class="col-lg-9">
                <input id="WeekExecutionWeekDay" type="text" name="WeekExecutionWeekDay" class="form-control" placeholder="执行频率为每周时起效果" value="@Model.WeekExecutionWeekDay"
                       required  
                       maxlength="1"
                       pattern="[0-9]+" />
            </div>
        </div>
        <div id="month" class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">执行在每月第几天 :</label>
            <div class="col-lg-9">
                <input id="MonthExecutionDay" type="text" name="MonthExecutionDay" class="form-control" placeholder="执行频率为每月时起效果" value="@Model.MonthExecutionDay"
                       required 
                       maxlength="2"
                       pattern="[0-9]+" />
            </div>
        </div>
        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">状态 :</label>
            <div class="col-lg-9">
                @*<input id="Status" type="text" name="Status" class="form-control" placeholder="Status" value="@Model.Status"
                       validate="{required:true,maxlength:10,messages:{required:'请输入Status。',maxlength:'Status太长，请不要超过10个字。'}}" />*@
                <select id="Status" name="Status" class="form-control" value="@Model.Status" required>
                    <option value="" disabled="disabled" selected="selected" style="display: none;">请选择状态</option>
                    <option value="0">空闲</option>
                    <option value="1">正在执行</option>
                </select>
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">是否有效 :</label>
            <div class="col-lg-9">
                @*<input id="Status" type="text" name="Status" class="form-control" placeholder="Status" value="@Model.Status"
                validate="{required:true,maxlength:10,messages:{required:'请输入Status。',maxlength:'Status太长，请不要超过10个字。'}}" />*@
                <select id="IsEnabled" name="IsEnabled" class="form-control" value="@Model.IsEnabled" required>
                    <option value="" disabled="disabled" selected="selected" style="display: none;">请选择是否有效</option>
                    <option value="0">无效</option>
                    <option value="1">有效</option>
                </select>
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">警告类型 :</label>
            <div class="col-lg-9">
                @*<input id="WarningType" type="text" name="WarningType" class="form-control" placeholder="0为不警告 1是有错误时警告 2是每次都警告" value="@Model.WarningType"
                       />*@
                <select id="WarningType" name="WarningType" class="form-control" value="@Model.WarningType" required>
                    <option value="" disabled="disabled" selected="selected" style="display: none;">请选择警告类型</option>
                    <option value="0">无警告</option>
                    <option value="1">总是警告</option>
                    <option value="2">错误警告</option>
                </select>
            </div>
        </div>

        <div class="form-group col-lg-12">
            <label class="col-lg-3 control-label text-right">警告人的lillyid :</label>
            <div class="col-lg-9">
                <input id="OnErrorWarning" type="text" name="OnErrorWarning" class="form-control" placeholder="警告人的lillyid" value="@Model.OnErrorWarning"
                       />
            </div>
        </div>
        <div class="row" style="margin: 0 35px; margin-top: 15px;">
            <button data-action="save" id="btnSubmit" class="btn btn-success pull-right">保存</button>
        </div>

    </form>
</div>

@section scripts_Foot
{
    <script type="text/javascript">
        jQuery.validator.addMethod("positiveinteger", function(value, element) {
            var aint=parseInt(value);
            return aint>0&& (aint+"")==value;
        }, "Please enter a valid number.");
        $("#minute").hide();
        $("#week").hide();
        $("#month").hide();
        var validator = $('#ff').validate(
            {
                rules:
                {
                    zzs:{  positiveinteger:true}
                },
                message:{
                    zzs:{  positiveinteger:"请输入正整数"}
                },

                success: function(label)
                {
                    //        成功时执行
                }
            }
            );

        $("#Frequency").on("change",function(){
            switch($("#Frequency").val())
            {
                case "0":
                    $("#minute").show();
                    $("#week").hide();
                    $("#month").hide();
                    break;
                case "3":
                    $("#minute").hide();
                    $("#week").show();
                    $("#month").hide();
                    break;
                case "4":
                    $("#minute").hide();
                    $("#week").hide();
                    $("#month").show();
                    break;
                default:
                    $("#minute").hide();
                    $("#week").hide();
                    $("#month").hide();
                    break;
            }

        });


        $(function() {

            $('#btnSubmit').on('click', function () {
                $('#btnSubmit').attr('disabled', false);
                if (!validator.form()) {
                    return false;
                }
                var minuteSpan =  $('#MinuteSpan').val();
                var weekExecutionWeekDay = $('#WeekExecutionWeekDay').val();
                var monthExecutionDay = $('#MonthExecutionDay').val();

                switch($('#Frequency').val())
                {
                    case "0":
                        weekExecutionWeekDay = 0
                        monthExecutionDay = 0
                        break;
                    case "3":
                        minuteSpan = 0
                        monthExecutionDay = 0
                        break;
                    case "4":
                        minuteSpan = 0
                        weekExecutionWeekDay = 0
                        break;
                    default:
                        minuteSpan = 0
                        weekExecutionWeekDay = 0
                        monthExecutionDay = 0
                        break;
                }

                //$('#btnSubmit').attr('disabled', true); //防止重复提交多次
                $.ajax({
                    type: 'POST',
                    url: "/LccpBackendAdmin/task/SaveOrUpdateTask",
                    contentType: "application/json", //必须有
                    data:  JSON.stringify({
                        Id: $('#Id').val(),
                        Name: $('#Name').val(),
                        Frequency: $('#Frequency').val(),
                        Url: $('#Url').val(),
                        DailyExecutionTime: $('#DailyExecutionTime').val(),
                        Description: $('#Description').val(),
                        MinuteSpan: minuteSpan,
                        WeekExecutionWeekDay: weekExecutionWeekDay,
                        MonthExecutionDay: monthExecutionDay,
                        Status: $('#Status').val(),
                        LastExecutedTime: $('#LastExecutedTime').val(),
                        LastResult: $('#LastResult').val(),
                        IsEnabled: $('#IsEnabled').val() == 0 ? false:true,
                        IsDeleted: $('#IsDeleted').val(),
                        WarningType: $('#WarningType').val(),
                        OnErrorWarning:$('#OnErrorWarning').val(),
                        TaskProjectId: $('#TaskProjectId').val()
                    }),
                    success: function (data) {
                        $('#btnSubmit').attr('disabled', true);
                        if(data.success)
                        {
                            //if(artDialog.alert("保存成功！"))
                            //{
                            window.location.href = "/LccpBackendAdmin/Task/";

                            //}
                        }
                    }
                });

            });
        });

        $(document).ready(function () {
            //$('#Frequency').val(@Model.Frequency+1); //手动再set一遍
            $('#Frequency').val(@Model.Frequency); //手动再set一遍
            switch($("#Frequency").val())
            {
                case "0":
                    $("#minute").show();
                    $("#week").hide();
                    $("#month").hide();
                    break;
                case "3":
                    $("#minute").hide();
                    $("#week").show();
                    $("#month").hide();
                    break;
                case "4":
                    $("#minute").hide();
                    $("#week").hide();
                    $("#month").show();
                    break;
                default:
                    $("#minute").hide();
                    $("#week").hide();
                    $("#month").hide();
                    break;
            }
            $('#WarningType').val(@Model.WarningType);//手动再set一遍
            $('#Status').val(@Model.Status);//手动再set一遍
            if("@Model.IsEnabled" == "True")
            {
                $('#IsEnabled').val("1");
            }else{
                $('#IsEnabled').val("0");//手动再set一遍
            }
            if(@Model.TaskProjectId != 0)
            {
                $('#TaskProjectId').val(@Model.TaskProjectId); //手动再set一遍
            }




        });
    </script>

}
