@{
    Layout = "~/plugins/Innocellence.WeChat/Views/Shared/_wxLayout.cshtml";
}
@section Header{
    <link rel="stylesheet" href="~/Plugins/Innocellence.WeChat/Content/style.css">
}
<div class="detail col-xs-12">
    <h4>@ViewBag.Content.NewsTitle</h4>
    <span class="time">@ViewBag.CreatedTime</span>
    <div>
        @if (!string.IsNullOrEmpty(ViewBag.Content.ImageSrc))
        {
            <img src="@ViewBag.Content.ImageSrc" />
        }
        else
        {
            <img src="@ViewBag.Content.ImageContent" />
        }
    </div>
    <div class="detail-content">
        @Html.Raw(ViewBag.Content.NewsContent)
    </div>
</div>