@model Innocellence.WeChat.Domain.ModelsView.MessageView
@{
    ViewBag.Title = @Model.Title;
    ViewBag.Activemenu = @Model.Title;
    Layout = "~/plugins/Innocellence.WeChat/Views/Shared/_wxLayout.cshtml";
}

@section Header{
    <link rel="stylesheet" href="~/Plugins/Innocellence.WeChat/Content/style.css">
}

<div class="detail col-xs-12">
    <input type="hidden" name="Id" id="Id" value="@Model.Id" />
    <h4>@Model.Title</h4>
    <span class="time">@(Model.PublishDate == null?"Not Published":Model.PublishDate.Value.ToString("yyyy-MM-dd"))</span>

    <div class="detail-content">
        @Html.Raw(Model.Content)
    </div>

    <div id="rating">
        <span class="reading">阅读 @Model.ReadCount</span>
        @if(Model.IsLike.HasValue && Model.IsLike.Value){
            <div class="thumbup">
                @if(Model.IsThumbuped){
                    <i class="fa fa-thumbs-up"></i>
                }else{
                    <i class="fa fa-thumbs-o-up"></i>
                }
                <span>@Model.ThumbsUpCount </span>
            </div>
        }
    </div>
</div>

@section scripts_Foot{
    <script src="~/Scripts/Common/ImgPreview.js" type="text/javascript"></script>
    <script>
        var state = true;
        $('.thumbup').click(function () {
            if (!state) { return false; }//防止双击过快icon切换错误
            $.ajax({
                url: '/news/articleinfo/GetThumbupCount',
                type: 'Get',
                data: { "articleId": $('#Id').val(), "type": "Message" },
                success: function(data) {
                    if (data != null) {
                        //变化icon
                        setTimeout(function() {
                            if ($('.thumbup > i').attr("class").indexOf("o") > 0) {
                                $('.thumbup > i').attr("class", "fa fa-thumbs-up");
                            } else {
                                $('.thumbup > i').attr("class", "fa fa-thumbs-o-up");
                            }
                            //变化数字 
                            $('.thumbup > span').text(data.count);
                        }, 100);
                        //防止双击过快icon切换错误
                        state = true;
                    }
                }
            });
            state = false;
        });
    </script>
}