@model Innocellence.WeChat.Domain.ModelsView.MessageView
@{
    ViewBag.Title = @Model.Title;
    ViewBag.Activemenu = @Model.Title;
    Layout = "~/plugins/Innocellence.WeChat/Views/Shared/_wxLayout.cshtml";
}
@section Header{
    <link rel="stylesheet" href="~/Plugins/Innocellence.WeChat/Content/style.css">
}

<div class="detail col-xs-12">
    <h4>@Model.Title</h4>
    <span class="time">@Model.CreatedDate.Value.ToString("yyyy-MM-dd")</span>
    <div class="detail-content">
        @Html.Raw(Model.Content)
    </div>
</div>

@section scripts_Foot{
   <script src="~/Scripts/Common/ImgPreview.js" type="text/javascript"></script>
}