@using Innocellence.WeChatMeeting.Domain.Entity;
@model Innocellence.WeChatMeeting.Domain.Entity.MeetingFile

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>Meeting Invitation</title>
    @{
        Layout = null;
    }
    <script src="/Plugins/Innocellence.WeChatMeeting/Content/js/weui.min.js"></script>
    <script src="/Scripts/jquery-1.11.1.min.js"></script>
    <script src="/Plugins/Innocellence.WeChatMeeting/Content/js/MeetingInvitation.js"></script>
    <link href="/Plugins/Innocellence.WeChatMeeting/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Plugins/Innocellence.WeChatMeeting/Content/weui.min.css">
    <link rel="stylesheet" href="/Plugins/Innocellence.WeChatMeeting/Content/main.css">

</head>

<body>
    <input type="hidden" id="hid_file" value="@ViewBag.MeetFile" />
    <input type="hidden" id="file_url" value="@ViewBag.FileUrl" />
    <input type="hidden" id="hid_timeslot" value="@ViewBag.TimeSlot" />
    <input type="hidden" id="hid_meet" value="@ViewBag.MeetId" />
    <input type="hidden" id="hid_timeclass" value="@ViewBag.TimeClass" />
    <input type="hidden" id="hid_appid" value="@ViewBag.AppId" />

    <div class="container">
        <div class="metting-top">
            <div class="top-info">
                <h2 class="metting-title">@ViewBag.Title</h2>
            </div>
        </div>
        <div class="meeting-info">
            <div class="info-item">

                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <span>地点:</span>
                <p>@ViewBag.Location</p>
            </div>
            <div class="info-item">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <span>讲者:</span>
                <p>@ViewBag.Owner</p>
            </div>
            <div class="info-item" id="show_file" style="display:none;">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <span>资料:</span>
                <div class="info-file">
                    @foreach (MeetingFile file in ViewBag.MeetFile)
                    {
                        <p id="@file.Id" style="cursor:pointer;" onclick="DownloadData('@file.FilePath')">@file.FileName</p>
                    }
                </div>
            </div>
        </div>
        <div class="meeting-choose">
            <h3>选择参会时间</h3>
            <ul id="ul_time"></ul>
            <div class="common-btn" id="confirm" onclick="ConfirmSignUp()">确认报名</div>
        </div>
    </div>
</body>

</html>
