<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta content="Orchard" name="generator" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Sign Result</title>
    @{
        Layout = null;
    }
    <link href="/Plugins/Innocellence.WeChatMeeting/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Plugins/Innocellence.WeChatMeeting/Content/weui.min.css">
    <link rel="stylesheet" href="/Plugins/Innocellence.WeChatMeeting/Content/main.css">
    <script src="/Scripts/jquery-1.11.1.min.js"></script>

</head>
<body>
    <input type="hidden" id="result" value="@ViewBag.Res" />
    <input type="hidden" id="hid_stime" value="@ViewBag.StartDateTime" />
    <input type="hidden" id="hid_etime" value="@ViewBag.EndDateTime" /> 
    <div class="container">
        <div class="metting-top">
            <div class="top-info">
                <h2 class="metting-title">签到</h2>
            </div>
        </div>
        <div class="meeting-info">
            

            <div class="info-item">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <span>签到状态:</span>
                <p class="conWrap" id="msg_info"></p>
            </div>
            <div class="info-item">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <span>会议主题:</span>
                <p>@ViewBag.Title</p>
            </div>
            <div class="info-item">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <span>会议地点:</span>
                <p>@ViewBag.Location</p>
            </div>
            <div class="info-item">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <span>会议主持:</span>
                <p>@ViewBag.Owner</p>
            </div>
            <div class="info-item" id="show_file">
                <i class="fa fa-circle-o" aria-hidden="true"></i>
                <span>会议时间:</span>
                <p class="conWrap" style="font-size:14px;" id="m_time"></p>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">

    $(function () {

        var hid_stime = $("#hid_stime").val();
        var hid_etime = $("#hid_etime").val();

        if (hid_stime != "" && hid_etime != "")
        {
            if (hid_stime.substring(0, 10) == hid_etime.substring(0, 10)) {
                $("#m_time").html(ChangeDateFormat(hid_stime) + "--" + ChangeDateFormat(hid_etime).substring(11, 16));
            }
            else {
                $("#m_time").html("开始：" + ChangeDateFormat(hid_stime) + "<br>结束：" + ChangeDateFormat(hid_etime));

            }

        }
        var result = $("#result").val();
        if (result == "签到成功！") {
            $("#info").show();
            $("#msg_info").html(result);
        }
        else if (result == "您已签到过！") {
            $("#info").show();
            $("#msg_info").html(result);
        }
        else {
            $("#info").hide();
            $("#msg_info").html(result);
        }
    });

    //时间格式化
    function ChangeDateFormat(time) {
        if (time != null) {
            var date = new Date(time);
            Y = date.getFullYear() + '-';
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            var h = date.getHours();
            var minute = date.getMinutes();
            minute = minute < 10 ? ('0' + minute) : minute;

            return date.getFullYear() + "-" + month + "-" + currentDate + " " + h + ":" + minute;
        }
        return "";
    }
</script>
