@model Innocellence.Activity.Contracts.ViewModel.PollingView
@{
    ViewBag.Title = "有奖问答/投票";
    <script src="~/Scripts/ZeroClipboard/ZeroClipboard.js"></script>
}
<div class="row">

    <div class="col-xs-12">

        <form class="form-inline" id="SearchForm" method="post">
            <div class="form-group">
                <div class="form-group">
                    <input class="form-control" type="text" name="pollingName" placeholder="名称">
                </div>
                <div data-date-format="yyyy-mm-dd hh:ss" class="input-daterange input-group">
                    <input type="text" id="startDate" name="startDate" class="form-control form_datatime" placeholder="开始时间"
                           validate="{required:true,messages:{required:'请输入开始时间.'}}" />
                    <span class="input-group-addon">
                        <i class="fa fa-exchange"></i>
                    </span>
                    <input type="text" id="endDate" name="endDate" class="form-control form_datatime" placeholder="结束时间" />
                </div>
                <a href="javascript:void(0);" class="btn btn-sm" id="clear_condition" data-toggle="tooltip" data-placement="top" title="清除条件">
                    <i class="fa fa-remove"></i>
                </a>
                <a href="javascript:void(0)" class="btn  btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="按条件搜索">
                    <i class="fa fa-search"></i>
                </a>
            </div>
            <div class="form-group pull-right" style="margin-left:5px">
                @*<a href="/plugins/innocellence.wx.tools/content/PollingAcountingTemplate.xlsx" id="downloadTemplateBtn" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="下载得分统计模板">
                        <i class="fa fa-file-excel-o"></i>
                    </a>*@
                <a href="Create?appid=@ViewBag.AppId" id="addBtn" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="添加">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </form>

        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width: 5%; text-align: center;">@T("ID")</th>
                            <th style="width: 19%">@T("名称")</th>
                            <th style="width: 8%">@T("类型")</th>
                            <th style="width: 12%">@T("开始时间")</th>
                            <th style="width: 12%">@T("结束时间")</th>
                            <th style="width: 10%">@T("状态")</th>
                            <th style="width: 25%">@T("操作")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>

</div>
<input value="@ViewBag.AppId" style="display:none;" class="hidden-input"/>
@section scripts_Foot
{
    <script type="text/javascript">
        var appId='@ViewBag.AppId';
        var saveclip = new Array();
        $(document).ready(function() {

            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": { "url": "GetList?where=" + JSON.stringify({ Rules: [{ Field: 'AppId', Value: @ViewBag.AppId }] }) },
                "aoColumns": [
                    {
                        "mData": "Id",
                        "bSortable": false,
                        "sClass": "sTdCheckbox"
                    },
                    {
                        "mData": "Name",
                        "bSearchable": false,
                        "bSortable": false
                    },
                    { "mData": "Type" },
                    { "mData": "StartDateTime" },
                    { "mData": "EndDateTime" },
                    { "mData": "Status" },
                    { "mDate": "Operation", "bSortable": false }
                ],
                "columnDefs":
                    jQuery.extend(true, datatableSetting.columnDefs, [
                        {
                            "targets": 2,
                            "render": function(data, type, full, meta) {
                                var pollingType = "";
                                switch (data) {
                                    case 1:
                                        pollingType = "有奖问答";
                                        break;
                                    case 2:
                                        pollingType = "投票";
                                        break;
                                    case 3:
                                        pollingType = "活动";
                                        break;
                                    default:
                                        pollingType = "无效类型";
                                }
                                return pollingType;
                            }
                        },
                        {
                            "targets": 3,
                            "render": function(data, type, full, meta) {
                                if (data == null) {
                                    return data;
                                }
                                return data.substring(0, 10);;
                            }
                        },
                        {
                            "targets": 4,
                            "render": function(data, type, full, meta) {
                                if (data == null) {
                                    return data;
                                }
                                return data.substring(0, 10);;
                            }
                        },
                        {
                            "targets": 5,
                            "render": function(data, type, full, meta) {
                                var status = "";
                                var now = new Date();
                                if (full.EndDateTime < now.pattern('yyyy-MM-dd HH:mm:ss.fff')) {
                                    return "<span class=\"col-md-8\">已结束</span>";

                                } else if (full.StartDateTime > now.pattern('yyyy-MM-dd HH:mm:ss.fff')) {

                                    return "<span class=\"col-md-8\">未开始</span>";
                                } else {

                                    return "<span class=\"col-md-8\">进行中</span><span class=\"btn btn-success btn-xs pull-right\" onclick=\"javascript:ChangeVoteStatus('" + full.Id + "',this, '/Activity/PollingAdmin/DisablePolling')\" data-toggle=\"tooltip\" data-placement=\"top\" title=\"结束投票\"><i class=\"fa fa-cloud-upload\"></span>";
                                }

                            }
                        },
                        {
                            "targets": 6,
                            "render": function(data, type, full, meta) {

                                return '<a href="Edit?id=' + full.Id + '&appid=@ViewBag.AppId" class="artDailog btn btn-info  btn-xs" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>' +
                                    '<a href="Result?id=' + full.Id + '&appid=@ViewBag.AppId" class="artDailog btn btn-warning  btn-xs" data-toggle="tooltip" data-placement="top" title="查看结果" target="_blank"><i class="fa fa-eye"></i></a>' +
                                    '<a href="Screen?id=' + full.Id + '&appid=@ViewBag.AppId" class="artDailog btn btn-primary  btn-xs" data-toggle="tooltip" data-placement="top" title="查看大屏幕" target="_blank"><i class="fa fa-desktop"></i></a>' +
                                    '<a href="javascript:;" class="btn btn-success btn-xs js-btn-export" data-toggle="tooltip" data-placement="top" title="导出原始数据" id="btnExportPo" data-id="' + full.Id + '"><i class="fa fa-download"></i></a>' +
                                    '<a href="javascript:void(0);" onclick="LEAP.Common.MainPop.RowClick(\'' + full.Id + '\',2)" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="tooltip" data-placement="top" title="删除">' +'<i class="fa fa-trash-o"></i></a>'+
                                    '<a href="javascript:;" class="artDailog btn btn-clip btn-xs btn-success" data-text="' + full.AbsoluteUrl + 'Activity/Polling/WxVoteMainView/' + full.Id + '" id=clipR' + full.Id + ' data-toggle="tooltip" data-placement="top" title="复制链接"><i class="fa fa-chain"></i></a>'+
                                    '<a href="javascript:void(0);" class="btn btn-success btn-xs js-btn-export" data-toggle="tooltip" data-placement="top" title="复制" id="btnClone" onclick="ClonePolling(\'' + full.Id + '\')"><i class="ace-icon fa fa-files-o bigger-120"></i></a>' ;
                            }
                        }
                    ]),
                
                fnDrawCallback:
                    function() { 
                        $('[data-toggle="tooltip"]').tooltip();
                        $.each(saveclip, function (index) {
                            saveclip[index].destroy();
                        });
                        saveclip.splice(0);
                        $('.btn-clip').each(function () {
                            var text = $(this).attr("data-text");
                            var clip = new ZeroClipboard.Client(null,'复制链接');
                            saveclip.push(clip);
                            clip.setHandCursor(true); 
                            clip.setText(text);
                            clip.glue($(this).attr("id"));
                            clip.addEventListener("complete", function () {
                                artDialog.alert("复制成功。");
                            });
                        });
                    }
            }));

            $('.data-table').on('click', 'a.js-btn-export', function() {

                var para = '';
                var pollingId = $(this).data('id');

                if (pollingId == undefined || pollingId == "") {
                    return false;
                }

                $.download("ExportPollingResult", para + "t=" + (new Date()).getTime() + "&Id=" + pollingId);
                return true;
            });
            $('.data-table').on('click', 'a.js-btn-export1', function() {

                var para = '';
                var pollingId = $(this).data('id');

                if (pollingId == undefined || pollingId == "") {
                    return false;
                }

                $.download("/tools/home/getUserAnswers", para + "t=" + (new Date()).getTime() + "&pollingId=" + pollingId);
                return true;
            });

            //datepicker plugin
            $('.form_datatime').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                weekStart: 1,
                autoclose: true,
                todayBtn: 'linked',
                clearBtn: true,
                language: 'zh-CN',
                startView: 2,
                minView: 0,
                onClose: function() {
                    this.focus();
                }
            });

            $('#clear_condition').click(function() {
                $('input[name=pollingName]').val('');
                $('input.form_datatime').val('');
            });

        });

        function BeforeSearch() {
            if ($('#startDate').val() != "" && $('#endDate').val() == "") {
                artDialog.alert('搜索前请输入结束时间。');
                return false;
            }
            if ($('#startDate').val() == "" && $('#endDate').val() != "") {
                artDialog.alert('搜索前请输入开始时间。');
                return false;
            }
            if ($('#startDate').val() > $('#endDate').val()) {
                artDialog.alert('结束时间不能小于开始时间。');
                return false;
            }
            return true;
        }

        function ChangeVoteStatus(id, obj, url) {
            $.ajax({
                type: 'Get',
                url: url + '?pollingId=' + id,
                cache: false
            }).done(function(data) {
                artDialog.alert(data.Message);
                LEAP.Common.MainPop.options.dataTable.fnDraw(true);
            });
        }

        function ClonePolling(pollingId) {
           view.message('ClonePolling', { pollingId: pollingId, appId:  appId}).done(function(response) {
               if (response.Status!=200) {
                   artDialog.alert(response.Message);
               }

               window.location.href = 'edit?id=' + response.Data+'&appid='+appId;
           });
        }

    </script>
}