@using Infrastructure.Web.Domain.Entity;
@{
    ViewBag.Title = "平台管理中心";
    Layout = "~/Plugins/Innocellence.WeChatMain/Views/Shared/_LayoutNoMenu.cshtml";
}


@section easyui_css{
    <link rel="stylesheet" href="~/styles/EasyUI/easyui.css" />
    <link rel="stylesheet" href="~/styles/layout/layout.css" />
    <link rel="stylesheet" href="~/styles/webAdmin/style.css" />

}
<script src="/Scripts/jsviews.min.js"></script>
<script src="/Scripts/p.list.bind.js"></script>
<script src="/Scripts/pages.js"></script>
<script src="/Scripts/util.js"></script>
<style>
    .datagrid-mask-msg {
        height: 36px !important;
    }

    .select2-container-multi .select2-choices .select2-search-field input {
        font-family: inherit;
    }
</style>

<div id="PlateformManage">
    <input type="hidden" id="needLoadRoles" value="@ViewBag.NeedLoadRoels" />
    @{
        var User = Session["UserInfo"] as Infrastructure.Web.Domain.Entity.SysUser;
    }
    @*@if (User.Menus.Where(p => p.MenuName == "基本信息" & p.MenuGroup == "System Admin").Count() > 0)
    {
        <div class="form-group base-message">
            <h3>基本信息</h3>
            <div class="message">姓名：<span id="name"></span></div>
            <div class="message">密码：<a id="password" data-target="#ModalTable" data-toggle="modal">修改密码</a></div>
        </div>
    }*@

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        @if (ViewBag.IsRole && ViewBag.IsUser)
        {
            <li role="presentation" class="active"><a href="#partOne" role="tab" data-toggle="tab">权限管理</a></li>
            <li role="presentation"><a href="#partTwo" role="tab" data-toggle="tab">用户管理</a></li>
        }
        else if (ViewBag.IsRole)
        {
            <li role="presentation" class="active"><a href="#partOne" role="tab" data-toggle="tab">权限管理</a></li>
        }
        else if (ViewBag.IsUser)
        {
            <li role="presentation" class="active"><a href="#partTwo" role="tab" data-toggle="tab">用户管理</a></li>
        }
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="padding: 0px 0px; background: #fff;">
        @if (ViewBag.IsRole && ViewBag.IsUser)
        {
            <div role="tabpanel" class="tab-pane active" id="partOne">

                <div class="row" id="RoleDiv" style="display: none">
                    <div class="col-sm-12">
                        <form class="form-inline" id="SearchForm">
                            <input type="hidden" name="DeptId" id="DeptId" />
                        </form>
                        <div class="pull-right btn-margin">
                            <a class="btn btn-success btn-sm" onclick="addRoleBtnClick()" data-target="#RoleModalTable" data-toggle="modal" data-placement="top" title="增加">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="clearfix"></div>

                        <div class="table-box">
                            <div class="widget-content nopadding">
                                <table id="Role_List" class="table table-bordered table-hover data-table">
                                    <thead>
                                        <tr>
                                            <th>@T("权限")</th>
                                            <th style="width: 10%;">@T("操作")</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="partTwo">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-margin">
                            <form class="form-inline" id="SearchForm">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="search_condition" name="search_condition" placeholder="用户名 / 真实姓名 / 邮箱">
                                    <a href="#" class="btn btn-sm" onclick="InitImageList()" data-toggle="tooltip" data-placement="top" id="btnSearch" title="" data-original-title="Search by condition"><i class="fa fa-search"></i></a>
                                </div>
                                <div class="form-group pull-right">
                                    <a href="#" class="btn btn-success btn-sm" onclick="addUserBtnClick()" data-target="#UserModalTable" data-toggle="modal" data-placement="top" title="" data-original-title="Add">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                            </form>
                        </div>

                        <div class="clearfix"></div>

                        <div class="table-box">
                            <div class="widget-content nopadding">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline no-footer">
                                    <table class="table table-bordered table-hover data-table dataTable no-footer" id="DataTables_Table_0" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_disabled" rowspan="1" colspan="1">用户名</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1">真实姓名</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1">治疗领域</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1">邮箱</th>
                                                <th style="width: 8%;" class="sorting_disabled" rowspan="1" colspan="1">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="user_list"></tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-xs-6"></div>
                                        <div class="col-xs-6">
                                            <div class="dataTables_paginate paging_simple_numbers" id="data_table_test_paginate">
                                                <ul class="pagination" id="page_image"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (ViewBag.IsRole)
        {
            <div role="tabpanel" class="tab-pane active" id="partOne">

                <div class="row" id="RoleDiv" style="display: none">
                    <div class="col-sm-12">
                        <form class="form-inline" id="SearchForm">
                            <input type="hidden" name="DeptId" id="DeptId" />
                        </form>
                        <div class="pull-right btn-margin">
                            <a class="btn btn-success btn-sm" onclick="addRoleBtnClick()" data-target="#RoleModalTable" data-toggle="modal" data-placement="top" title="增加">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                        <div class="clearfix"></div>

                        <div class="table-box">
                            <div class="widget-content nopadding">
                                <table id="Role_List" class="table table-bordered table-hover data-table">
                                    <thead>
                                        <tr>
                                            <th>@T("权限")</th>
                                            <th style="width: 10%;">@T("操作")</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
        else if (ViewBag.IsUser)
        {
            <div role="tabpanel" class="tab-pane active" id="partTwo">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-margin">
                            <form class="form-inline" id="SearchForm">
                                <div class="form-group">
                                    <input class="form-control" type="text" id="search_condition" name="search_condition" placeholder="用户名 / 真实姓名 / 邮箱">
                                    <a href="#" class="btn btn-sm" onclick="InitImageList()" data-toggle="tooltip" data-placement="top" title="" data-original-title="Search by condition"><i class="fa fa-search"></i></a>
                                </div>
                                @if (ViewBag.IsRole)
                                {
                                    <div class="form-group pull-right">
                                        <a href="#" class="btn btn-success btn-sm" onclick="addUserBtnClick()" data-target="#UserModalTable" data-toggle="modal" data-placement="top" title="" data-original-title="Add">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                }
                            </form>
                        </div>

                        <div class="clearfix"></div>

                        <div class="table-box">
                            <div class="widget-content nopadding">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline no-footer">
                                    <table class="table table-bordered table-hover data-table dataTable no-footer" id="DataTables_Table_0" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting_disabled" rowspan="1" colspan="1">用户名</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1">真实姓名</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1">治疗领域</th>
                                                <th class="sorting_disabled" rowspan="1" colspan="1">邮箱</th>
                                                <th style="width: 8%;" class="sorting_disabled" rowspan="1" colspan="1">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody id="user_list"></tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-xs-6"></div>
                                        <div class="col-xs-6">
                                            <div class="dataTables_paginate paging_simple_numbers" id="data_table_test_paginate">
                                                <ul class="pagination" id="page_image"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


    <div id="ModalTable" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="blue bigger">请填写以下内容</h4>
                </div>

                <div class="modal-body">
                    <form id="change-password-form" method="post" class="form-horizontal">
                        <input type="hidden" id="Id-popup" name="Id" value="0" />

                        <div class="form-group">
                            <div class="col-sm-2 ">姓名:</div>
                            <div id="name-popup" class="col-sm-10 ">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">原始密码:</div>
                            <div class="col-sm-10">
                                <input type="password" id="password-popup" name="PasswordHash" class="form-control" placeholder="Password" data-bind="value: PasswordHash"
                                       validate="{required:true}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">新密码:</div>
                            <div class="col-sm-10">
                                <input type="password" id="new-password" class="form-control" placeholder="Password" validate="{required:true}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">确认密码:</div>
                            <div class="col-sm-10">
                                <input type="password" id="new-password-confirm" class="form-control" placeholder="Password" validate="{required:true}" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        取消
                    </button>

                    <button class="btn btn-sm btn-primary" id="save-btn">
                        <i class="ace-icon fa fa-check"></i>
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="RoleModalTable" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    @*<h4 class="blue bigger">请填写以下内容 </h4>
                    *@
                </div>

                <div class="modal-body">
                    <div id="RoleModalEditForm" class="form-horizontal">
                        <input type="hidden" id="ID" name="ID" sysroleid="true" value="0" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色名：</label>
                            <div class="col-sm-9">
                                <input type="text" name="Name" id="RoleName" class="form-control" placeholder="Role Name" data-bind="value: Name"
                                       validate="{required:true}" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        取消
                    </button>

                    <button class="btn btn-sm btn-primary" id="RoleSaveBtn">
                        <i class="ace-icon fa fa-check"></i>
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="TreeModalMenu" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="permission-name" class="blue bigger">请填写以下内容 </h4>
                </div>

                <div class="modal-body">
                    <form action="SetMenu" id="ff" method="get" class="form-horizontal" datasource="Get">
                        <input type="hidden" id="ID" name="ID" value="0" />
                        <input type="hidden" id="RoleID" name="RoleID" value="" />
                        <div class="form-group">
                            <label class="col-sm-12 control-label" style="text-align: left">MenuName:</label>
                            <div class="col-sm-12">
                                <input type="hidden" name="Menus" id="Menus" />
                                <ul id="addtree"></ul>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        取消
                    </button>

                    <button class="btn btn-sm btn-primary" data-action="save">
                        <i class="ace-icon fa fa-check"></i>
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="UserModalTable" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="blue bigger">请填写以下内容 </h4>
                </div>

                <div class="modal-body">
                    <form action="Post" id="updateUserForm" method="get" class="form-horizontal" datasource="Get">
                        <input type="hidden" id="ID" name="ID" value="0" />
                        <input type="hidden" id="UserPWDHash" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户名:</label>
                            <div class="col-sm-9">
                                <input type="text" name="UserName" class="form-control" placeholder="输入用户名" data-bind="value: UserName"
                                       validate="{required:true}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">新密码:</label>
                            <div class="col-sm-9">
                                <input type="password" name="PasswordHash" id="new-password" class="form-control" placeholder="请输入新密码" data-bind="value: PasswordHash"
                                       validate="{required:true}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">确认密码:</label>
                            <div class="col-sm-9">
                                <input type="password" id="new-password-confirm" class="form-control" placeholder="请再次输入密码" data-bind="value: PasswordHash"
                                       validate="{required:true}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">真实姓名:</label>
                            <div class="col-sm-9">
                                <input type="text" name="UserTrueName" class="form-control" placeholder="请输入真实姓名" data-bind="value: UserTrueName"
                                       validate="{required:true}" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">治疗领域:</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="sltTA" id="sltTA">
                                    @if (ViewBag.TAs != null)
                                    {
                                        foreach (SelectListItem item in ViewBag.TAs)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">邮箱:</label>
                            <div class="col-sm-9">
                                <input type="text" name="Email" class="form-control" placeholder="请输入邮箱" data-bind="value: Email"
                                       validate="{required:true}" />
                            </div>
                        </div>
                        @if (ViewBag.IsRole)
                        {
                            <div class="form-group">
                                <label class="col-sm-3 control-label">权限:</label>
                                <div class="col-sm-9">
                                    <select multiple="" class="select2 tag-input-style" name="strRoles" id="strRoles" data-placeholder="Choose a Role..." data-bind="value: strRoles">

                                        @if (ViewBag.Roles != null)
                                        {
                                            foreach (SysRole a in ViewBag.Roles)
                                            {
                                                <option value="@a.Id">@a.Name</option>
                                            }
                                        }

                                    </select>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="hidden" name="strRoles" class="form-control" data-bind="value: strRoles" />
                                </div>
                            </div>
                        }
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        取消
                    </button>

                    <button class="btn btn-sm btn-primary" onclick="SaveUserBtnClick()">
                        <i class="ace-icon fa fa-check"></i>
                        保存
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts_Foot
{
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>

    <script type="text/javascript">
        var treeMenu;
        var IdCur;
        var htmlStr = '<tr role="row">' +
                      '<td>{{: UserName}}</td>' +
                      '<td>{{: UserTrueName}}</td>' +
                      '<td>{{: TANameDES}}</td>' +
                      '<td>{{: Email}}</td>' +
                      '<td><a href="#" onclick="EditUser(\'{{: Id}}\', \'{{: TAName}}\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right: 4px;" data-toggle="modal" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a><a href="#" onclick="DeleteUserBtnClick(\'{{: Id}}\');return false;" class="btn btn-danger btn-xs" data-toggle="modal" data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a></td>' +
                      '</tr>';

        function InitImageList() {
            $('#user_list').LEAPDataBind({
                renderId: "user_list",
                url: "/SysUser/GetList",
                data: "search_condition=" + $('#search_condition').val(),
                pageSize: 10,
                pagerId: "page_image",
                isPage: true,
                renderHtml: htmlStr,
            });
        }

        $(document).ready(function () {
            LoadUserInfo();
            InitImageList();
            if ($('#needLoadRoles').val()) {
                $('#RoleDiv').show();
                LEAP.Common.MainPop.options.dataTable = $('#Role_List').dataTable(jQuery.extend(true, datatableSetting, {
                    "ajax": {
                        "url": "/SysRole/GetList",
                    },
                    "paging": true,
                    "info": false,
                    "aoColumns": [
                       { "mData": 'Name' },
                       { "mData": "Operation" }
                    ],
                    "columnDefs": [
                    {
                        "targets": 1,
                        "render": function (data, type, full, meta) {
                            return '<a href="#" onclick="EditRoleMenu(\'' + full.Id + '\',\'' + full.Name + '\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:4px;" data-target="#RoleModalTable" data-toggle="modal" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>' +
                                 '<a href="#" onclick="LEAP.Common.MainPop.RowClick(\'' + full.Id + '\',2,' + null + ',\'/SysRole/Delete\');return false;" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="modal" data-placement="top" title="删除">' +
                                 '<i class="fa fa-trash-o"></i></a>' + '<a href="#" onclick="SetRoleMenu(\'' + full.Id + '\', \'' + full.Name + '\' );return false;" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="modal" data-placement="top" title="设置角色菜单">' +
                                 '<i class="glyphicon glyphicon-cog"></i></a>';
                        }
                    }],
                    fnDrawCallback: function () {

                        $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });

                    },
                }));

                treeMenu = $("#TreeModalMenu").formPopup({
                    afterShowModal: function () {

                        $('#addtree').tree({
                            url: '/SysMenu/GetTreeData?ID=' + IdCur + '&time=' + (new Date()).getTime() + '&needAllMenu=true',
                            checkbox: true,
                            method: 'get'
                        });

                    },
                    validateSubmit: function (o) {

                        var nodes = $('#addtree').tree('getChecked');
                        var strIDs = '';
                        $.each(nodes, function (i, item) {
                            strIDs += ',' + item.id;
                        });
                        $('#Menus').val('');
                        if (strIDs != '') {
                            $('#Menus').val(strIDs.substring(1));
                        }
                        $('#RoleID').val(IdCur);
                        return true;
                    }
                });

                $('#RoleModalTable').formPopup({
                    editForm: $('#RoleModalEditForm'),
                });
            }
            else {
                $('#RoleDiv').hide();
            }
            $('.select2').css("width", "362px").select2({ allowClear: true });

        });

        function addUserBtnClick() {
            $('#UserModalTable input').val('');
            $('.select2').select2('val', '');
            $('#UserModalTable input[name=ID]').val(0);
        }

        function EditUser(id, ta) {            
            $.ajax({
                url: "/SysUser/Get",
                data: { Id: id },
                success: function (data) {
                    $('#UserModalTable input').val('');
                    $('#UserModalTable input[name=ID]').val(data.Id);
                    $('#UserModalTable input[name=UserName]').val(data.UserName);
                    $('#UserModalTable #UserPWDHash').val(data.PasswordHash);
                    $('#UserModalTable input[name=UserTrueName]').val(data.UserTrueName);
                    $('#UserModalTable input[name=Email]').val(data.Email);
                    $('#UserModalTable input[name=strRoles]').val(data.strRoles);
                    $('.select2').select2('val', data.strRoles.split(','));
                    if (ta != null && ta != "") {
                        $("#sltTA").find("option[value=" + ta + "]").attr("selected", true);
                    }
                    $('#UserModalTable').modal('show');
                },
            });
        }

        function SaveUserBtnClick() {
            if (ValidateUserMsg() && ValidatePsw('#UserModalTable', false)) {
                var $form = $("#updateUserForm")
                var postData = $form.serializeArray(); 
                $form.find('select[multiple]').each(function (i, item) {
                    var bolUpdate = false;
                    $(postData).each(function (ii, valueData) {
                        if (valueData.name == item.name) {
                            var selectValue = $(item).val();
                            if (selectValue != null && selectValue != '' && selectValue.length > 0) {
                                valueData.value = selectValue.join(',');
                            }
                            bolUpdate = true;
                            return;
                        }
                    });

                    if (!bolUpdate) {
                        var selectValue = $(item).val();
                        if (selectValue != null && selectValue != '' && selectValue.length > 0) {
                            selectValue = $(item).val().join(',');
                        } else {
                            selectValue = '';
                        }
                        postData.push({
                            name: item.name,
                            value: selectValue
                        });
                    }

                });

                if (postData[6].value.length > 0) {
                    $.post("/SysUser/Post", postData, function (result) {
                        InitImageList();
                        $('#UserModalTable').modal('hide');
                    });
                } else {
                    alert("请选择Role.");
                }

            }
        }

        function DeleteUserBtnClick(id) {
            AlertMsg('确定删除该条记录? ', function () {
                $.get("/SysUser/Delete", {
                    "sIds": id
                }, function (data) {
                    InitImageList();
                });
                return true;
            });
        }

        function AlertMsg(msg, okEvent) {
            var d = dialog({
                title: '请确认',
                content: msg,
                okValue: '确认',
                ok: okEvent == null ? function () { } : okEvent,
                cancelValue: '取消',
                cancel: function () { }
            });
            d.showModal();
        }

        function addRoleBtnClick() {
            $('input[sysRoleID=true]').val(0);
            $('#RoleName').val('');
        }

        function EditRoleMenu(id, name) {
            $('input[sysRoleID=true]').val(id);
            $('#RoleName').val(name);
        }

        function SetRoleMenu(id, name) {
            $("#permission-name").text(name);
            IdCur = id;
            treeMenu.TableButtonClick(0, 0);
        }

        $("#password").on('click', function () {
            $.ajax({
                url: "http://" + window.location.host + "/SysUser/GetCurrentUser?t=" + (new Date()).getTime(),
                type: "get",
                data: {},
                datatype: "json",
                success: function (result) {
                    $("#name-popup").text(result.UserName);
                    //$("#password-popup").val(result.PasswordHash);
                    $("#Id-popup").val(result.Id);
                },
                error: function (msg) {
                }
            });
        });

        $("#save-btn").on('click', function () {
            var newPWD = $('#ModalTable #new-password').val();
            var confirmPWD = $('#new-password-confirm').val();
            if (ValidatePsw('#ModalTable', true)) {
                $.ajax({
                    url: "http://" + window.location.host + "/SysUser/ChangePassword?newPWD=" + newPWD,
                    type: "POST",
                    data: $("#change-password-form").serialize(),
                    datatype: "json",
                    success: function (result) {
                        if (result.Status == 200) {
                            window.location.href = "http://" + window.location.host + "/WeChatMain/PlateformManage/index";
                        }
                        else {
                            alert(result.Message);
                        }
                    },
                    error: function (msg) {
                        alert(msg);
                    }
                });
            }
        });

        $('#RoleSaveBtn').on('click', function () {
            if ($('#RoleName').val().trim() === '') {
                alert("请输入角色名.");
                return;
            }
            var id = $("#RoleModalEditForm").find("input[id=ID]").val();
            var name = $("#RoleModalEditForm").find("input[id=RoleName]").val();
            $.ajax({
                type: 'Post',
                url: '/SysRole/Post',
                data: { 'ID': id, 'Name': name },
                success: function (data) {
                    if (data.Data == 410) {
                        $("#RoleModalTable").modal("hide");
                        AlertMsg("已有该名称的权限", function () {
                            $("#RoleModalTable").modal("show");
                        })
                    }
                    else {
                        window.location.href = "http://" + window.location.host + "/WeChatMain/PlateformManage/index";
                    }
                    //$('.data-table').dataTable().api().draw(true);
                    //$("#RoleModalTable").modal("hide");
                },
            });
        });

        function ValidateUserMsg() {
            var userName = $('#UserModalTable input[name=UserName]').val();
            var userTrueName = $('#UserModalTable input[name=UserTrueName]').val();
            if (userName == '') {
                alert("请输入用户名");
                $('#UserModalTable input[name=UserName]').focus();
                return false;
            }
            if (userTrueName == '') {
                alert("请输入真实姓名");
                $('#UserModalTable input[name=UserTrueName]').focus();
                return false;
            }
            PWDChanged('#UserModalTable');
            return true;
        }

        function PWDChanged(modalId) {
            var newPWD = $(modalId + ' #new-password').val();
            var confirmPWD = $(modalId + ' #new-password-confirm').val();
            if (newPWD.length == 0 && confirmPWD.length == 0) {
                $(modalId + ' #new-password').val($(modalId + ' #UserPWDHash').val());
                $(modalId + ' #new-password-confirm').val($(modalId + ' #UserPWDHash').val());
            }
        }

        function ValidatePsw(modalId, checkOldPWD) {
            var oldPWD = $(modalId + " #password-popup").val();
            var newPWD = $(modalId + ' #new-password').val();
            var confirmPWD = $(modalId + ' #new-password-confirm').val();

            if (checkOldPWD && oldPWD.length < 6) {
                alert("请重新输入原始密码");
                $(modalId + " #password-popup").focus();
                return false;
            }

            if (checkPass(newPWD) < 3) {
                alert("新密码复杂度不够, 请重新输入(8位及以上, 由数字及大小写英文字母组成.)");
                $(modalId + ' #new-password').focus();
                return false;
            }

            if (newPWD != confirmPWD) {
                alert("两次输入的新密码不同, 请重新输入.");
                return false;
            }
            return true;
        }

        function checkPass(pass) {
            if (pass.length < 8) { return 0; }
            var ls = 0;
            if (pass.match(/([a-z])+/)) { ls++; }
            if (pass.match(/([0-9])+/)) { ls++; }
            if (pass.match(/([A-Z])+/)) { ls++; }
            if (pass.match(/[^a-zA-Z0-9]+/)) { ls++; }
            return ls;
        }

        function LoadUserInfo() {
            $.ajax({
                url: "http://" + window.location.host + "/SysUser/GetCurrentUser",
                type: "get",
                data: {},
                datatype: "json",
                success: function (result) {
                    $("#name").html = "";
                    $("#name").append(result.UserName);
                },
                error: function (msg) {
                }
            });
        }
    </script>
}