<!-- 口令管理List页面 -->
<div class="subpage-title">
    <div class="pull-left">
    	口令管理
    </div>      	    
    <div class="clear"></div>
</div>
<div class="row" style="margin-top: 65px;">
    <div class="col-sm-12">
        <form class="form-inline" id="SearchForm">
            <div class="form-group">
                <div class="form-group">
                    <select id="keywordType" class="form-control" name="type" data-placeholder="Please Select Keyword Type" >
                        <option value="" selected="selected">请选择口令类型</option>
                        @foreach(var item in ViewBag.KeywordTypes)
                        {
                            <option value="@item.Value">@item.Description</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <input class="input form-control" type="text" name="name" placeholder="口令搜索" maxlength="20">
                    </div>
                    <a href="#" class="btn  btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
                </div>
            </div>
            <div class="form-group" style="float: right; ">
                <a href="javascript:Add()" class="btn btn-white btn-primary" data-toggle="tooltip" data-placement="top" title="增加">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </form>
        <div class="clearfix"></div>
            
        <div class="table-box">
            <table class="table table-bordered data-table">
                <thead>
                    <tr>
                        <th style="width:15%">@T("名字")</th>
                        <th style="width:30%">@T("描述")</th>
                        <th style="width:15%">@T("类型")</th>
                        <th style="width:15%">@T("创建者序号")</th>
                        <th style="width:10%">@T("创建时间")</th>
                        <th style="width:10%">@T("操作")</th>
                        <th style="display:none"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <input type="hidden" id="hiddenAppId" value="@ViewBag.AppId" />
</div>


@section scripts_Foot
{
    <script src="~/Plugins/Innocellence.WechatMain/Scripts/autoreply.index.js"></script>
}
