@model Innocellence.WeChat.Domain.Entity.ArticleInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.ArticleTitle</title>
    <link rel="stylesheet" href="~/styles/bootstrap.css" />
    <script src="/Scripts/jquery.dataTables.bootstrap.js"></script>


    <link rel="stylesheet" href="~/Plugins/Innocellence.WeChat/Content/style.css">
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <style>
        body {
            font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
        }

        .preview_title {
            padding-bottom: 10px;
            margin-bottom: 14px;
            border-bottom: 1px solid #e7e7eb;
            line-height: 1.4;
            font-weight: 400;
            font-size: 24px;
        }

        .preview_meta_list {
            position: relative;
            z-index: 1;
            margin-bottom: 18px;
            line-height: 20px;
        }

        .rich_media_content {
            word-wrap: break-word;
            overflow: hidden;
            color: #3e3e3e;
            min-height: 350px;
        }

            .rich_media_content img {
                max-width: 100%;
            }

        .page_content {
            background-color: #fff;
            padding-bottom: 100px;
            border-bottom: 1px solid #e7e7eb;
        }

        .image_content {
            padding-bottom: 20px;
        }
    </style>


</head>
<body>
    <input type="hidden" name="AppID" id="AppID" value="@Model.AppId" />

    <div class="col-md-3"></div>
    <div class="page_content col-md-6">
        <h2 class="preview_title">@Model.ArticleTitle</h2>
        <div class="preview_meta_list">
            <span>@Model.CreatedDate.Value.ToString("yyyy-MM-dd")</span>
        </div>
        @*<div class="image_content">
                <img src="@Model.ImageCoverUrl" />
            </div>*@
        <div class="rich_media_content">
            @Html.Raw(Model.ArticleContent)
        </div>
    </div>

    <div class="col-md-3"></div>
</body>
</html>
<script type="text/javascript">
    var polling = $('.polling_js');
    if (polling != null) {
        for (var i = 0; i < polling.length; i++) {
            var pollingid = polling.eq(i).attr("_pollingid");

            $.ajax({
                 url: '/Activity/PollingAdmin/WxPolling',
                type: 'Get',
                data: { "id": pollingid, "wechatid": @Model.AppId, "appId": @Model.AppId},
                async: false,
                success: function (data) {
                    if (data != null) {
                        polling.eq(i).replaceWith(data);
                        $("#btnSend_"+pollingid).attr("disabled",true);
                    }
                }
            });
        }
    }

    
</script>