<!--Action boxes-->
  <div class="row">
      <div class="col-sm-12">
          <div>
              <form class="form-inline" id="SearchForm">
                  <input type="hidden" name="DeptId" id="DeptId" />
                  <div class="form-group">
                      <div class="form-group">
                          <input class="input-small form-control" type="text" name="txtSurveyTitle" placeholder="Survey Title">
                      </div>
                      @*<div class="form-group">
                          <select class="form-control" name="txtSurveyCate">
                              <option value="">Select Survey Category</option>
                               @foreach (var cat in ViewBag.lstCate)
                                {
                                    <option value="@cat.Id">@cat.CategoryName</option>
                                }
                          </select>
                      </div>*@
                      <a href="#" class="btn  btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
                  </div>
                  <div class="form-group" style="float: right;">
                      <a href="#" class="btn btn-success btn-sm" id="btnAdd" data-toggle="tooltip" data-placement="top" title="Add Survey">
                      <i class="fa fa-plus"></i></a>
                  </div>
              </form>
          </div>
          <div class="widget-box">
              <div class="widget-content nopadding">
                  <table class="table table-bordered table-hover data-table">
                      <thead>
                          <tr>
                              <th style="width:5%;text-align:center;">@T("ID")</th>
                              <th>@T("Title")</th>
                              <th>@T("Url")</th>
                              <th style="width:10%;">@T("Operation")</th>
                          </tr>
                      </thead>
                  </table>
              </div>
          </div>

          <div style="display:none;" class="">
            <div class="row" id="SurveyEdit">
                <div class="widget-box" style="width:500px">
                    <div class="widget-header">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Survey</h5>
                    </div>
                    <div class="widget-body">
                        <form action="Post" id="ff" method="get" class="form-horizontal" datasource="Get">
                            <input type="hidden" id="ID" name="ID" data-bind="value: Id" />
                            <input type="hidden" id="IdEN" name="IdEN" data-bind="value: IdEN" />
                            <div class="form-group">
                                <label class="col-sm-3 control-label">调查标题:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="SurveyTitle" class="form-control" placeholder="Survey Title" data-bind="value: SurveyTitle" 
                                    validate="{required:true,messages:{required:'请填写调查标题!'}}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Title:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="SurveyTitleEN" class="form-control" placeholder="Survey Title" data-bind="value: SurveyTitleEN" 
                                    validate="{required:true,messages:{required:'Please set a title for this survey!'}}"/>
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label class="col-sm-3 control-label">Category:</label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="SurveyCateEN" data-bind="value: SurveyCateEN"
                                    validate="{required:true,messages:{required:'Please select the category of survey!'}}">
                                        <option value="">Please select category</option>
                                        @foreach (var cat in ViewBag.lstCate)
                                        {
                                            <option value="@cat.CategoryCode">@cat.CategoryName</option>
                                        }
                                    </select>
                                </div>
                           </div>*@
                           <div class="form-group">
                                <label class="col-sm-3 control-label">URL:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="SurveyURL" class="form-control" placeholder="Survey URL" data-bind="value: SurveyURL"
                                     validate="{required:true,url:true,messages:{required:'Please input the survey link address !'}}" />
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-success pull-right">Save</button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--/End surveyEdit-->
      </div>
 </div>

@section scripts_Foot
{
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
        $(document).ready(function () {
            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": {
                    "url": "GetList"
                },
                "aoColumns": [
                   {
                       "mData": 'Id',
                       "bSortable": false,
                       "sClass": "sTdCheckbox"
                   },
                   {
                       "mData": "SurveyTitle",
                       "bSearchable": false,
                       "bSortable": false //自定义列的样式
                   },
                   //{ "mData": "SurveyCateName" },
                   { "mData": "SurveyURL" },
                   { "mData": "Operation"}
                ],
                "columnDefs": [
                {
                    "targets": 3,
                    "render": function (data, type, full, meta) {
                        return '<a href="#" onclick="LEAP.Common.MainPop.ShowUpdateInfo(\'' + full.SurveyCode + '\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:10px;" data-toggle="tooltip" data-placement="top" title="Edit Survey"><i class="fa fa-pencil"></i></a>'+
                               '<a href="#" onclick="LEAP.Common.MainPop.RowClick(\'' + full.Id + '\',2)" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="tooltip" data-placement="top" title="Delete Survey">' +
                               '<i class="fa fa-trash-o"></i></a>';
                    }
                }],
                fnDrawCallback: function () {
                    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                    $('#DataTables_Table_0_wrapper > .row:first-child').remove();
                    $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                    $('.gotopage').click(function () {
                        var gopage = (/^[0-9]+$/).test($('#go_page').val()) ? $('#go_page').val() : "1";
                        $('.data-table').dataTable().api().page(parseInt(gopage) - 1).draw(false)
                    })
                }
            }));

        });

    </script>
}

