@{
    ViewBag.Title = "Menu Report";
}

<div class="row">
    <div class="col-sm-12">

        <form class="form-inline" id="SearchForm" method="post">
            <input type="hidden" name="appid" id="appid" value="@ViewBag.AppId" />
            <div class="form-group">
                <div data-date-format="yyyy-mm-dd" class="input-daterange input-group">
                    <input type="datetime" name="BeginDate" id="BeginDate" class="form-control" placeholder="开始日期" />
                    <span class="input-group-addon">
                        <i class="fa fa-exchange"></i>
                    </span>
                    <input type="datetime" name="EndDate" id="EndDate" class="form-control" placeholder="结束日期" />
                </div>
                <button type="button" class="btn btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top"><i class="fa fa-search"></i></button>
            </div>
            <div class="form-group pull-right">
                <button type="button" class="btn btn-sm btn-success" id="btnExport">
                    <i class="fa fa-download"></i>输出
                </button>
            </div>
        </form>

        <div class="widget-box">
            <div class="widget-content nopadding">

                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width: 5%; text-align: center;">@T("ID")</th>
                            <th style="width: 15%; text-align: center;">@T("微信昵称")</th>
                            <th style="width: 15%">@T("关联用户标签")</th>
                            <th style="width: 10%">@T("操作行为")</th>
                            <th style="width: 15%">@T("操作时间")</th>
                            <th style="width: 10%">@T("会员号")</th>
                            <th style="width: 10%">@T("注册时间")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>

@section scripts_Foot
    {
    <script>
            var uploader;
            $(document).ready(function () {
                //$("#dateSearch").on('click', function () {
                //    var star = $("#BeginDate").val();
                //    var end = $("#EndDate").val();
                //    var startime = new Date(star);
                //    var endtime = new Date(end);
                //    if (startime.getTime() >= endtime.getTime()) {
                //        artDialog.alert("结束时间要大于开始时间。");

                //  }
                //else {
                //      return LEAP.Common.MainPop.TableSearchClick();
                // }
                //}
                //)

                LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                    "ajax": { "url": "GetMpReportList" },
                    "aoColumns": [
                        {
                            "mData": "Id",
                            "bSortable": false
                        },
                      { "mData": "UserName" },
                      { "mData": "FollowTag" },
                      { "mData": "ContentType" },
                      { "mData": "CreatedTime" },
                      { "mData": "CustomerNO" },
                      { "mData": "CustomerRegisteredTime" }
                      

                    ],
                    "columnDefs": jQuery.extend(true, datatableSetting.columnDefs, [
                    {
                        "targets": 0,
                        "render": function (data, type, full, meta) {
                            return full.Id
                            ;
                        }
                    },

                    ]),
                    fnDrawCallback: function () {
                        $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                        $('.gotopage').click(function () {
                            var gopage = (/^[0-9]+$/).test($('#go_page').val()) ? $('#go_page').val() : "1";
                            $('.data-table').dataTable().api().page(parseInt(gopage) - 1).draw(false)
                        })
                    }
                }));

                //datepicker plugin
                $('.input-daterange').datepicker({
                    autoclose: true,
                    todayHighlight: true,
                    dateFormat: 'yyyy-mm-dd',
                    minDate: -10,
                    maxDate: "+1M +10D",
                    todayBtn: "linked",
                    clearBtn: true
                });
            });

            function checkdate() {
               var start = $("#BeginDate").val();
                var end = $("#EndDate").val();
                if (start == null || start.length == 0) {
                    artDialog.alert("起始日期不能为空");
                    return false;
                }
                if (end == null || end.length == 0) {
                    artDialog.alert("截止日期不能为空");
                    return false;
                }

                var startime = new Date(start);
                var endtime = new Date(end);
                if (startime.getTime() > endtime.getTime()) {
                    artDialog.alert("截止日期不能早于起始日期。");
                    return false;
                    //Math.floor(date3 / (24 * 3600 * 1000))
                } else if (Math.floor((endtime.getTime() - startime.getTime()) / (24 * 3600 * 1000)) > 60) {
                    artDialog.alert("间隔时间不能超过两个月。");
                    return false;
                }
                return true;
            }

            function BeforeExport() {
                return checkdate();
            }

            function BeforeSearch() {
                return checkdate();
            }
    </script>
}
