@using Innocellence.WeChat.Domain.ModelsView;
@using Innocellence.WeChat.Domain.Entity;
@model Innocellence.WeChat.Domain.ModelsView.ArticleImagesView

<div class="row">
    <div class="col-sm-12">
        <div>
            <form class="form-inline" id="SearchForm" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <input class="form-control" type="text" name="txtCreateBy" placeholder="Created By">
                    </div>
                    <div data-date-format="yyyy-mm-dd" class="input-append date date-picker" style="display:inline-block;">
                        <div class="input-group">
                            <input type="datetime" name="txtDate" class="form-control" placeholder="Created Date" />
                            <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                        </div>
                    </div>
                    <a href="#" class="btn btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
                </div>

            </form>
        </div>
        <div class="widget-box">
            <div class="widget-content nopadding">

                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th style="width: 10%; text-align: center;">@T("ID")</th>
                            <th style="width: 45%">@T("Image")</th>
                            <th style="width: 20%">@T("Create Date")</th>
                            <th style="width: 20%">@T("Create By")</th>
                            <th style="width: 5%; text-align: center;">@T("Operation")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>

@section scripts_Foot
{
    <script type="text/javascript">
        var uploader;
        $(document).ready(function () {

            var url = "GetList", appid = '@ViewBag.AppId';
            if (appid != '') {
                url += "?where=" + JSON.stringify({ Rules: [{ Field: 'AppId', value: appid }] });
            }

            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": { "url": url },
                "aoColumns": [
                  {
                      "mData": "Id",
                      "bSortable": false,
                      "sClass": "sTdCheckbox"
                  },

                  { "mData": "ImageName" },
                  { "mData": "CreatedDate" },
                  { "mData": "CreatedUserID" },
                  { "mData": "Operation", "bSortable": false }
                ],
                "columnDefs": jQuery.extend(true, datatableSetting.columnDefs, [
                {
                    "targets": 1,
                    "render": function (data, type, full, meta) {
                        return '<a href="' + full.ImageName + '" target="_blank"><img id="preview" style="height: 60px" src="/Common/ThumbFile?id=' + full.Id + '&FileName=' + data + '&ImgType=1" /></a>';
                    }
                }, {
                    "targets": 4,
                    "render": function (data, type, full, meta) {
                        return '<a href="javascript:void(0);" onclick="LEAP.Common.MainPop.RowClick(\'' + full.Id + '\',2)" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="tooltip" data-placement="top" title="删除">' +
                               '<i class="fa fa-trash-o"></i></a>';
                    }
                }]),
                fnDrawCallback: function () {
                    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover' });
                    $('ul.pagination').append("<li class='paginate_button'><input type='text' style='width:30px;float:left' id='go_page'></li><li class='paginate_button'><a class='gotopage'>Go</a></li>")
                    $('.gotopage').click(function () {
                        var gopage = (/^[0-9]+$/).test($('#go_page').val()) ? $('#go_page').val() : "1";
                        $('.data-table').dataTable().api().page(parseInt(gopage) - 1).draw(false)
                    })
                }
            }));


            LEAP.Common.MainPop.options.beforeShowModal = function () {
                $('#NewsImg').val('');
            };

            LEAP.Common.MainPop.options.afterShowModal = function () {

                if (uploader) {
                    uploadFileObj.clear();

                } else {

                    uploader = uploadFileObj.uploadFile({
                        pick: {
                            id: '#filePicker',
                            label: 'Select'
                        },
                        onSuccess: function (file, response) {
                            $('#NewsImgObj').attr('src', response.result.Src);
                            $('#NewsImg').val(response.result.Src);
                        },
                        server: '/Common/PostImage',
                        fileNumLimit: 1,
                        fileSingleSizeLimit: 200 * 1024

                    });

                }

            };

            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true,
                dateFormat: 'yyyy-mm-dd',
                minDate: -10,
                maxDate: "+1M +10D",
                clearBtn: true,
                todayBtn: "linked"
            });
        
            $('#DataTables_Table_0_wrapper > .row:first-child').remove();
        });

    </script>
}
